<div ng-controller="businessManagement.clientRelationships.customer.explore" style="padding-top:20px;">
  <div class="col-md-3" style="border-right:solid 2px #eeeeee;">
    <div class="row text-center">
      <h3>{{customerData.name}}</h3>
    </div>
    <div class="row">

      <div class="row">
        <div class="col-md-4 text-right">
          <strong>TIN:</strong>
        </div>
        <div class="col-md-8">
          <span>{{customerData.tin}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right">
          <strong>CIN:</strong>
        </div>
        <div class="col-md-8">
          <span>{{customerData.cin}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right">
          <strong>MOB:</strong>
        </div>
        <div class="col-md-8">
          <span class="text-muted">{{customerData.mobile}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="container-fluid col-md-6" ng-repeat="c in contactItems">

      <div class="card">
        <div class="row" style="border-bottom: 1px solid #dedede;margin:0px;" >
          <div class="col-md-4" style="padding:0px;">
            <img style="width: 120px;height:120px;" class="img" ng-src="{{c | getCRMDP}}">
            </div>
          <div class="col-md-8" style="position:relative;display:block;">
            <div class="row" style="padding-left:30px;">
              <h3>{{c.name}}</h3><br>
              <span class="text-muted" style="font-size:15px;">{{c.designation}}</span>
            </div>
            </div>
        </div>
        <div class="row container-fluid" style="padding-top:20px;height:70px;width: 320px;">
          <div class="col-md-12" style="z-index: 1;">
            <span ng-if="c.mobile != null"><strong><i style="width:30px;" class="fa fa-mobile"></i> </strong>{{c.mobile}}</span> <br>
            <span ng-if="c.email != null"><strong><i style="width:30px;" class="fa fa-envelope"></i> </strong>{{c.email}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
