<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-8" style="padding-left:0px">
      <div class="row container-fluid" style="margin:8px 10px; background-color:#fff; border-radius:5px; padding-bottom:15px;">
        <div class="row text-center" style="border-bottom:1px solid #e0e0e0">
          <h3 style="font-weight:700; color:#414142">Balance</h3>
        </div>
        <div class="row text-center" style="padding-top:5px;">
          <div class="col-xs-5 col-md-offset-1">
            <div class="row text-center text-muted">
              HOURS
            </div>
            <div class="row" style="margin-top:30px;">
              <div class="col-xs-6" style="padding-left:30px;padding-right:30px;">
                <div class="card container-fluid text-muted card_mob" style="border-radius:10px;">
                  <span style="font-size:60px;">{{form.hours1}}</span>
                </div>
              </div>
              <div class="col-xs-6" style="padding-left:30px;padding-right:30px;">
                <div class="card container-fluid text-muted card_mob" style="border-radius:10px;">
                  <span style="font-size:60px;">{{form.hours2}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="container-fluid" style="padding-top:50px;">
              <span style="font-size:60px;">:</span>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="row text-center text-muted">
              MINUTES
            </div>
            <div class="row" style="margin-top:30px;">
              <div class="col-xs-6" style="padding-left:30px;padding-right:30px;">
                <div class="card container-fluid text-muted card_mob" style="border-radius:10px;">
                  <span style="font-size:60px;">{{form.minutes1}}</span>
                </div>
              </div>
              <div class="col-xs-6" style="padding-left:30px;padding-right:30px;">
                <div class="card container-fluid text-muted card_mob" style="border-radius:10px;">
                  <span style="font-size:60px;">{{form.minutes2}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center" style="padding-top:30px;">
          <div class="col-md-4 col-md-offset-2">
            <button type="button" class="btn_gradient btn_g" ng-click="startSession()">START A SESSION</button>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <button type="button" class="btn_gradient btn_g" ng-click="addHours()">ADD MORE TIME</button>
          </div>
        </div>
        <div class="row text-center" style="border-bottom:1px solid #e0e0e0; padding-top:30px;">
          <h3 style="font-weight:700; color:#414142">Sessions</h3>
        </div>
        <div class="row" style="padding:10px 0px; margin:15px 5px; border-radius: 5px; background-color:#3e5884; color:#fff;" ng-repeat="sess in userSessions" ng-init="sess.duration=durationCal(sess.start,sess.end);sess.userPk=me.pk">
          <div class="col-md-3">
            <p> <b> Subject :</b> {{sess.subject.title}}</p>
          </div>
          <div class="col-md-3">
            <p> <b> Topic :</b> {{sess.topic.title}}</p>
          </div>
          <div class="col-md-3">
            <p> <b> Tutor :</b> {{sess.tutor.first_name}} <span ng-if="sessionData.tutor.last_name">{{sess.tutor.last_name}}</span></p>
          </div>
          <div class="col-md-2" style="padding-right:0px">
            <p> <b> Duration :</b> {{sess.duration}}</p>
          </div>
          <div class="col-md-1 text-right" style="font-size:25px;padding:0px;padding-right:10px;margin-bottom:-16px;margin-top:-3px;">
            <span ng-click="viewSession($index)" style="cursor:pointer"><i class="fa fa-info-circle"></i></span>
          </div>
        </div>
        <div class="row" ng-if="userSessions.length==0">
          <div class="col-md-12 text-center text-muted">
            <h3>You have not taken any session yet! Click on start a session to connect to your Tutor </h3>
          </div>
        </div>
        <div class="row" ng-if="showMore">
          <div class="col-md-7 col-sm-offset-5">
            <button type="button" class="btn_gradient" ng-click="getUsersessions()" style="margin:0px;padding:7px;border-radius:20px">Show More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-right:0px">
      <div class="row container-fluid" style="margin:8px 10px;">
        <div class="row text-center">
          <div style="padding-top:50px">
            <span ng-if="me.profile.displayPicture"><img ng-src={{me.profile.displayPicture}} alt="" style="height:150px;width:150px; border-radius:50%;"></span>
            <span ng-if="me.profile.displayPicture==null"><img src="/static/images/userIcon.png" alt="" style="height:150px;width:150px; border-radius:50%;"></span>
          </div>
        </div>
        <div class="row text-center">
          <p style="font-size:20px; font-weight:700; color: #414142; margin:10px 0px;">{{me.first_name}} <span ng-if="me.last_name">{{me.last_name}}</span></p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="font-size:15px; font-weight:400; color: #414142;"> <b>Standard :</b> class {{profileData.standard}}</p>
            <p style="font-size:15px; font-weight:400; color: #414142;"> <b>{{profileData.school=='S'?'School':'College'}} :</b> {{profileData.schoolName}} </p>
            <p style="font-size:15px; font-weight:400; color: #414142;"> <b>Email :</b> {{profileData.parentEmail}}</p>
            <p style="font-size:15px; font-weight:400; color: #414142;"> <b>Phone :</b> {{profileData.parentMobile}} </p>
            <p style="font-size:15px; font-weight:400; color: #414142;"> <b>Address :</b> {{profileData.street}}, {{profileData.city}}, {{profileData.state}}, {{profileData.pinCode}}, {{profileData.country}}</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="btn-group">
            <a href="/logout" type="button" class="btn btn-danger" style="margin:0px;float:right;padding:0.933em 2em;border-bottom-right-radius:7px !important;border-top-right-radius:25px !important">LOGOUT</a>
            <button type="button" class="btn_gradient" ng-click="editProfile()" style="margin:0px;border-radius:0px;border-bottom-left-radius:7px !important;border-top-left-radius:25px">EDIT PROFILE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
