  <div class="container-fluid"style="padding:30px;">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="form.fname" placeholder="">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" ng-model="form.lname" placeholder="">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" ng-model="form.email" placeholder="">
    </div>
    <div class="form-group">
      <label>Mobile</label>
      <input type="text" class="form-control" ng-model="form.mobile" placeholder="">
    </div>
    <div class="form-group">
      <label>Resume</label>
      <input type="file" class="" ng-model="form.resume" placeholder="">
    </div>
    <div class="form-group">
      <label>Cover Letter</label>
      <textarea type="text" class="form-control" ng-model="form.cletter" cols="" rows="5" style="resize: none;"></textarea>
    </div>
    <div class="pull-right form-group">
      <button type="button" class="btn btn-primary" ng-click"save()">Done</button>
    </div>
  </div>
