<div class="modal-header bg-aqua text-center">
  <h4 style="margin:0px">Edit Profile Details</h4>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="form-group">
        School <switch ng-model="profileform.collegeMode" class="green"></switch><span style="margin-left:10px;">College</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>{{profileform.collegeMode?'College':'School'}} Name</label>
        <input type="text" ng-model="profileform.schoolName" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Standard</label>
        <select class="form-control" ng-model="profileform.standard">
          <option value="1">Class 1</option>
          <option value="2">Class 2</option>
          <option value="3">Class 3</option>
          <option value="4">Class 4</option>
          <option value="5">Class 5</option>
          <option value="6">Class 6</option>
          <option value="7">Class 7</option>
          <option value="8">Class 8</option>
          <option value="9">Class 9</option>
          <option value="10">Class 10</option>
          <option value="11">Class 11</option>
          <option value="12">Class 12</option>
          <option value="13">Entrence Exam Preparation</option>
          <option value="14">Undergraduates Programs</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Parent Email</label>
        <input type="text" ng-model="profileform.parentEmail" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Parent Mobile</label>
        <input type="text" ng-model="profileform.parentMobile" class="form-control">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Address</label>
        <input placeholder="Street" type="text " class="form-control" ng-model="profileform.street">
        <div class="row" style="margin-top:5px;">
          <div class=" col-md-6">
            <input placeholder="City" type="text " class="form-control" ng-model="profileform.city">
          </div>
          <div class="col-md-6">
            <input placeholder="State" type="text " class="form-control" ng-model="profileform.state">
          </div>

        </div>
        <div class="row" style="margin-top:5px;">
          <div class=" col-md-6">
            <input placeholder="pincode" type="tele " class="form-control" ng-model="profileform.pinCode">
          </div>
          <div class="col-md-6">
            <input placeholder="Country" type="text " class="form-control" ng-model="profileform.country">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()" >Cancel</button>
</div>
