<uib-tabset>
  <uib-tab active="searchTabActive">
    <uib-tab-heading>
      Browse
      <i class="fa fa-list-ul"></i>
    </uib-tab-heading>
    <!-- <div class="card" style="min-height:65vh;" > -->
      <div class="card-body">
        <div class="row" >
          <div class="col-md-4" ng-repeat="r in reviewData">
            <div class="row" style="margin-bottom:30px;">
              <div class="col-md-12">
                <div class="card" style="margin-bottom:-2px; border-radius:4px 4px 0px 0px;">
                  <div class="card-body">
                    <div class="row" style="padding:0px 10px; min-height:100px;">
                      <div class="col-md-12">
                        <h6>UID : {{r[0].uid}}</h6>
                      </div>
                      <div class="col-md-12">
                        <h6>Date : {{r[0].created | date : "dd-MMM-yyyy"}}</h6>
                      </div>
                      <div class="col-md-12">
                        <h6>{{r[0].email}}</h6>
                      </div>
                    </div>
                    <!-- <div class="row btn btn-block btn-primary" style="border-top:1px solid #eee; padding:10px;">
                    View
                    <div class="col-md-8">
                  </div>
                  <div class="col-md-4">
                  <span ng-click="tableAction($index)" class="pull-right" style="cursor:pointer;"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div> -->
            </div>
          </div>
          <div class="btn btn-block btn-primary" style="border-top:1px solid #eee; padding:10px; border-radius:0px 0px 4px 4px;" ng-click="tableAction($index)">
            View Chat
            <!-- <div class="col-md-8">
          </div>
          <div class="col-md-4">
          <span ng-click="tableAction($index)" class="pull-right" style="cursor:pointer;"><i class="fa fa-info-circle fa-lg"></i></span>
        </div> -->
      </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </uib-tab>

  <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
    <uib-tab-heading>
      {{tab.title}}
      <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
    </uib-tab-heading>
    <div ng-if="tab.app == 'ChatInfo'">
      <div ng-include="'/static/ngTemplates/app.customer.reviews.explore.html'"></div>
    </div>
  </uib-tab>
</uib-tabset>
