<div class="modal-header text-center" style="background:#101a62;color:white;">
  <h4 style="margin:0px">{{who}}</h4>
</div>
<div class="modal-body">
  <div class="container-fluid" ng-if="who == 'Pradeep'">
    <div class="col-md-4">
      <img src="/static/images/pradeep.png" alt="" class="round_img"  style="width:100px;">
    </div>
    <div class="col-md-8">
      B.Tech , IIT Bombay - Aerospace Engineering <br>
      Ex-HCL   <br>
      Ex-UIPath  <br>
      Ex-SumTotal <br>
      Co-Founder, CIOC <br>
    </div>
  </div>

  <div class="container-fluid" ng-if="who == 'Raj'">
    <div class="col-md-4">
      <img src="/static/images/raj.jpg" alt="" class="round_img"  style="width:100px;">
    </div>
    <div class="col-md-8">
      B.Tech , IIT Bombay - Aerospace Engineering <br>
      M.Tech , IIT Kanpur - Aerospace Engineering <br>
      Co-Founder, CIOC <br>
    </div>
  </div>

  <div class="container-fluid" ng-if="who == 'Divyam'">
    <div class="col-md-4">
      <img src="/static/images/divyam.jpg" alt="" class="round_img"  style="width:100px;">
    </div>
    <div class="col-md-8">
      B.Tech , IIT Bombay - Aerospace Engineering <br>
      MS , TU Delft, Netherlands <br>
      PhD , TU Berlin, Germany
    </div>
  </div>

  <div class="container-fluid" ng-if="who == 'Atharva'">
    <div class="col-md-4">
      <img src="/static/images/atharwa.jpg" alt="" class="round_img"  style="width:100px;">
    </div>
    <div class="col-md-8">
      B.Tech , IIT Bombay - Chemical Engineering <br>
      M.Tech , IIT Bombay - Chemical Engineering <br>
      PhD , University of Wisconsin , USA
    </div>
  </div>

  <div class="container-fluid" ng-if="who == 'Ashwini'">
    <div class="col-md-4">
      <img src="/static/images/ashwini.jpeg" alt="" class="round_img"  style="width:100px;">
    </div>
    <div class="col-md-8">
      B.Tech , IIT Bombay - Aerospace Engineering <br>
      6 Years of teaching experience (Various institutes in Kota, Rajasthan)
    </div>
  </div>



</div>
