<div class="card-body">
  <div class="row" style="padding-bottom:10px;">
    <div class="col-md-4" style="font-size:20px;">
      <span ><i class="fa fa-desktop"></i> &nbsp;<span>Window Colour</span> &nbsp;</span>
    </div>
    <div class="col-md-8">
        <input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.windowColor">
    </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
    <div class="col-md-4" style="font-size:20px;">
      <span ><i class="fa fa-desktop"></i> &nbsp;<span>Font Colour</span> &nbsp;</span>
    </div>
    <div class="col-md-8">
        <input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.fontColor">
    </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
    <div class="col-md-4" style="font-size:20px;">
      <span ><i class="fa fa-gg-circle"></i> &nbsp;<span>SupportBubble Colour</span> &nbsp;</span>
    </div>
    <div class="col-md-8">
        <input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.supportBubbleColor">
    </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
    <div class="col-md-4" style="font-size:20px;">
      <span ><i class="fa fa-info-circle"></i> &nbsp;<span>Icon Colour</span> &nbsp;</span>
    </div>
    <div class="col-md-8">
        <input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.iconColor">
    </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
    <input type="radio" name="" value=""><span>Here</span>
    <input type="radio" name="" value=""><span>there</span>
  </div>
  <div class="row" style="padding-bottom:10px;">
    <div class="col-md-4" style="font-size:20px;">
      <span ><i class="fa  fa-picture-o"></i> &nbsp;<span>Picture</span></span>
    </div>
    <div class="col-md-8">
        <input type="file" file-model="cpForm.dp">
    </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
    <div class="col-md-4" style="font-size:20px;">
      <span ><i class="fa fa-user"></i> &nbsp;<span>Name</span></span>
    </div>
    <div class="col-md-8">
      <input class="form-control" type="text" ng-model="cpForm.name">
    </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
    <div class="col-md-4" style="font-size:20px;">
      <span ><i class="fa fa-commenting-o"></i> &nbsp;<span>First Message</span></span>
    </div>
    <div class="col-md-8">
      <textarea ui-tinymce="tinymceOptions" ng-model="cpForm.firstMessage"></textarea>
    </div>
  </div>
  <!-- <div class="row">
      <div class="form-group">
          <i class="fa fa-desktop"></i> &nbsp; <label>Window Colour</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.windowColor">
      </div>
      <div class="form-group">
        <i class="fa fa-gg-circle"></i> &nbsp; <label>SupportBubble Colour</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.supportBubbleColor">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-user"></i> &nbsp; <label>Name</label>
          </div>
          <div class="col-md-10">
            <input class="form-control" type="text" ng-model="cpForm.name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <i class="fa  fa-picture-o"></i> &nbsp; <label>Picture</label>
          </div>
          <div class="col-md-10">
            <input type="file" file-model="cpForm.dp">
          </div>
        </div>
      </div>
  </div><br> -->
  <div class="row justify-content-center" style="padding:15px;">
    <button type="button" class="btn btn-primary " ng-click="saveCustomerProfile()">Save</button>
  </div>
</div>
