<div class="card-body">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="btn btn-block {{docForm!=none&&docForm.title.length==0?'btn-warning':'btn-light'}}" ng-click="addDoc(-1)" style="font-size:18px">
          Add Document &nbsp;<i class="fa fa-plus fa-lg"></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="padding-top:15px">
      <div class="col-md-3">
        <div class="row" style="border-right:solid 2px #eeeeee;min-height:54vh;position:relative;" ng-if="custDocs.length>0||docForm!=none">
          <div class="row text-center container-fluid card" ng-repeat="doc in custDocs" ng-click="addDoc($index)" style="cursor:pointer;font-size:18px;padding:10px;margin:10px; {{docForm.pk==doc.pk?'background-color:#ffb22b':'background-color: #e9e9e9 !important;'}}">
            {{doc.title}}
          </div>
          <!-- <div ng-repeat="doc in custDocs">
            <p>{{doc.title}}</p>
          </div> -->
        </div>
      </div>
      <div class="col-md-9" style="padding-left:35px" ng-if="docForm!=none">
        <div class="row text-center">
          <h4>{{docForm.pk!=none?'Edit':'Create'}} Document <span ng-if="docForm.pk!=none">- {{docForm.title}}</span></h4>
        </div>
        <!-- <div class="row">
          <div class="form-group">
            <label>Title</label>
            <input type="text " class="form-control" ng-model="docForm.title">
          </div>
          <div class="form-group" ng-if="docForm.text!=null">
            <label>Content</label>
            <textarea ui-tinymce="tinymceOptions" ng-model="docForm.text"></textarea>
          </div>
          <div class="form-group" ng-if="docForm.docs!=null">
            <label>Document</label>
            <input type="file" file-model="docForm.docs">
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Title</label>
              <input type="text " class="form-control" ng-model="docForm.title">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="form-group" ng-if="docForm.text!=null">
              <label>Content</label>
              <textarea ui-tinymce="tinymceOptions" ng-model="docForm.text"></textarea>
            </div>
          </div>
          <div class="col-md-3" ng-if="docForm.text!=null">
            <uib-tabset>
              <uib-tab>
                <uib-tab-heading>
                  Article
                </uib-tab-heading>
                  <div >
                    <p style="color:red;margin:15px 0px">Category</p>
                    <select class="form-control" id="category" style="margin:5px 0px">
                      <option>Syrow</option>
                      <option>erp</option>
                      <option>random</option>
                    </select>
                    <select class="form-control" id="" style="margin:5px 0px">
                      <option>Syrow</option>
                      <option>erp</option>
                      <option>random</option>
                    </select>
                    <p style="color:red;margin:15px 0px">Article owner</p>
                    <select class="form-control" id="" style="margin:5px 0px">
                      <option>Syrow</option>
                      <option>erp</option>
                      <option>random</option>
                    </select>
                    <p style="color:red;margin:20px 0px;">Display permission</p>
                        <ul class="list-inline versions"  style="font-size:15px">
                          <li  style="padding:0px"><button  ng-class="{active : agents}" ng-click="agents=true">Agents</button></li>
                          <li style="padding:0px"><button ng-class="{active : regd}" ng-click="regd=true">Reg. users</button></li>
                          <li style="padding:0px"><button ng-class="{active : all}" ng-click="all=true">All users</button></li>
                        </ul>

                  </div>
              </uib-tab>
              <uib-tab>
                  <uib-tab-heading>
                      TOC
                  </uib-tab-heading>
                  <div class="toc">
                    <ol style="margin:20px 0px;">
                      <li style="color:  #5257d2;font-size:20px;" ng-repeat="x in h1_array" ng-if="$index!=0">{{x.title}}
                        <ol>
                          <li style="margin:10px 0px;color:black;font-size:15px"ng-repeat="y in x.childeren" ng-if="$index!=0">{{y.title}}</li>
                        </ol>
                      </li>
                    </ol>
                  </div>

              </uib-tab>
              <uib-tab>
                  <uib-tab-heading>
                      Versions
                  </uib-tab-heading>
                  <div class="versions" style="margin:30px 0px">
                    <div ng-repeat='version in versions' >
                        <button  style="width:100%;padding:5px;cursor:pointer;" ng-class="{active : activeVersion === version}" ng-click="setActiveVersion(version)"> {{ version.title }}</button>
                    </div>

                  </div>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" ng-if="docForm.docs!=null">
              <label>Document</label>
              <input type="file" file-model="docForm.docs">
            </div>
          </div>
        </div>
        <div class="row" style="padding:20px">
          <div class="col-md-2 col-md-offset-5">
            <div class="btn btn-success" style="font-size:18px" ng-click="saveDoc()">
              Save Document
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
