<div class="container-fluid min_padd" style="margin-top:50px;background-image:url('/static/images/24tut/checkout.jpg');background-size:cover;">
  <div class="col-md-8 col-md-offset-1 text-center min_padd" style="color:#fff;">
    <h3><strong>Class 12 JEE course-2018-19</strong> </h3>
    <span>some descritption of the course</span>
  </div>
  <div class="col-md-12 col-lg-10 col-lg-offset-1" style="color:#fff;">
    <div class="col-md-4 col-lg-3 col-lg-offset-1">
      <h4> <strong>What will you Learn</strong> </h4>
      <span></span>
    </div>
    <div class="col-md-4 abt_div">
      <h4> <strong>About This Course</strong> </h4>
      <h5>24tutors JEE Crash course is designed to be a complete course to cover the entire syllabus designed for 12 JEE Mains and is geared towards bringing maximum performance from a child. This course will be taken by expert certified JEE
        teachers with 10+ years of experience and have produced Top All India Ranks .

        Course will aim to complete the revision and practice of entire syllabus by end of Feb. In this course teacher will start with the revision, here teacher will do a quick summary of chapter , key formulas , concepts. There will be detailed
        testing where teacher will share objective tests for practice which will be evaluated and discussed in sessions.</h5>
    </div>
    <div class="col-md-4 price_box">
      <div class="" style="color: #fff;background: rgba(136,128,123,0.14);padding: 15px;border-top-right-radius: 5px;border-top-left-radius: 5px;margin-top:10px;">
        <h5><i class="fa fa-check-circle-o fa-fw" aria-hidden="true"></i> Course Duration <b>30 hours</b> </h5>
        <h5><i class="fa fa-check-circle-o fa-fw" aria-hidden="true"></i> Batches Starting from <b>28th Jan</b> </h5>
      </div>
      <div class="" style="color:#46c8f9;    background: #635c58;padding: 12px 15px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;text-align: center;">
        Course Price <span style="font-size:20px;"> <b>&#8377; 10,000</b> </span>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-12 min_padd">
    <h3 class="text-center"> <strong>Confirm Billing Info</strong> </h3>
  </div>

  <div class="col-md-10 col-md-offset-1 hd_screen">
    <div class="col-md-6 col-md-offset-1 bill_div" style="background:#fff;padding: 15px;border-top-right-radius: 5px;border-top-left-radius: 5px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <!-- <div class="form-group">
        <label>State/Union Territory</label>
        <span class="pull-right" style="font-size:12px;color:#999;">(For GST)</span>
        <input type="text" class="form-control" id="" placeholder="">
      </div> -->
      <div class="form-group">
        <label>State/Union Territory</label>
        <select class="form-control">
          <option value="kar">Karnataka</option>
          <option value="del">Delhi</option>
          <option value="himp">Himachal Pradesh</option>
          <option value="assa">Assam</option>
          <option value="raja">Rajasthan</option>
          <option value="tami">Tamil Nadu</option>
          <option value="ker">Kerala</option>
        </select>
      </div>
      <div class="min_padd">
        <label class="min_padd"><strong>Select Mode of Payment</strong></label>
        <div class="col-md-12 no_padding">
          <div class="col-md-6 " style="padding-left:5px;padding-right:5px;">
            <div class="container-fluid pay_card" style="background-color:#ffe3c8;border:1px solid hsla(46,91%,86%,.7);cursor:pointer;"ng-click="payment('online')">
              <div class="col-md-2 no_padding col-xs-2" style="padding-top:7px;">
                <img src="/static/images/24tut/credit-cards.png">
              </div>
              <div class="col-md-10 no_padding col-xs-10">
                <h4> <strong>Pay Online</strong> </h4>
                <h5 class="text-muted">Pay by card, Netbanking, Wallet or UPI.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding-left:5px;padding-right:5px;">
            <div class="container-fluid pay_card" style="background-color:#e1f3f7;border:1px solid rgba(125,235,250,.36);cursor:pointer;"ng-click="payment('cash')">
              <div class="col-md-2 no_padding col-xs-2" style="padding-top:7px;">
                <img src="/static/images/24tut/wallet.png">
              </div>
              <div class="col-md-10 no_padding col-xs-10">
                <h4> <strong>Pay By Cash</strong> </h4>
                <h5 class="text-muted">Our representative will schedule a cash pickup visit.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 summary_div">
      <h3 class="text-center"> <strong>Order Summary</strong> </h3>
      <hr>
      <div class="row priced_items">
        <div class="col-md-2 col-xs-2">
          <img src="/static/images/24tut/cnote.png" alt="">
        </div>
        <div class="col-md-6 col-xs-6">
          <h5 style="margin:0px;"> <strong>Learn</strong> </h5>
          <span style="font-size:10px;color:#999;">for 6 Months</span>
        </div>
        <div class="col-md-4 col-xs-4">
          <span> <b>&#8377; 10,000</b> </span>
        </div>
      </div>
      <div class="row priced_items">
        <div class="col-md-2 col-xs-2">
          <img src="/static/images/24tut/test.png" alt="">
        </div>
        <div class="col-md-6 col-xs-6">
          <h5 style="margin:0px;"> <strong>Tests</strong> </h5>
          <span style="font-size:10px;color:#999;">for 6 Months</span>
        </div>
        <div class="col-md-4 col-xs-4">
          <span> <b>&#8377; 12,000</b> </span>
        </div>
      </div>
      <div class="row priced_items">
        <div class="col-md-2 col-xs-2">
          <img src="/static/images/24tut/asking.png" alt="">
        </div>
        <div class="col-md-6 col-xs-6">
          <h5 style="margin:0px;"> <strong>Doubts</strong> </h5>
          <span style="font-size:10px;color:#999;">for 6 Months</span>
        </div>
        <div class="col-md-4 col-xs-4">
          <span> <b>&#8377; 20,000</b> </span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="container-fluid">
          <span><b>Total</b> </span>
          <span class="pull-right"><b>&#8377; 42,000</b> </span><br>
          <span><b>You Save</b> <span class="text-muted">(3% off)</span> </span>
          <span class="pull-right" style="color:#e83838"><b>&#8377; -1,260</b> </span>
        </div>
        <h6 class="text-center" style="color:#3ee385;cursor:pointer;padding:10px;" ng-click="coupon()" ng-show="showapply"> <b>APPLY COUPON / INVITE CODE</b> </h6>
        <div class="input-group"ng-show="showCoupon"style="padding:10px 15px;">
             <input id="msg" type="text" class="form-control" name="msg" placeholder="COUPON / INVITE CODE">
             <span class="input-group-addon"style="background-color:#3ee385;border:0px solid black;color:#fff;"><b>APPLY</b> </span>
        </div>
      </div>
      <div class="row" style="background:#eee;padding:15px 0px;">
        <div class="container-fluid">
          <span> <b>Total Payable</b> </span>
          <span class="pull-right" style="color:#2b9f79"><b> <sup>&#8377;</sup> 40,740</b> </span>
        </div>
      </div>
    </div>
  </div>
</div>
