<div class="shaddowed card bg-white " style="position:relative;min-height:92vh;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <uib-tabset style="margin-left: 15px;">
            <uib-tab active="searchTabActive">
              <uib-tab-heading>
                <i class="fa fa-globe"></i> In Process
              </uib-tab-heading>
              <div class="col-md-12" style="padding-left:0px">
                <generic-Table data="data.processData" config-Obj="{{processconfig}}" callback-Fn="processTableAction"></generic-Table>
              </div>
            </uib-tab>
            <uib-tab>
              <uib-tab-heading>
                <i class="fa fa-list-ul"></i> Completed
              </uib-tab-heading>
              <div class="col-md-12" style="padding-left:0px">
                <generic-Table data="data.completedData" config-Obj="{{completedconfig}}" callback-Fn="completedTableAction"></generic-Table>
              </div>
            </uib-tab>
            <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
              <uib-tab-heading>
                {{tab.title}}
                <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
              </uib-tab-heading>
              <div ng-if="tab.app == 'orderInfo'">
                <div ng-include="'/static/ngTemplates/app.deliveryCenter.online.orders.explore.html'"></div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
