<!-- <div class="bg-white " style="position:relative;min-height:92vh;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>
    <div class="container-fluid">
      <div class="row">
        <h1>reportssssssss</h1>
      </div>
    </div>
  </div>
</div> -->

<div class="shaddowed card bg-white " style="position:relative;min-height:92vh;">
  <div class="container-fluid" style="padding:10px;">
    <breadcrumb></breadcrumb>
    <div class="container-fluid">
      <div class="col-md-4 col-md-offset-4 text-center">
        <div class="input-group">
          <input ng-model="form.country" uib-typeahead="user as getName(user) for user in userSearch($viewValue)" type="text" class="form-control" placeholder="Name ...">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="status.start = true;">Search <i class="fa fa-user"></i></button>
          </span>
        </div>
      </div>
  </div>
  </div>
</div>
