<div class="modal-header text-center">
  <h3>Order Details ({{order.created | timeAgo}})</h3>
</div>
<div class="modal-body">
  <div class="container-fluid" ng-if="viewTyp=='edit'">
    <div style="padding-top:20px;">
      <div class="col-md-12">
        <div class="col-md-3" style="border-right:solid 2px #eeeeee;min-height:82vh;position:relative;">

          <div class="row text-center">
            <h3>{{order.created | date : dd-MMM-yyyy}}</h3>
            <h4>Status : {{order.status}}</h4>
            <h4>Amount : <i class="fa {{currency}}"></i> {{order.totalAmount}}</h4>
          </div>
          <div class="row" style="margin-top:20px;font-size:18px;padding:5px 15px">
            <span><strong>Shoping : </strong>{{order.modeOfShopping}} <br></span>
            <span><strong>Shippinp Charges : </strong><i class="fa {{currency}}"></i> {{order.shippingCharges}} <br></span>
            <span><strong>Payment Mode : </strong>{{order.paymentMode}} <br></span>
            <span><strong>Paid Amount : </strong><i class="fa {{currency}}"></i> {{order.paidAmount}} <br></span>
            <span><strong>Payment Status : </strong>{{order.paymentStatus}} <br></span>
            <span><strong>Payment RefId : </strong>{{order.paymentRefId}} <br></span>
            <span><strong>Payment Channel : </strong>{{order.paymentChannel}} <br></span>
            <span ng-if="order.promoCode!=null"><strong>promoCode : </strong>{{order.promoCode}} <br></span>
            <!-- <span><strong>LandMark : </strong>{{order.landMark}} <br></span> -->
          </div>
          <div class="row" style="margin-top:20px;">
            <div class="col-md-2">
              <i class="fa fa-map-marker fa-3x pull-right" style="color:#8faec2;"></i>
            </div>
            <div class="col-md-10" style="font-size:18px">
              <span><strong>LandMark :</strong> {{order.landMark}} <br></span>
              <span>{{order.street}}</span> <br>
              <span>{{order.city}}</span> <br>
              <span>{{order.state}}</span> <br>
              <span>{{order.pincode}}</span> <br>
              <span>{{order.country}}</span> <br>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
              <i class="fa fa-mobile-phone fa-2x pull-right" style="color:#8faec2;"></i>
            </div>
            <div class="col-md-10" style="font-size:18px">
              <span>{{order.mobileNo}}</span> <br><br>
            </div>
          </div>

        </div>
        <div class="col-md-9" ng-if="order.orderQtyMap.length>0">
          <div class="row">
            <div class="col-md-4">
              <div class="col-md-12" ng-if="checkConditions.posPrinting">
                <div class="input-group" ng-if="!connected">
                  <input type="text" class="form-control" placeholder="Please enter device ID" ng-model="connectData.deviceID">
                  <!-- <p class="help-block" style="font-size:12px">Please Connect The Device First</p> -->
                  <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="connectDevice()">Connect</button>
              </span>
                </div>
                <div class="input-group" ng-if="connected">
                  <input type="text" class="form-control" value="{{connectData.deviceID}}" disabled>
                  <span class="input-group-btn">
                <button type="button" class="btn btn-danger" ng-click="disconnectDevice()">Disconnect</button>
              </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center" ng-if="order.approved">
                <h3>Approved <i class='fa fa-check' style="color:green"></i></h3>
              </div>
              <div class="text-center" ng-if="order.approved!=null && !order.approved">
                <h3>Rejected <i class='fa fa-times' style="color:red"></i></h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group pull-right" ng-if="order.approved==null">
                <button type="button" class="btn btn-primary" mwl-confirm title="Approve" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="orderApproved(order.pk,true)" confirm-button-type="default" cancel-button-type="default">Approve </button>
                <button type="button" class="btn btn-danger" mwl-confirm title="Reject" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="orderApproved(order.pk,false)" confirm-button-type="default" cancel-button-type="default">Reject </button>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12" ng-if="!checkConditions.splitOrder" style="padding-top:15px">
              <!-- <div class="col-md-4" ng-if="checkConditions.thirdParty">
            <input type="checkbox" ng-model="selectAll.toWatch"> SelectAll
          </div> -->
              <div class="col-md-4" ng-if="checkConditions.thirdParty && order.status!='failed' && order.orderQtyMap[succIdx].courierName==null && order.orderQtyMap[succIdx].courierAWBNo==null">
                <div class="form-group">
                  <button type="button" class="btn btn-primary" mwl-confirm title="Approve" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="generateManifestForAll()" confirm-button-type="default" cancel-button-type="default">Generate Manifest </button>
                  <p class="help-block">Generate Manifest for selected orders</p>
                </div>
              </div>
              <div class="col-md-4" ng-if="!checkConditions.thirdParty && order.status!='failed' && order.orderQtyMap[succIdx].courierName==null && order.orderQtyMap[succIdx].courierAWBNo==null" ">
            <div class="form-group ">
              <button type="button " class="btn btn-primary " mwl-confirm title="Approve " message="Are you sure? " confirm-text="Yes <i class='fa fa-check'>
                </i>" cancel-text="No" on-confirm="generateManifestForAll()" confirm-button-type="default" cancel-button-type="default">Generate Manifest </button>
                <p class="help-block">Generate Manifest for selected orders</p>
              </div>
            </div>
            <!-- <div class="col-md-5" style="font-size:19px" ng-if="checkConditions.changeStatus && order.status!='failed'&&succIdx>=0&&order.orderQtyMap[succIdx].status!=lastStatus">
              <span class="text-muted ">Change Status To </span> &nbsp;
              <div class="btn btn-warning">
                <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll('packed')" confirm-button-type="default" cancel-button-type="default" ng-if="order.orderQtyMap[succIdx].status=='created'">Packed</span>
                <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll('shipped')" confirm-button-type="default" cancel-button-type="default" ng-if="order.orderQtyMap[succIdx].status=='packed'">Shipped</span>
                <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll('inTransit')" confirm-button-type="default" cancel-button-type="default" ng-if="order.orderQtyMap[succIdx].status=='shipped'">InTransit</span>
                <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll('reachedNearestHub')" confirm-button-type="default" cancel-button-type="default" ng-if="order.orderQtyMap[succIdx].status=='inTransit'">ReachedNearestHub</span>
                <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll('outForDelivery')" confirm-button-type="default" cancel-button-type="default" ng-if="order.orderQtyMap[succIdx].status=='reachedNearestHub'">OutForDelivery</span>
                <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll('delivered')" confirm-button-type="default" cancel-button-type="default" ng-if="order.orderQtyMap[succIdx].status=='outForDelivery'">Delivered</span>
                <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll('returnToOrigin')" confirm-button-type="default" cancel-button-type="default" ng-if="order.orderQtyMap[succIdx].status=='delivered'">ReturnToOrigin</span>
                <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll('returned')" confirm-button-type="default" cancel-button-type="default" ng-if="order.orderQtyMap[succIdx].status=='returnToOrigin'">Returned</span>
              </div>
              <span  ng-repeat="s in orderStatusList track by $index" ng-if="order.orderQtyMap[succIdx].status==orderStatusList[$index]">
                <span class="btn btn-warning" mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatusForAll(orderStatusList[$index+1])" confirm-button-type="default" cancel-button-type="default">{{orderStatusList[$index+1]}}</span>
              </span>

            </div> -->
            <div class="col-md-4 col-md-offset-4 pull-right" ng-if="order.status!='failed' && order.orderQtyMap[succIdx].courierName!=null && order.orderQtyMap[succIdx].courierAWBNo!=null">
              <span ng-if="checkConditions.thirdParty">
            <a href="/api/ecommerce/downloadManifest/?trackingId={{order.orderQtyMap[succIdx].courierAWBNo}}" target="_blank">
             <button type="button" class="btn btn-default">Download Manifest <i class="fa fa-download"></i></button> </a>
             </span>
              <span ng-if="!checkConditions.thirdParty">
             <a href="/api/ecommerce/downloadManifest/?allData={{order.pk}}" target="_blank" ng-if="!checkConditions.posPrinting">
              <button type="button" class="btn btn-default">Download Manifest <i class="fa fa-download"></i></button> </a>

              <span class="btn btn-default" ng-if="checkConditions.posPrinting" ng-click="downloadManifestPrinter()">Download Manifest <i class="fa fa-download"></i>
              </span>
              </span>

            </div>
          </div>
        </div>
        <div class="row" style="margin:20px 5px">
          <div class="" ng-repeat="pData in order.orderQtyMap" style="margin-bottom:10px">
            <div class="container-fluid card" style="padding:10px; border-left:4px solid #0c9a9e;position:relative;" ng-init="idx=$index">

              <!-- <input type="checkbox" ng-checked="pData.selected" ng-model="pData.selected"> -->
              <div class="row">
                <div class="col-md-12">

                  <!-- <div class="col-md-5" style="font-size:19px" ng-if="checkConditions.changeStatus && checkConditions.splitOrder && order.status!='failed' && pData.status != 'cancelled' && pData.status!='returned'&&pData.status!=lastStatus">
                    <span class="text-muted ">Change Status To </span> &nbsp;
                    <div class="btn btn-warning">
                      <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus($index,'packed')" confirm-button-type="default" cancel-button-type="default" ng-if="pData.status=='created'">Packed</span>
                      <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus($index,'shipped')" confirm-button-type="default" cancel-button-type="default" ng-if="pData.status=='packed'">Shipped</span>
                      <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus($index,'inTransit')" confirm-button-type="default" cancel-button-type="default" ng-if="pData.status=='shipped'">InTransit</span>
                      <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus($index,'reachedNearestHub')" confirm-button-type="default" cancel-button-type="default" ng-if="pData.status=='inTransit'">ReachedNearestHub</span>
                      <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus($index,'outForDelivery')" confirm-button-type="default" cancel-button-type="default" ng-if="pData.status=='reachedNearestHub'">OutForDelivery</span>
                      <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus($index,'delivered')" confirm-button-type="default" cancel-button-type="default" ng-if="pData.status=='outForDelivery'">Delivered</span>
                      <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus($index,'returnToOrigin')" confirm-button-type="default" cancel-button-type="default" ng-if="pData.status=='delivered'">ReturnToOrigin</span>
                      <span mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus($index,'returned')" confirm-button-type="default" cancel-button-type="default" ng-if="pData.status=='returnToOrigin'">Returned</span>
                    </div>
                    <span  ng-repeat="s in orderStatusList track by $index" ng-if="pData.status==orderStatusList[$index]">
                      <span class="btn btn-warning" mwl-confirm title="Change Status" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus(idx,orderStatusList[$index+1])" confirm-button-type="default" cancel-button-type="default">{{orderStatusList[$index+1]}}</span>
                    </span>
                  </div> -->
                  <div class="col-md-12">

                    <div class="fa fa-trash-o pull-right fa-2x" style="cursor:pointer;color:red" mwl-confirm title="Cancel Item" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="orderItemCancel($index)" confirm-button-type="default"
                      cancel-button-type="default" ng-if="order.status!='failed' && pData.status=='created' || pData.status=='packed'">
                    </div>
                    <span ng-if="checkConditions.splitOrder">
                    <div class="btn btn-default btn-sm pull-right" ng-if="(pData.courierName==null||pData.courierAWBNo==null && order.status!='failed') && pData.status!='cancelled'" ng-click="openManifest($index)">
                      Generate Manifest
                    </div>
                  </span>
                    <div class="btn-group pull-right" ng-if="order.status!='failed' && pData.courierName!=null && pData.courierAWBNo!=null">
                      <button type="button" class="btn btn-primary" ng-click="openManifest($index)" ng-if="checkConditions.splitOrder&&checkConditions.thirdParty">Edit Manifest </button>
                      <!-- <a href="/api/ecommerce/downloadManifest/?qPk={{pData.pk}}" target="_blank">
                    <button type="button" class="btn btn-default">Download Manifest <i class="fa fa-download"></i></button> </a> -->

                      <span ng-if="checkConditions.splitOrder">
                      <a href="/api/ecommerce/downloadManifest/?qPk={{pData.pk}}" target="_blank">
                        <button type="button" class="btn btn-default">Download Manifest <i class="fa fa-download"></i></button> </a>
                      </span>


                    </div>
                  </div>


                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <h3 ng-if="pData.prodVar==undefined"> {{pData.productName}} {{pData.product.product.howMuch | convertUnit:pData.product.product.unit}}</h3>
                  <h3 ng-if="pData.prodVar"> {{pData.productName}}
                  <span ng-if="pData.product.product.unit!='Size and Color' && pData.product.product.unit!='Size'"> {{pData.prodVar[0].unitPerpack * pData.product.product.howMuch | convertUnit: pData.product.product.unit}} </span>
                  <span ng-if="pData.product.product.unit=='Size and Color'||pData.product.product.unit=='Size'"> {{pData.prodVar[0].unitPerpack | convertSize: pData.product.product.unit}} {{pData.desc}} </span>
                </h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="col-md-8" style="padding:0px" ng-if="checkConditions.showGst&&pData.product.product_taxAmount>0">
                    <span style="font-size:15px;">Price : <i class="fa {{currency}}"></i> {{pData.productPrice}} ( <b>+</b> {{pData.product.product_taxAmount}} )</span>
                  </div>
                  <div class="col-md-8" style="padding:0px" ng-if="!checkConditions.showGst||pData.product.product_taxAmount==0">
                    <span style="font-size:15px;">Price : <i class="fa {{currency}}"></i> {{pData.productPrice}}</span>
                  </div>
                  <div class="col-md-4" style="padding:0px">
                    <span style="font-size:15px;">Quantity : {{pData.qty}}</span>
                  </div>
                </div>

                <div class="col-md-2">
                  <span style="font-size:15px;">Discount : <i class="fa {{currency}}"></i> {{pData.discountAmount}} </span>
                </div>
                <div class="col-md-3">
                  <span style="font-size:15px;">Total Price : <i class="fa {{currency}}"></i> {{pData.totalAmount}}</span>
                </div>
                <div class="col-md-3">
                  <span style="font-size:15px;">Paid Amount : <i class="fa {{currency}}"></i> {{pData.paidAmount}} </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <!-- <div class="col-md-12"> -->
                <div class="col-md-3" style="font-size:19px">
                  <strong>Status : {{pData.status}}</strong>
                </div>
                <div class="col-md-4" style="font-size:19px">
                  <strong>Refund Amount : {{pData.refundAmount}}</strong>
                </div>
                <div class="col-md-3" style="font-size:19px">
                  <strong>Refund Status : <i class="fa fa-{{pData.refundStatus?'check-circle':'times-circle'}}" style="color:{{pData.refundStatus?'#2b832b':'#fe2121'}}"></i></strong>
                </div>
                <div class="col-md-2">
                  <div class="btn btn-default btn-lg" ng-click="expanded= !expanded">
                    Logs &nbsp;<i class="fa fa-chevron-{{ !expanded ? 'down':'up'}}"></i>
                  </div>
                </div>
                <!-- <span>Refund Amount : {{pData.refundAmount}}</span><br>
                <span>Refund Status : {{pData.refundStatus}}</span><br>
                <span>Cancellable : {{pData.cancellable}}</span><br> -->
                <!-- </div> -->
              </div>
              <div class="row" style="margin-top:15px">
                <div class="row" ng-if="expanded" style="margin-top:15px;margin-left:15px">
                  <div class="col-md-5">
                    <div class="form-group">
                      <textarea class="form-control" rows="5" cols="80" ng-model="pData.logText" placeholder="Write Log Here..."></textarea>
                    </div>
                    <div class="btn btn-success pull-right" ng-click="saveLog($index,pData.logText)">Submit</div>
                  </div>
                  <div class="col-md-7">
                    <span style="font-size:17px;"><b>Logs History</b></span>

                    <table class="table table-striped">
                      <tbody>
                        <tr ng-repeat="log in pData.trackingLog">
                          <td style="width:30%">{{log.time | date : 'dd-MMM-yyyy'}}<br>( {{log.time | date : 'hh:mm a'}} )</td>
                          <td style="width:70%">{{log.logTxt}}</td>
                        </tr>
                      </tbody>

                    </table>

                    <!-- <ul>
                    <li ng-repeat="log in pData.trackingLog" style="font-size:15px">
                      <div class="col-md-9">
                        {{log.logTxt}}
                      </div>
                      <div class="col-md-3 text-right">
                        {{log.time | date : 'dd-MMM-yyyy : hh:mm a'}}
                      </div>
                      </li>
                  </ul> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom:15px">
          <div class="col-md-12">
            <span class="btn btn-primary" ng-click="addNewProduct(order.pk)">Add <i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" ng-if="viewTyp=='view'">
  <div class="col-md-12 text-center" style="font-size:18px">
    <strong>Mobile : </strong>{{order.mobileNo}} &nbsp; <strong>Address : </strong>{{order.landMark}} , {{order.street}} , {{order.city}} , {{order.pincode}} , {{order.state}} , {{order.country}}
  </div>
  <div class="container-fluid" style="padding:0px">
    <table class="invoiceTable" style=" width: 100%;border-collapse: collapse;font-size:20px">
      <tr style="background-color: #eeeeee;height: 96px;">
        <th>#</th>
        <th style="font-size:20px">Item Description</th>
        <th>Qty</th>
        <th>Rate(Rs.)</th>
        <th>Subtotal</th>
      </tr>
      <tr ng-repeat="pData in order.orderQtyMap">
        <td>{{$index + 1}}</td>
        <td>
          <h3 ng-if="pData.prodVar==undefined"> {{pData.productName}} {{pData.product.product.howMuch | convertUnit:pData.product.product.unit}}</h3>
          <h3 ng-if="pData.prodVar"> {{pData.productName}}
          <span ng-if="pData.product.product.unit!='Size and Color' && pData.product.product.unit!='Size'"> {{pData.prodVar[0].unitPerpack * pData.product.product.howMuch | convertUnit: pData.product.product.unit}} </span>
          <span ng-if="pData.product.product.unit=='Size and Color'||pData.product.product.unit=='Size'"> {{pData.prodVar[0].unitPerpack | convertSize: pData.product.product.unit}} {{pData.desc}} </span>
        </h3>
        </td>
        <td>
          <span style="font-size:20px">{{pData.qty}}</span>

        </td>
        <td>
          <span style="font-size:20px;" ng-if="checkConditions.showGst&&pData.product.product_taxAmount>0">{{pData.productPrice}} ( <b>+</b> {{pData.product.product_taxAmount}} )</span>
          <span style="font-size:20px;" ng-if="!checkConditions.showGst||pData.product.product_taxAmount==0"><i class="fa {{currency}}"></i> {{pData.productPrice}}</span>
        </td>
        <td>
          <span style="font-size:20px;"> {{pData.totalAmount}}</span>
        </td>
      </tr>
      <tr>
        <td style="border:none;"></td>
        <td style="border:none;"></td>
        <td style="border:none;"></td>
        <td style="border:none;"></td>
        <td ng-if="form.products[0].data.pk&&!posShowAll" style="font-size:30px;background-color:black;color:white"><b>{{subTotal()}}</b></td>
      </tr>
    </table>

  </div>
</div>
</div>
