<div class="col-md-4" style="padding-bottom:20px;padding-left:10px;padding-right:10px;cursor:pointer" ng-click="rowActionClicked('info')">
  <div class="container-fluid card" style="padding-bottom:10px;" ng-click="rowActionClicked('openModal')">
    <div class="row container-fluid" style="padding:15px;font-size:18px">
      <span><strong>User</strong> : {{data.user | getName}}</span><br>
      <span><strong>Product</strong> : {{data.product.name}}</span><br>
      <span><strong>Quantity</strong> : {{data.quantity}}</span><br>
    </div>
  </div>
</div>
