<div class=" bg-white " style="position:relative;min-height:92vh;">
  <breadcrumb></breadcrumb>
  <div class="row" ng-if="multiStores">
    <div class="col-md-4">
      <div class="container-fluid">
        <h3> <label>Store: </label> {{currentStore.name}} - {{currentStore.pincode}}</h3>
      </div>
    </div>
    <div class="col-md-offset-4 col-md-4">
      <div class="container-fluid">
        <button type="button" class="btn btn-primary pull-right" ng-click="selectStore(currentStore.pk)">Change</button>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-7 text-right">

        <div class="input-group">
          <input type='text' ng-model='searchText' class="form-control" placeholder="Search a Product " ng-enter="enterFun()" />
          <span class="input-group-addon" ng-click="refresh()" style="cursor:pointer; background-color:#fff;" ><i class="fa fa-refresh"></i></span>
          <span class="input-group-addon" ng-click="prev()" style="cursor:{{offset!=0?'pointer;background-color:#fff;':'not-allowed;background-color:#eee'}}" ><i class="fa fa-arrow-left"></i>Prev</span>
          <span class="input-group-addon" ng-click="next()" style="cursor:pointer; background-color:#fff;" >Next <i class="fa fa-arrow-right"></i></span>
        </div>
      </div>

      <div class="col-md-5" style="padding:0px;">
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="topButtonsClick('New')"><i class="fa fa-plus"></i> New </button>
          <button type="button" class="btn btn-default" ng-click="topButtonsClick('Reorder')"><i class="fa fa-shopping-cart"></i> Reorder</button>
          <button type="button" class="btn btn-default" ng-click="topButtonsClick('stockReport')"><i class="fa fa-file"></i> Stock Report</button>
          <button type="button" class="btn btn-default" ng-click="topButtonsClick('reorderingReport')"><i class="fa fa-file"></i> Reordering Report</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top:15px;" ng-repeat="pi in prodInventories">
    <div class="card" style="padding:0px;">
      <div class="row container-fluid" ng-click="toggle(pi.productPk,$index)">
        <div class="col-md-1 text-center" style="padding-left:0px;border-left:3px solid rgb(247, 98, 43)">
          <img ng-src="{{'/media/' +pi.productdp}}" style="width:100%" />
        </div>
        <div class="col-md-11 text-left">

          <div class="col-md-6">
            <h4><strong>{{pi.productName}}</strong></h4>
          </div>
          <div class="col-md-6" style="padding-top:20px;">
            <div class="col-md-3">
              <span style="font-size:14px"><strong> Unit : </strong>{{pi.productUnit}} </span>
            </div>
            <div class="col-md-3">
              <span style="font-size:14px"><strong> Price : </strong>{{pi.productPrice}} </span>
            </div>
            <div class="col-md-4">
              <span style="font-size:14px"><strong> Discount : </strong>{{pi.productDiscount}}% </span>
            </div>
            <div class="col-md-2 text-right">
              <i class="fa fa-pencil fa-2x" style="cursor:pointer; color:#2583ce;" ng-click="$event.stopPropagation(); openProductForm(pi.productPk)"></i> &nbsp;&nbsp;
              <i class="fa fa-info fa-2x" style="cursor:pointer; color:#2583ce;" ng-click="$event.stopPropagation(); openProductInfo(pi.productPk)"></i>
            </div>
          </div>

        </div>
      </div>
      <div class="row container-fluid" ng-if="pi.open">
        <div class="container-fluid">
          <hr>
        </div>
        <div class="col-md-offset-2 col-md-8">
          <table class="table table-striped" style="margin-top:20px;">
            <th>
              Serial No.
            </th>
            <th>
              Product Weight
            </th>
            <th>
              Quantity
            </th>
            <th>
              <!-- Save -->
            </th>
            <tr ng-repeat="f in pi.data">
              <td>
                <span ng-if="f.productVariant__serialId!=null">{{f.productVariant__serialId}}</span>
                <span ng-if="f.productVariant__serialId==null">{{f.product__serialNo}}</span>
              </td>
              <td>
                <span ng-if="f.productVariant__sku==null">
                  {{f.product__howMuch | convertUnit: f.product__unit }}
                </span>
                <span ng-if="f.productVariant__sku!=null">
                  {{f.product__howMuch * f.productVariant__unitPerpack | convertUnit: f.product__unit}}
                </span>
              </td>
              <td>
                <span>
                  <input type="text" class="form-control" placeholder="" ng-model='f.quantity'>
                </span>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-primary" ng-click="saveStoreQty(f.pk,f.quantity)">Save</button>
                  <button type="button" class="btn btn-danger" mwl-confirm title="Approve" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="deleteInventory(pi.productPk , f.pk , $index)" confirm-button-type="default" cancel-button-type="default">Delete </button>
                </div>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>


  </div>
