<div class="modal-header">
  <h4>Create New Product Inventory</h4>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="form-group">
    <label>Product :</label>
    <input uib-typeahead="product as product.name for product in productSearch($viewValue)" ng-model="inventoryForm.product" type="text" class="form-control" placeholder="Search using name">
  </div>
  <div class="form-group" ng-if="prodVarList.length>1">
    <label>Product Variant :</label>
    <select class="form-control" ng-options="pv.str for pv in prodVarList" ng-model="inventoryForm.prodVariant">
    </select>
  </div>
  <div class="form-group">
    <label>Quantity :</label>
    <input type="number" min="0" class="form-control" ng-model="inventoryForm.qty" >
  </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" name="button" class="btn btn-primary" ng-click="saveProdInventory()">Create</button>
</div>
