<div class="animated fadeIn" id="chatBox">
  <div style="min-height:84vh;margin-top:0px;padding:0px;border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee; background-color: white;border-bottom:2px solid #eeeeee " class="container-fluid">
    <div class="container-fluid" style="padding:0px;border-bottom:1px solid #eeeeee;height:115px;">
      <div class="row" style="padding:0px;">
        <div class="col-md-12">
          <div class="col-md-3" style="padding:0px">
            <div class="btn btn-primary btn-sm btn-block" style="border-radius:0px !important;" type="button" name="button" ng-click="knowledgeBase(data.companyPk)"><i class="fa fa-book" style="font-size:35px;" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-3" style="padding:0px">
            <div class="btn btn-warning btn-sm btn-block" type="button" style="border-radius:0px !important;padding:5px 0px" name="button" mwl-confirm title="Transfer Chat" message="Are you sure?" data-placement="bottom" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="chatTransfer(data.uid,data.chatThreadPk)"
              confirm-button-type="default" cancel-button-type="default"><i style="font-size:30px" class="fa fa-user-o" aria-hidden="true"></i>
              <i style="font-size:16px" class="fa fa-exchange" aria-hidden="true"></i>
              <i style="font-size:35px" class="fa fa-user" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-3" style="padding:0px">
            <div class="btn btn-danger btn-sm btn-block" type="button" style="border-radius:0px !important;" name="button" mwl-confirm title="Close Chat" message="Are you sure?" data-placement="bottom" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="chatClose(index,data.uid,data.chatThreadPk);closed=true"
              confirm-button-type="default" cancel-button-type="default" ng-hide="closed">
              <img style="width:35px;border-radius:10px" src="/static/images/close_chat.png">
            </div>
            <span ng-if="closed" style="font-size:18px;color:red">Chat Closed</span>
          </div>
          <div class="col-md-3" style="padding:0px;font-size:33px;text-align:center;background-color:green">
            <i class="fa fa-pencil " style="cursor:pointer;text-align:center;color:white" aria-hidden="true" ng-click="editUserDetails(data.uid)" title="Edit Details"></i>
          </div>
        </div>
      </div>
      <div class="row" style="padding:10px;padding-bottom:0px">
        <div class="col-md-8" style="padding-right:0px;">
          <i class="fa fa-circle" aria-hidden="true" style="color:{{data.isOnline ? '#37a508':'#ff0022'}}"></i>
           <span style="font-size:15px;">{{data.uid}}</span>
           <span style="font-size:18px;margin-left:10px">{{companyName}}</span>
          <h4 style="margin:5px 10px">{{data.name}} <span ng-if="data.email" class="text-muted" style="font-size:10px;" >({{data.email}})</span> </h4>
        </div>
        <div class="col-md-2">
          <div class="row" style="padding-top:10px;">
            <i ng-if="chatHistBtn" class="fa fa-eye pull-right " aria-hidden="true" style="cursor:pointer; font-size:30px; padding-right:10px;" ng-click="getChatHistory(data.email)" title="Chat History"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <i class="fa fa-times pull-right " aria-hidden="true" style="cursor:pointer; font-size:20px; padding-right:10px;" ng-click="closeChatBox(index)"></i>
          </div>
          <!-- <div class="row" style="padding-top:10px;">
            <i class="fa fa-pencil fa-lg  pull-right" style="cursor:pointer; padding-right:10px;" aria-hidden="true" ng-click="editUserDetails(data.uid)" title="Edit Details"></i>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <button type="button" ng-click="takeSnapshot()" class="btn btn-default">
      snap
    </button> -->
    <div ng-if="data.video" class="container-fluid" style="{{data.isVideoShowing&&isVisitorVideoShowing?'height:20vh':'height:2.8vh'}} ;transition:.5s; padding:0px;" ng-init="setHeight()">
      <!-- <span style="position:absolute; right:7px; top:3px; background-color:black; padding:3px;"><i class="fa fa-times-circle"></i></span> -->
      <!-- {{data.video}}
      {{data.videoUrl}} -->
      <i style="position:absolute; right:10px; top:125px; color:#fff; cursor:pointer;" ng-click="captureImage()" class="fa fa-camera fa-lg" aria-hidden="true"></i>
      <i style="position:absolute; right:40px; top:125px; color:#fff; cursor:pointer;" ng-click="hideVisitorScreen()" class="fa fa-compress fa-lg" aria-hidden="true"></i>
      <i style="position:absolute; right:70px; top:125px; color:#fff; cursor:pointer;" ng-click="!data.alreadyDone? toggleVisitorScreen():''" class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
      <iframe id="iframeChat{{data.uid}}" ng-src="{{data.videoUrl | trusted}}" scrolling="no" style="height:100%; transition:0.5s;width:100%; border:1px solid #e0e0e0;" allowFullScreen></iframe>
      <!-- <iframe ng-src="{{data.currentUrl | trusted}}" scrolling="no" style="height:100%; transition:0.5s;width:100%; border:1px solid #e0e0e0;" allowFullScreen></iframe> -->

    </div>
    <div ng-if="data.audio" class="container-fluid" style="height:5vh; padding:0px;" ng-init="setHeight()">
      {{setHeight()}}
      <iframe id="iframeChat{{data.uid}}" ng-src="{{data.audioUrl | trusted}}" scrolling="no" style="height:100%; width:100%; border:1px solid #e0e0e0;"></iframe>
    </div>

    <div class="container-fluid" id="scrollArea{{data.uid}}" style="margin-left:10px; height:{{msgDivHeight}}vh; overflow-y:auto; overflow-x:hidden;">
      <div class="row" style="padding:0px;" ng-repeat="message in data.messages track by $index">

        <div ng-if="!message.logs" class="row container-fluid" style="{{message.sentByAgent ? 'padding-right:30px' : 'padding-left:30px'}};">
          <span ng-if="!message.sentByAgent" style="float:left;  font-size:11px; " class="text-muted">{{message.created | getTime}},</span>
          <span ng-if="message.sentByAgent" style="float:right;  font-size:11px; " class="text-muted">{{message.user | getName}}, {{message.created | getTime}},</span>
          <!-- {{message.created}} -->
        </div>

        <div class="row container-fluid">
          <div ng-if="!message.logs" style="float:{{message.sentByAgent ? 'right; background-color:#E4E5E9; ':'left; background-color:#DDF7C8;'}} padding:10px;margin:8px;border-radius:{{message.sentByAgent ? '20px 0px 20px 20px':'0px 20px 20px 20px'}};">
            <p ng-if="message.message.length>0 && message.attachmentType!='youtubeLink'" style="word-wrap: break-word; !important; white-space: pre-wrap;   "> <span ng-if="message.message.includes('www.') || message.message.includes('http')"> <a href="{{message.message}}">{{message.message}}</a> </span> <span ng-if="!message.message.includes('www.') && !message.message.includes('http')">{{message.message }}</span>  </p>
            <img ng-if="message.attachmentType == 'image' ||message.attachmentType == 'instructionImage'" ng-src="{{message.attachment}}" style="width:250px;">
            <video ng-if="message.attachmentType == 'video'" width="280" height="240" ng-src="{{message.attachment}}" controls></video>
            <audio ng-if="message.attachmentType == 'audio'" ng-src="{{message.attachment}}" controls></audio>

            <p class="text-center" ng-if="message.attachmentType == 'application'" style="word-wrap: break-word;"><a ng-href="{{message.attachment}}" target="_blank"><i class="fa {{message.attachment.split('chat/')[1] | fileTypeIcon }} fa-2x" ></i></a> <br> {{message.attachment.split('chat/')[1]}} </p>
            <div ng-if="message.attachmentType == 'youtubeLink'">
              <iframe width="100%" height="215" ng-src="{{message.message | trusted}}" frameborder="0" allowfullscreen allow="geolocation; microphone; camera" ></iframe>
            </div>
            <div ng-if="message.userEndedChat">
              <div class="row">
                <div class="col-md-6">
                  <img ng-src="/static/images/userEndedChat.png" style="width:150px;">
                </div>
                <div class="col-md-6">
                  <p style="margin-top:45px;" >Chat Closed By User</p>
                </div>
              </div>
            </div>
            <div ng-if="message.usersFeedback">
              <p>Rating : {{message.rating}}</p>
              <p ng-if="message.usersFeedback!='NA'">Feedback : {{message.usersFeedback}}</p>
              <!-- <div class="row">
                <div class="col-md-6">
                  <p>{{message.usersFeedback}}</p>
                </div>
                <div class="col-md-6">
                  {{message.rating}}
                </div>
              </div> -->
            </div>
          </div>

        </div>



      </div>

      <div class="row container-fluid">
        <span ng-if="!message.sentByAgent" style="float:left; font-size:12px; padding-bottom:15px;">{{data.spying.value}}</span>
        <img ng-if="data.spying.isTyping" src="/static/images/pencil.gif" width="40px;" alt="">
      </div>



    </div>
  </div>

  <div class="" style="padding:;border-top:30px;margin-right:15px">

    <!-- <div class="row" style="margin:0px;margin-top:10px;margin-bottom:5px;">
      <form>

          <input ng-if="chatBox.fileToSend.size==0" type="text" class="col-md-9" ng-enter="send()" placeholder="Message" ng-model="chatBox.messageToSend" style="border:none;outline:none;font-size:23px;height: 70px;background-color: #fff;">
          <input type="file" id="filePickerChat{{index}}" style="display:none;" file-model="chatBox.fileToSend">

          <span ng-if="chatBox.fileToSend.size==0" class="col-md-1" style="cursor:pointer;font-size:30px;padding:14px" ng-click="attachFile()" ><i class="fa fa-paperclip"  aria-hidden="true"></i></span>
          <span ng-if="chatBox.fileToSend.size!=0" class="col-md-3" style="cursor:pointer;font-size:30px;padding:14px 0px;text-align:center" > <i class="fa {{chatBox.fileToSend.name | fileTypeIcon }}"></i> </span>
          <span ng-if="chatBox.fileToSend.size!=0" class="col-md-3" style="cursor:pointer;font-size:30px;padding:14px 0px" > {{chatBox.fileToSend.name.slice(0,25)}} </span>
          <span ng-if="chatBox.fileToSend.size!=0" class="col-md-3" style="cursor:pointer;font-size:30px;padding:14px 0px;text-align:center" ng-click="removeFile()" > <i class="fa fa-times" aria-hidden="true"></i> </span>
          <span class=" col-md-1" ng-click="send()" style="cursor:pointer;font-size:30px;padding:14px"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span>
      </form> -->

    <div class="row" style="margin:0px;margin-top:10px;margin-bottom:5px;padding-top:10px;padding-bottom:10px;">
      <span class="uibTypeaheadDropup">
        <!-- <input ng-if="chatBox.fileToSend.size==0" type="text" class="col-md-9" ng-enter="send()" placeholder="Message" ng-model="chatBox.messageToSend" uib-typeahead="cannedRes.text as cannedRes.text for cannedRes in searchCannedRes($viewValue)" data-placement="top" style="border:none;outline:none;background-color:white;"> -->
        <textarea ng-keydown="textAreaBehavior($event)" ng-if="chatBox.fileToSend.size==0" class="col-md-9" rows="3" cols="80" style="border:none; outline:none; resize:none; background-color:#fff;" ng-model="chatBox.messageToSend" uib-typeahead="cannedRes.text as cannedRes.text for cannedRes in searchCannedRes($viewValue)" placeholder="Message" ></textarea>
      </span>

      <input type="file" id="filePickerChat{{index}}" style="display:none;" file-model="chatBox.fileToSend">

      <span ng-if="chatBox.fileToSend.size==0" class="col-md-1" style="cursor:pointer;font-size:20px" ng-click="attachFile()"><i class="fa fa-paperclip"  aria-hidden="true"></i></span>
      <span ng-if="chatBox.fileToSend.size!=0" class="col-md-2" style="cursor:pointer;font-size:20px;padding:0px;text-align:center"> <i class="fa {{chatBox.fileToSend.name | fileTypeIcon }}"></i>
          </span>
      <span ng-if="chatBox.fileToSend.size!=0" class="col-md-7" style="cursor:pointer;font-size:12px;padding:0px"> {{chatBox.fileToSend.name.slice(0,25)}}
          </span>
      <span ng-if="chatBox.fileToSend.size!=0" class="col-md-1" style="cursor:pointer;font-size:20px;padding:0px;text-align:center" ng-click="removeFile()"> <i class="fa fa-times" aria-hidden="true"></i>
          </span>
      <span class=" col-md-1 text-right" ng-click="send()" style="cursor:pointer;font-size:20px"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          </span>
    </div>
  </div>
