{% load staticfiles%} {% load staticfiles %} {% load socialaccount %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1690799947851449">
    <link rel="profile" href="http://gmpg.org/xfn/11">
  {% if useCDN %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" charset="utf-8"> {% else %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8"> {% endif %}
  <link rel="stylesheet" href="{% static 'css/signin.css' %}" charset="utf-8">
</head>

<body style="height:100%">
  <div class="col-md-8 hidden-sm hidden-xs" style="background-image: url('{{backgroundImage}}');background-size: cover;height:100%;position:absolute;left:0px;">
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12" style="height:100%;position:absolute;right:0px;padding-top:20px">
    <a  href="/" style="outline: none;border:none"><img class="text-center"  src="{{icon_logo}}" alt="" width="200" height="100" Style="display:block;margin-left: auto;margin-right: auto;"></a>
    <form method="post" class="form-signin" action="" style="padding:0px;max-width: 400px;">{% csrf_token %}
      <h2 class="form-signin-heading" style="color:black;margin-top:70px;">Login</h2> {% if authStatus.status != 'default' %}
      <div class="alert alert-{{authStatus.status}}">{{authStatus.message}}</div>
      {% endif %}

      <div id="alerts">

      </div>

      <div class="form-group">
      <div class="col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px">
      <span>+91</span>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-10">
        <label for="username" class="sr-only">Mobile Number</label>
       <input id="username" name="username" type="text" maxlength="10" class="form-control" placeholder="Mobile Number" required autofocus>
     </div>
       <!--   <input id="otp" name="otp" type="text" class="form-control" placeholder="OTP" required autofocus> -->
       <div class="col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2">
       <label for="password" class="sr-only">Password</label>
       <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
       <button id="signIn" style="margin-bottom:20px; margin-top:10px;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
     </div>
     </div>

   <!--    <a style="color:black;" href="/accounts/password/reset/">Forgot password?</a><br/> -->
      <div class="col-md-10 col-xs-10 col-sm-10 col-md-offset-2 col-xs-offset-2 col-sm-offset-2 ">
        <a style="color:black;" href="registerPage">New User?</a>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="requestOTP" style="width:100px;height:100px;background-color:#0a9199;border-radius:50px; padding-top:10px;margin:auto;margin-top:50px;cursor:pointer;" class="text-center">
          <span style="color:white;">
              <i class="fa fa-mobile fa-3x" ></i> <br>
              <span id="otptxt">Send OTP</span>
            </span>
        </div>
      </div>
    </form>

    <form class="" action="/register" method="post" style="display:none;" id="regFrm">
      {% csrf_token %}
      <input type="text" name="mobile" value="" id="regMobile">
    </form>

    <div class="col-md-12 col-sm-12 col-xs-12 text-right" style='bottom:0;right:0;position:fixed'>
      <a href="/login/?next=/ERP/">Admin Login</a>
    </div>
  </div>

  <!-- <div id="requestOTP" style="width:100px;height:100px;background-color:#0a9199;border-radius:50px; padding-top:10px;margin:auto;margin-top:50px;cursor:pointer;" class="text-center">
    <span style="color:white;">
        <i class="fa fa-mobile fa-3x" ></i> <br>
        <span id="otptxt">Send OTP</span>
      </span>
  </div> -->
  {% if useCDN %}
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  {% else %}
  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'js/jquery.cookie-1.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% endif %}

  <script type="text/javascript">
    $(document).ready(function() {
      $('#password').hide();
      $('#signIn').hide();

      $('#requestOTP').click(function(e) {

        $('#alerts').empty();
        var id = $('#username').val()
        if (id.length == 0) {
          $('#alerts').append('<div class="alert alert-warning">Please enter your Mobile number or Email or Username</div>')
        } else {
          console.log(id,'kkkkkkkkkkkkkkkkkkkkkkkkk')
          var csrf = $.cookie("csrftoken")
          console.log();
          $.ajax({
            url: '/generateOTP',
            data: {
              id: id,
              csrfmiddlewaretoken :csrf
            },
            beforeSend: function(request) {
              request.setRequestHeader("X-CSRFToken", csrf);
            },
            type: 'POST',
            success: function(data, status, jqXHR) {
              console.log(status);
              if (jqXHR.status == 200) {
                $('#alerts').append('<div class="alert alert-success">OTP Has been sent</div>')
                $('#password').attr("placeholder", "OTP");
                $('#password').attr("name", "otp");
                $('#password').attr("type", "text");

              } else if (jqXHR.status == 400) {
                $('#alerts').append('<div class="alert alert-danger">No account</div>')

              } else {
                $('#alerts').append('<div class="alert alert-danger">Error while sending OTP</div>');

              }

              $('#otptxt').empty();
              $('#otptxt').append("Resend OTP");
            },
            error: function(e) {
              console.log($('#regMobile')[0].name,$('#username').val());
              $('#alerts').append('<div class="alert alert-danger">You Have No Account , We Are Creating New Account For You</div>')
              $('#regMobile')[0].value = $('#username').val();
              $('#regFrm').submit();

            }
          });

        }
        $('#password').show();
        $('#signIn').show();
      });
    });
  </script>
</body>

</html>
