<div class="" style="min-height:93vh;position:relative;background-color:#f8f8f8;">

  <breadcrumb></breadcrumb>
  <div ng-if="!isAgent&&isAdminLoaded" class="container-fluid bal_fadding_In" style="color:#2B2B2B; margin-top:-15px;">

    <div class="row">
      <div class="col-md-12">
        <h4 style="margin-top:0px">Activity <span>Past 7 Days</span></h4>
      </div>
    </div>


    <div class="row container-fluid" style="margin-top:10px;">
      <div class="col-md-3">
        <div style="background-color:#1AB394; color:#fff; border-radius:5px;padding:10px 15px;">
          <div class="row">
            <div class="col-xs-4" style="text-align:center">
              <i class="fa fa-bell-o fa-4x" aria-hidden="true" style="padding:3px"></i> <br>
              <i class="fa fa-arrow-{{changeInAvgChatDur.increase?'up':'down'}}"></i> {{changeInMissedChat.percentage.toFixed(2)}}%
            </div>
            <div class="col-xs-8 text-right" style="padding-top:5px">
              <p style="margin-bottom:5px">Missed Chats </p>
              <h2 style="margin:0px"> {{missedChats}}</h2>
            </div>
          </div>
        </div>
        <div style="background-color:#23c6c8; color:#fff; border-radius:5px;padding:10px 15px;margin-top: 15px;">
          <div class="row">
            <div class="col-xs-4" style="text-align:center">
              <i class="fa fa-envelope-o fa-4x" aria-hidden="true" style="padding:3px"></i> <br>
              <i class="fa fa-arrow-{{changeInChat.increase?'up':'down'}}"></i> {{changeInChat.percentage.toFixed(2)}}%
            </div>
            <div class="col-xs-8 text-right" style="padding-top:5px">
              <p style="margin-bottom:5px">Total Conversations </p>
              <h2 style="margin:0px"> {{totalChats}} </h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div style="position:absolute;top:10%;right:5%;text-align:center">
          <p style="margin-bottom:5px">Average Chat Duration</p>
          <h3 style="margin:5px">{{avgChatDuration.toFixed(2)}} Min</h3>
          <p style="display:inline-block;"><i class="fa fa-arrow-{{changeInAvgChatDur.increase?'up':'down'}}" style="color:{{changeInAvgChatDur.increase? 'green':'red'}}"></i> &nbsp;{{changeInAvgChatDur.percentage.toFixed(2)}}%</p>
        </div>
        <svg width="100%" height="220" style="background:#eee">
          <g>
            <path d="M0,19.72381448671186Q183.08333333333334,89.97741879451104,211.25,90.411672746222C253.5,91.06305367378843,380.25,116.79260031266287,422.5,126.23762376237626S591.5,177.69671704012507,633.75,184.86190724335592Q661.9166666666666,189.63870071217647,845,197.88952579468474L845,250Q661.9166666666666,250,633.75,250C591.5,250,464.75,250,422.5,250S253.5,250,211.25,250Q183.08333333333334,250,0,250Z" class="area" fill="#f8ac59"></path>
          </g>
        </svg>
      </div>



      <div class="col-md-2">
        <div style="background-color:#1AB394; color:#eee; border-radius:5px;padding:15px 20px; text-align:center">
          <div class="row">

              <i class="fa fa-clock-o fa-5x" aria-hidden="true" style="padding:5px"></i> <br>
              <i class="fa fa-arrow-{{changeInFrtAvg.increase?'up':'down' }}"></i> {{changeInFrtAvg.percentage}}%

            <div class="">
              <p style="margin:5px">First Response Time </p>
              <h2> {{firstResTimeAvgAll.toFixed(2)}} min </h2>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div style="background-color:#F8AC59; color:#fff; border-radius:5px;padding:7px 15px; ">
          <div class="row">
            <div class="col-xs-4" style="text-align:center">
              <i class="fa fa-star-o fa-4x" aria-hidden="true" style="padding:3px"></i> <br>
              <i class="fa fa-arrow-{{changeInAverageRating.increase?'up':'down'}}"></i> {{changeInAverageRating.percentage.toFixed(2)}}%
            </div>
            <div class="col-xs-8 text-right" style="padding-top:5px">
              <p style="margin-bottom:5px">Average Ratings </p>
              <h2 style="margin:0px"> {{avgRatingAll.toFixed(2)}} </h2>
            </div>
          </div>
        </div>
        <div style="background-color:#ED5565; color:#fff; border-radius:5px;padding:7px 15px;margin-top: 15px; ">
          <div class="row">
            <div class="col-xs-4" style="text-align:center">
              <i class="fa fa-reply-all fa-4x" aria-hidden="true" style="padding:3px"></i> <br>
              <i class="fa fa-arrow-{{changeInRespTimeAvg.increase?'up':'down' }}"></i> {{changeInRespTimeAvg.percentage}}%
            </div>
            <div class="col-xs-8 text-right" style="padding-top:5px">
              <p style="margin-bottom:5px">Average Response Time </p>
              <h2 style="margin:0px"> {{avgRespTimeAll.toFixed(2)}} min </h2>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="row container-fluid" style="margin-top:10px;">
      <div class="col-md-6 ">
        <div class="container-fluid" style="background-color:#fff;border: 1px solid #eee;border-radius: 6px">
          <div class="row" style="padding-top:15px">
            <p class="text-center" style="color:#99abb4; font-size:16px; font-weight:400">Missed Chats Vs Handled Chats</p>
          </div>
          <div class="row" style="padding:10px 25px">
            <div class="col-md-12">
              <canvas id="line" class="chart chart-line" chart-data="noOfChatData" chart-labels="noOfChatLabels" chart-options="noOfChatOptions" chart-series="series" chart-dataset-override="datasetOverride">
                </canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container-fluid" style="background-color:#fff;border: 1px solid #eee;border-radius: 6px; padding:20px">
          <div class="row">
            <div class="col-xs-4">
              <p style="font-weight:400;font-size:18px;color:#99abb4"> Name</p>
            </div>
            <div class="col-xs-2">
              <p style="font-weight:400;font-size:18px;color:#99abb4">ART (mins)</p>
            </div>
            <div class="col-xs-2">
              <p style="font-weight:400;font-size:18px;color:#99abb4">AFRT (mins)</p>
            </div>
            <div class="col-xs-2">
              <p style="font-weight:400;font-size:18px;color:#99abb4">Chats</p>
            </div>
            <div class="col-xs-2">
              <p style="font-weight:400;font-size:18px;color:#99abb4"> Rating</p>
            </div>
          </div>
          <hr>
          <div ng-repeat="alb in agentLeaderBoard" class="row" style="margin-bottom:5px;">
            <div class="col-xs-1">
              <img ng-src="{{alb.agentPk | getDP}}" class="img img-circle" style="width:25px;height:25px;" alt="">
            </div>
            <div class="col-xs-3">
              <p style="font-weight:400;color:#99abb4"> {{alb.agentPk | getName}}</p>
            </div>
            <div class="col-xs-2">
              <p style="font-weight:400;color:#99abb4">{{alb.respTimeAvg.toFixed(2)}} </p>
            </div>
            <div class="col-xs-2">
              <p style="font-weight:400;color:#99abb4">{{alb.firstResTimeAvg.toFixed(2)}}</p>
            </div>
            <div class="col-xs-2">
              <p style="font-weight:400;color:#99abb4">{{alb.noOfChats}} </p>
            </div>
            <div class="col-xs-2">
              <p style="font-weight:400;color:#99abb4">{{alb.ratingAvg.toFixed(2)}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="row container-fluid" style="margin-top:10px;">



          <!-- <div class="col-md-4">
            <div style="position:absolute;top:10%;left:10%;font-size:170%;color:#eee">
              <h2>{{missedChats}}</h2>
              <h5>Missed Chats</h5>
            </div>
            <div style="position:absolute;top:10%;right:10%;font-size:150%">
              <p style="display:inline-block;float:right;color:#eee"><i class="fa fa-arrow-{{changeInMissedChat.increase?'up':'down'}}" style="color:{{changeInMissedChat.increase? 'green':'red'}}"></i> &nbsp;{{changeInMissedChat.percentage.toFixed(2)}}%</p>
            </div>
            <svg width="100%" height="220" style="background:#1ab394">
              <g>
                <path d="M0,319.72381448671186Q183.08333333333334,89.97741879451104,211.25,90.411672746222C253.5,91.06305367378843,380.25,116.79260031266287,422.5,126.23762376237626S591.5,177.69671704012507,633.75,184.86190724335592Q661.9166666666666,189.63870071217647,845,197.88952579468474L845,250Q661.9166666666666,250,633.75,250C591.5,250,464.75,250,422.5,250S253.5,250,211.25,250Q183.08333333333334,250,0,250Z" class="area" fill="#0d8169"></path><path d="M0,319.72381448671186Q183.08333333333334,89.97741879451104,211.25,90.411672746222C253.5,91.06305367378843,380.25,116.79260031266287,422.5,126.23762376237626S591.5,177.69671704012507,633.75,184.86190724335592Q661.9166666666666,189.63870071217647,845,197.88952579468474" class="line" fill="none" stroke="#0d8169" stroke-width="2"></path>
              </g>
            </svg>
          </div> -->

          <!-- <div class="col-md-4">
            <div style="position:absolute;top:10%;right:5%;text-align:center">
              <p style="margin-bottom:5px">Average Chat Duration</p>
              <h3 style="margin:5px">{{avgChatDuration.toFixed(2)}} Min</h3>
              <p style="display:inline-block;"><i class="fa fa-arrow-{{changeInAvgChatDur.increase?'up':'down'}}" style="color:{{changeInAvgChatDur.increase? 'green':'red'}}"></i> &nbsp;{{changeInAvgChatDur.percentage.toFixed(2)}}%</p>
            </div>
            <svg width="100%" height="220" style="background:#eee">
              <g>
                <path d="M0,19.72381448671186Q183.08333333333334,89.97741879451104,211.25,90.411672746222C253.5,91.06305367378843,380.25,116.79260031266287,422.5,126.23762376237626S591.5,177.69671704012507,633.75,184.86190724335592Q661.9166666666666,189.63870071217647,845,197.88952579468474L845,250Q661.9166666666666,250,633.75,250C591.5,250,464.75,250,422.5,250S253.5,250,211.25,250Q183.08333333333334,250,0,250Z" class="area" fill="#f8ac59"></path>
              </g>
            </svg>
          </div>



          <div class="col-md-2">
            <div style="background-color:#8EB11D; color:#fff; border-radius:5px;padding:15px 20px; text-align:center">
              <div class="row">

                  <i class="fa fa-clock-o fa-5x" aria-hidden="true" style="padding:5px"></i> <br>
                  <i class="fa fa-arrow-{{changeInFrtAvg.increase?'up':'down' }}"></i> {{changeInFrtAvg.percentage}}%

                <div class="">
                  <p style="margin:5px">First Response Time </p>
                  <h2> {{firstResTimeAvgAll.toFixed(2)}} min </h2>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-md-2">
            <div style="background-color:#8EB11D; color:#fff; border-radius:5px;padding:15px 20px; text-align:center">
              <div class="row">

                  <i class="fa fa-clock-o fa-5x" aria-hidden="true" style="padding:5px"></i> <br>
                  <i class="fa fa-arrow-{{changeInFrtAvg.increase?'up':'down' }}"></i> {{changeInFrtAvg.percentage}}%

                <div class="">
                  <p style="margin:5px">First Response Time </p>
                  <h2> {{firstResTimeAvgAll.toFixed(2)}} min </h2>
                </div>
              </div>
            </div>
          </div> -->
      </div>


      <div class="col-md-6">
        <div class="row" style="margin-top: 10px">
          <div class="col-md-4">
            <div style="background-color:#1ab394;; color:#fff; border-radius:5px;padding:20px 25px; margin-bottom:15px; ">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <h2 style="margin:0px"> {{totalAudioCalls}} </h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div style="background-color:#f8ac59;; color:#fff; border-radius:5px;padding:20px 25px; margin-bottom:15px; ">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-video-camera fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <h2 style="margin:0px"> {{totalVideoCalls}} </h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div style="background-color:#ed5565; color:#fff; border-radius:5px;padding:20px 25px; margin-bottom:15px;">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <h2 style="margin:0px"> {{totalChatMessage}} </h2>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <h3>Satisfaction <span>Past 7 Days</span></h3>
      </div>
    </div> -->
  </div>

  <div ng-if="isAgent&&isAgentLoaded" class="container-fluid bal_fadding_In" style="color:#525459">
    <div class="row">
      <div class="col-sm-12">
        <h3 style="margin-top:0px">Activity <span>Past 7 Days</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 ">
        <div class="container-fluid" style="background-color:#fff;">
          <div class="row" style="padding:25px">
            <!-- <div class="row"> -->
            <div class="col-sm-9">
              <h4># Of Chats &nbsp; <i class="fa fa-info-circle" style="color:#4a4641"></i></h4>
            </div>
            <div class="col-sm-3 text-right">
              <h4><i class="fa fa-sort-{{changeInChat.increase?'asc':'desc'}} fa-lg" style="color:#bcd46e"></i> &nbsp;{{changeInChat.percentage.toFixed(2)}}%</h4>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-sm-12" style="padding-top:25px">
              <h3>{{totalChats}}</h3>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-sm-12" style="padding-top:25px">
              <!-- <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="barlabels"> chart-series="series"</canvas> -->
              <canvas id="line" class="chart chart-line" chart-data="noOfChatData" chart-labels="noOfChatLabels" chart-options="noOfChatOptions" chart-dataset-override="datasetOverride">
                </canvas>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="container-fluid" style="background-color:#fff;">
          <div class="row" style="padding:25px">
            <!-- <div class="row"> -->
            <div class="col-sm-9">
              <h4># Of Missed Chats &nbsp; <i class="fa fa-info-circle" style="color:#4a4641"></i></h4>
            </div>
            <!-- <div class="col-sm-3 text-right">
                <h4><i class="fa fa-sort-desc fa-lg" style="color:#bcd46e"></i> &nbsp;77.78%</h4>
              </div> -->
            <div class="col-sm-3 text-right">
              <h4><i class="fa fa-sort-{{changeInMissedChat.increase?'asc':'desc'}} fa-lg" style="color:#bcd46e"></i> &nbsp;{{changeInMissedChat.percentage.toFixed(2)}}%</h4>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-sm-12" style="padding-top:25px">
              <h3>{{missedChats}}</h3>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="container-fluid" style="background-color:#fff;margin-top:10px">
          <div class="row" style="padding:25px">
            <!-- <div class="row"> -->
            <div class="col-sm-9">
              <h4>Average Chat Duration &nbsp; <i class="fa fa-info-circle" style="color:#4a4641"></i></h4>
            </div>
            <!-- <div class="col-sm-3 text-right">
                <h4><i class="fa fa-sort-asc fa-lg" style="color:#e85c30"></i> &nbsp;19.44%</h4>
              </div> -->
            <div class="col-sm-3 text-right">
              <h4><i class="fa fa-sort-{{changeInAvgChatDur.increase?'asc':'desc'}} fa-lg" style="color:#bcd46e"></i> &nbsp;{{changeInAvgChatDur.percentage.toFixed(2)}}%</h4>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-sm-12" style="padding-top:25px">
              <h3>{{avgChatDuration.toFixed(2)}} Min</h3>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>


    <div class="row" style="margin-top:10px">
      <div class="col-sm-12">
        <h3>Satisfaction <span>Past 7 Days</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 ">
        <div class="container-fluid" style="background-color:#fff;">
          <div class="row" style="padding:25px">
            <!-- <div class="row"> -->
            <div class="col-sm-9">
              <h4>Average Rating &nbsp; <i class="fa fa-info-circle" style="color:#4a4641"></i></h4>
            </div>
            <div class="col-sm-3 text-right">
              <h4><i class="fa fa-sort-{{changeInAverageRating.increase?'asc':'desc'}} fa-lg" style="color:#bcd46e"></i> &nbsp;{{changeInAverageRating.percentage.toFixed(2)}}%</h4>
              <!-- <h4><i class="fa fa-sort-asc fa-lg" style="color:#bcd46e"></i> &nbsp;changeInAverageRating %</h4> -->
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-sm-12" style="padding-top:25px">
              <h3>{{avgRatingAll.toFixed(2)}}</h3>
            </div>
            <!-- </div> -->
          </div>
        </div>

      </div>
      <div class="col-sm-6 ">
        <div class="container-fluid" style="background-color:#fff;">
          <div class="row" style="padding:25px">
            <!-- <div class="row"> -->
            <div class="col-sm-9">
              <h4>Average Response Time(ART) &nbsp; <i class="fa fa-info-circle" style="color:#4a4641"></i></h4>
            </div>
            <div class="col-sm-3 text-right">
              <h4><i class="fa fa-sort-{{changeInRespTimeAvg.increase?'asc':'desc'}} fa-lg" style="color:#bcd46e"></i> &nbsp;{{changeInRespTimeAvg.percentage.toFixed(2)}}%</h4>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-sm-12" style="padding-top:25px">
              <h3>{{avgRespTimeAll.toFixed(2)}} Min</h3>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="container-fluid" style="background-color:#fff;margin-top:10px">
          <div class="row" style="padding:25px">
            <!-- <div class="row"> -->
            <div class="col-sm-9">
              <h4>Average First Response Time(AFRT) &nbsp; <i class="fa fa-info-circle" style="color:#4a4641"></i></h4>
            </div>
            <div class="col-sm-3 text-right">
              <h4><i class="fa fa-sort-{{changeInFrtAvg.increase?'asc':'desc'}} fa-lg" style="color:#bcd46e"></i> &nbsp;{{changeInFrtAvg.percentage.toFixed(2)}}%</h4>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-sm-12" style="padding-top:25px">
              <h3>{{firstResTimeAvgAll.toFixed(2)}} Min</h3>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>






</div>
