/*.nav-tabs .active > a{
  border-top:6px solid var(--themeMain) !important;
}*/


/* ul.tools {
    display: none;
    list-style: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
    border: solid 1px #000;
    position: absolute;
    background: #fff;
		width: 120px;
}
ul.tools li {
    width: 100%;
    height: 20px;
    cursor: pointer;
} */


/* The whole thing */
html {
    font-size: 62.33%;
}

* {
    box-sizing: border-box;
}


body {
    /* font-size: 0.8rem; */
    font-family: 'Raleway','Noto Sans', sans-serif;
    overflow-x: hidden;
    padding: 0;
   margin: 0;
}


.bal_switch{
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}
.bal_switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.bal_slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.bal_slider:before{
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .bal_slider {
  background-color: var(--themeMain);
}

input:focus + .bal_slider {
  box-shadow: 0 0 1px var(--themeMain);
}

input:checked + .bal_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.bal_slider.round {
  border-radius: 34px;
}

.bal_slider.round:before {
  border-radius: 50%;
}



/* @media only screen and (max-width:600px) {
  html {
      font-size: 10px;
  }
} */


.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    background: #FFF;
    color: #333;
    padding: 0;
		width: 120px;
		border: solid 0.5px #000;
		border-radius: 5px
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
		border-bottom: 1px solid #eee;
}

.custom-menu li:hover {
    background-color: #DEF;
}


.zoomOnHover:hover{
	transform: scale(1.1);
	/*box-shadow: 2px 2px 10px rgba(7, 131, 184, 1);*/
}
.zoomOnHover{
	transition: all .2s ease-in-out;
  cursor: pointer;
}


/* .abcd ul, ul li {
-webkit-transform: scaleY(-1);
   -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
     -o-transform: scaleY(-1);
        transform: scaleY(-1);
} */

.uibTypeaheadDropup ul li{
		transform: rotate(180deg);
		/* transform: scaleY(-1); */
    overflow-x: hidden
}

.uibTypeaheadDropup ul{
	margin-bottom: 100px;
  width:300px;
  left:-30px !important;
	transform: rotate(180deg);
  transform-origin: top right;
	/* transform: scaleY(-1); */
}

.basicAppLink :hover , .basicAppLink.active{
  background: var(--themeMain);
  color: white;
  cursor:pointer;
}
.basicAppLink{
  padding: 0px;
  margin: 0px;
  color: var(--themeMain);
}
.basicAppLink span{
  height: 70px;
  display: block;
  padding-top: 15px;
}

.navbar{
  height:5vh;
  border: none;
}

.navbar a{
  height:100%;
}

.relationDealCard {
  min-height:150px;
  border-radius:7px;
  padding:15px;
  border:1px solid #4192cd;
  cursor: pointer;
}
.relationDealCard:hover{
  background: #eeeeee;
}

.dealCard{
  height:150px;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:10px;
  cursor:pointer;
  border-radius:10px;
  margin-bottom:5px;
  /*background:#1780bb;*/
  /*color: white;*/
  background: white;
}


.boardHeader{
  padding:20px;
  color:#666666;
  margin-bottom: 5px;
  border-bottom: solid 2px #eeeeee;
  /*border-top: solid 2px #eeeeee;*/
  /*background: #eeeeee;*/
}

.firstInWizard{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.lastInWizard{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.haveDirection::after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right:-18px;
  width: 38px;
  height: 38px;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  border-right: solid 3px white;
  border-bottom: solid 3px white;
  border-radius: 2px;
  z-index: 1;
}

.wizard .active , .wizard .active::after{
  background: #2980b9;
}

.wizard .success, .wizard .success::after{
  background: #5cb85c;
}

.wizard .default, .wizard .default::after{
  background: #eeeeee;
}

.wizard .danger, .wizard .danger::after{
  background: #d63f3f;
}



.wizardItem{
  height:50px;
  display:inline-block;
  position: relative;
  /*padding-top: 13px;*/
}

.switch.checked.neutral {
 background:#ffffff;
 border-color:#eeeeee;
}

.switch.neutral small{
  background: var(--themeMain);
}

.padded10px{
  padding: 10px;
}

.draggable{
  cursor: move;
}

.hoverList:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.timeline {
    position: relative;
    margin: 0px 0px 30px;
    padding: 0px;
    list-style: outside none none;
}
.timeline  li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.timeline .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 4px;
}
.timeline  .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 4px;
}
.timeline li > .fa, .timeline li > .glyphicon, .timeline li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #5a6d91 none repeat scroll 0% 0%;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0px;
}

.timeline-inverse li > .timeline-item {
    background: #F0F0F0 none repeat scroll 0% 0%;
    border: 1px solid #DDD;
    box-shadow: none;
}
.timeline li > .timeline-item {
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);*/
    border-radius: 3px;
    margin-top: 0px;
    background: #FFF none repeat scroll 0% 0%;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}


.timeline li > .timeline-item > .time {
    color: #999;
    float: right;
    font-size: 12px;
    box-sizing: border-box;
}

.timeline-inverse li > .timeline-item > .timeline-header {
    border-bottom-color: #DDD;
}
.timeline li > .timeline-item > .timeline-header {
    margin: 0px;
    color: #555;
    border-bottom: 1px solid #F4F4F4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}
.timeline li > .timeline-item > .timeline-body, .timeline li > .timeline-item > .timeline-footer {
    padding: 10px;
    box-sizing: border-box;
}
.timeline li > .timeline-item > .timeline-footer  a{
  text-decoration: none;
}

.timeline li > .timeline-item > .timeline-body, .timeline li > .timeline-item > .timeline-footer {
    padding: 10px;
    box-sizing: border-box;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4px;
    background: #DDD none repeat scroll 0% 0%;
    left: 31px;
    margin: 0px;
    border-radius: 2px;
    box-sizing: border-box;
}


.modal-xl{
  width:80%;
}
.modal-xxl{
  width:90%;
}

body {
  /*background-color: #eee;*/
}

.navbar{
  margin-bottom:0px !important;
}
.hoverableDiv :hover{
  background-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}


.padded > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-horizontal{

    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: -moz-linear-gradient(right,rgba(255,0,0,0),#eee);
}
.nav-horizontal > li{
    cursor: pointer;
    position: relative;
    display: table-cell;
    border-spacing: 0px 0px;
    border-collapse: collapse;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    margin: 0px;
}
.nav-horizontal > li a{
    color:  #fff;
}

.nav-horizontal> li > a:hover, .nav-horizontal > li >a:focus ,
.nav-horizontal> .active, .nav-horizontal> .active a ,
.nav-horizontal> li:hover a, .nav-horizontal > li:focus a,
.nav-horizontal> li:hover, .nav-horizontal > li:focus{
	background-color: var(--headerNavbarHighlight);
	color: #fff;
}

/* .navbar {
    -webkit-box-shadow: 0 5px 6px -6px #999;
    -moz-box-shadow: 0 5px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
} */
.nav-sidebar> li > a {
  color:#e6e6e6;
}

.nav-sidebar> li > a:hover, .nav-sidebar > li >a:focus , .nav-sidebar> .active > a , .sidebarList> li > a:focus , .sidebarList> li > a:active{
	background-color: var(--headerNavbarHighlight);
	color: #fff;
  outline: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
  border-top: solid 2px red;
}

/* (1920x1080) Full HD Display */
/* @media  screen and (max-width: 1920px) {
    .mainUIView{
      margin-top: 5vh;
    }
} */

/* (1366x768) WXGA Display */
/* @media  screen and (max-width: 1366px) {
  .mainUIView{
    margin-top: 5vh;
  }
} */


.mainUIView{
  margin-top: 50px;
}




.nav-sidebar-inverse> li > a {
  color:white;
  border-right: solid 6px var(--themeMain);
}

.nav-sidebar-inverse> li > a:hover, .nav-sidebar-inverse > li >a:focus , .nav-sidebar-inverse> .active > a{
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
  border-right: solid 6px white;
  color: #fff;
}

.sidebarList> li > a {
	color:#337AB7;
}


.breadcrumbTheme {
    /*background-color: var(--themeMain);*/
    border-radius: 0px;
}
.breadcrumbTheme a {
  color: grey;
}

.shaddowed{
  box-shadow: 2px 2px 3px #888;
}
.card{
  display: block;
  padding-bottom:10px;
  box-shadow: 0px 2px 8px rgba(26, 24, 20, 0.2);
}

.nameSmallCard{
  border:1px solid var(--headerNavbarHighlight);
  border-radius:5px;
  margin:20px 30px;
  padding:15px;
  text-align:center;
  color: var(--headerNavbarHighlight);
  background-color: #fff;
  position:relative;
  }

.teamCard{
  margin: 0px 30px 20px 0px;
  background-color:var(--headerNavbarHighlight);
  color:white ;
  border-radius:5px;
}
/*/ customAlert */
.alert.customAlert {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #666;
  min-width: 403px;
  padding : 20px 50px 20px 30px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
  height: 92px;
}

.customAlert strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
.customAlert .close {
  position: fixed !important;
  right: 15px !important;
  top: 5px !important;
}
.customAlert em {
  color: #999;
  display: inline-block;
  margin: 0 5px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: pre;
}
.listAddCont .action{
  top: 13px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.bg-white{
  background-color: white !important;
}
.bg-shaded{
  background-color: #e9e9e9 !important;
}

.bg-aqua{
  background-color: #16a085 !important;
}

.bg-green{
    background-color: #27ae60 !important;
}

.bg-yellow {
    background-color: #FFB424 !important;
}

.bg-red{
    background-color: #cc3d3d !important;
}
.bg-pink{
    background-color: #E91E63 !important;
}
.bg-blue {
  background-color: #2980b9 !important;
}

.bg-black {
  background-color: #34495e !important;
}
.bg-orange {
  background-color: #af6a10 !important;
}
.bg-purple {
  background-color: #795F99 !important;
}
.bg-olive {
  background-color: #828504 !important;

}
.bg-fuchsia {
  background-color: #ad2a72 !important;

}


.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active , .bg-pink{
  color: #FFF !important;
}



/*Nav bar*/




.bs-callout {
    margin-bottom:10px;
    padding: 4px;
    padding-bottom:0px;
    border-width: 4px;
    background-color:var(--verticalNavbarBg);
}

/*Image in the feed views on the profile*/
.center-cropped {
  width: 70px;
  height: 70px;
  margin-left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  margin-bottom: 5px;
}


.info-box {
  display: block;
  min-height: 90px;
  background: #eee none repeat scroll 0% 0%;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0px 2px 8px rgba(26, 24, 20, 0.2);
}


.info-box-faIcon {
  line-height: 90px;
}
.info-box-icon {
  border-radius: 2px 0px 0px 2px;
  display: block;
  float: left;
  height: 100%;
  width: 90px;
  text-align: center;
  font-size: 45px;
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.info-box .progress .progress-bar {
    background: #FFF none repeat scroll 0% 0%;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0px;
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    margin: 5px -10px;
    margin-top: 5px;
    margin-right: -10px;
    margin-bottom: 5px;
    margin-left: -10px;
    height: 2px;
}
.progress, .progress > .progress-bar, .progress .progress-bar, .progress > .progress-bar .progress-bar {
    border-radius: 1px;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.small-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #888;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0px 0px 0px;
    margin-left:10px;
    white-space: nowrap;
    padding: 10px;
}

.small-box p {
    font-size: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    padding:5px;
}

.small-box .icon {
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
    text-decoration: none;
}


.box-widget {
    border: medium none;
    position: relative;

}
.box {
    position: relative;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.widget-user-2 .widget-user-header {
    padding: 20px;
    min-height: 95px;
}

.widget-user-2 .widget-user-image > img {
  width: 65px;
  height: auto;
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 50%;
}
.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
    padding-right: 20px;
    float: right;
}
.widget-user-2 .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
}

.widget-user-2 .widget-user-desc {
    margin-top: 0px;
}

.box-footer {
    background-color: var(--verticalNavbarBg);
    box-sizing: border-box;
}

.nav-stacked > li > a {
    border-top: 0px none;
    border-left: 3px solid transparent;
    color: #444;
    position: relative;
    display: block;
}
.nav-stacked > li > a:hover {
    background-color: #d6d3d3
}

.widget-user .widget-user-header {
    padding: 20px;
    height: 150px;
}

.bg-black {
    background-color: #111 !important;
}
.widget-user .widget-user-username {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.widget-user .widget-user-image {
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -45px;
    box-sizing: border-box;
}
.widget-user .widget-user-image > img {
    width: 90px;
    height: 90px;
    border: 3px solid #FFF;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
}

.widget-user .box-footer {
    padding-top: 30px;
}

.widget-user .widget-user-desc {
    margin-top: 0px;
}

.description-block {
    display: block;
    margin: 10px 0px;
    text-align: center;
    box-sizing: border-box;
}

.description-block > .description-header {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
}


.list-group {
    padding-left: 0px;
    margin-bottom: 20px;
}

.list-group-unbordered > .list-group-item {
    border-left: 0px none;
    border-right: 0px none;

}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
    box-sizing: border-box;
}

.list-group>li:hover{
  background:var(--verticalNavbarBg);
}

.profile-user-img {
  margin: 0px auto;
  width: 100px;
  padding: 3px;
  border: 3px solid #D2D6DE;
}
.form-control-pos{
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  border: none;
  border-radius: 0px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color: white;
}
.invoiceTable th{
  padding: 10px;
  text-align:center;
  border: 1px solid #dddddd;
}
.invoiceTable td{
  height: 35px;
  border: 1px solid #dddddd;
  text-align: center;
}
.down-part{
   /*position:absolute;*/
   left:0px;
   /*bottom:0px;*/
   height:90px;
   width:100%;
   /*background:#dddddd;*/
   /*border-top:1px solid #dddddd;*/
   margin-top: 40px;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 15px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#myUL li  {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block
}
.icon-infohover{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
  }
.icon-infohover:hover{
    opacity: 0;
  }

  .icon-infohover:hover {
    opacity: 1;
  }
  .icon-pancilhover{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      transition: all ease .5s;
    }
  .icon-pancilhover:hover{
      opacity: 0;
    }

    .icon-pancilhover:hover {
      opacity: 1;
    }

		.toc ol{counter-reset: item}
		.toc li{
			display: block
		}
		.toc li:before{
		content: counters(item, ".") " "; counter-increment: item
		}
		.versions .active{
		  background-color:   #ffb22b;
		}
		.versions button:hover{
		  background-color:   #ffb22b;
		}



.bal_fadding_In{
  animation:my_fade 1s;
}
.bal_slide_In{
  animation:my_slide .5s forward;
}


@media screen and (max-width:800px) {
  html{
    font-size: 40%;
  }
}
@media screen and (max-width:900px) {
  html{
    font-size: 50%;
  }
}


/* ------------------------------app.reviews.html-------------------------------------------------------------------------------- */


.Top_container {
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    /* height: 35rem; */
    padding: 1rem;
}


.My_container{
    display: flex;
    overflow: hidden;
    height: 90vh;
    position: relative;
    /* width: 100%; */

    backface-visibility: hidden;
    will-change: overflow;
    font-size: 1.5rem;
}

.Left_container
 {
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.Middle_container
 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    will-change: overflow;
}

.center_container{
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  flex: 1;
}

.Left_container::-webkit-scrollbar,
.Middle_container::-webkit-scrollbar,
.Right_container::-webkit-scrollbar {
    display: none;
}

.Left_container {
    width: 35rem;
    /* display: flex; */
    margin-top:1rem;
}

.Middle_container {
    flex: 1;
}

.Right_container {
    width: 35rem;
}
.Right_container label {
    font-size: 85% !important;
}

.My_container #myQATable{
  border-collapse: collapse;
  width: 100%;

}
.My_container #myQATable tr{
cursor: pointer
}
.My_container #myQATable td{
  border-bottom: 1px solid #e0e0e0;
  padding: 1px 5px;
}

.My_container .myQATableHeader th{
  text-align: center;
  padding: 10px;
  cursor: pointer
}

.My_container .tabel_data img{
  width:4rem;
  border-radius:50%;
  margin:.5rem 1rem;
  float:left
}
.My_container .tabel_data .tabel_dataStatus span{
  /* background:#e0e0e0; */
  opacity:1
}










/* ********************************************************************************************************************************  */

/* .btn{
  display: block;
  -webkit-appearance: none;
  border: 0px solid rgba(255, 255, 255, 0.45);
  border-radius: 7px;
  border-top-left-radius: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #FFF;
  background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7);
  font-size: 14px;
  font-weight: bolder;
  font-family: sans-serif;
  transition: all .200s ease-in-out;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}

.btn:hover{
  background-image: linear-gradient(to right, #873be7, #6A7EF1, #02EBA3);
  transition: all .200s ease-in-out;
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
  color:#FFF
} */


.form-control{
  position: relative;
  width: 100%;
  border-top-left-radius: 15px !important;
  border:1px solid #eee
}


/* .removeGradientBtn .btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
  color:black
} */

@keyframes my_fade {
  0%{
    transform: translateX(5%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes my_slide {
  0%{
    transform: translateY(5%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
