<div class="modal-header bg-blue">
  <div class="container-fluid">
    <div class="row">
      <i class="fa fa-arrow-circle-o-left pull-left fa-2x" ng-click="cancel()" style="cursor:pointer;"></i>
      <span class="pull-right">
        {{msg.frm}} &nbsp; {{msg.dated | date: "dd-MMM-yyyy hh:mm a"}}
      </span>
    </div>
    <div class="row text-center">
      <h4>{{msg.subject}}</h4>
    </div>
  </div>
</div>
<div class="modal-body" style="padding:10px;display:block;box-sizing:border-box;">
  <div class="container-fluid">
    <div class="row">
      <div ng-bind-html="msg.body" class="col-md-12"></div>
    </div>
    <hr>
    <span ng-if="msg.files.length>0"><h4>Attachments</h4></span>
    <div class="well col-md-6" ng-repeat="file in msg.files">
      <a href="{{file.attachment}}" target="_blank"><h4>{{file.attachment.split('/').reverse()[0].slice(13)}}</h4></a>
    </div>
  </div>
</div>
