<div class="container-fluid">

  <div class="col-md-8">

    <div class="form-group">
      Tutor <switch ng-model="data.tutors24Profile.typ" class="green"></switch><span style="margin-left:10px;">Student</span>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="/static/images/24tut/school.png" style="height:60px;height:60px;" class="img img-circle">
          <br>
          School
          <br>
          <input ng-model="data.tutors24Profile.school" name="type{{data.tutors24Profile.pk}}" type="radio" ng-value="'S'">
        </div>
        <div class="col-md-6 text-center">
          <img src="/static/images/24tut/univ.png" style="height:60px;height:60px;" class="img img-circle">
          <br>
          College
          <br>
          <input ng-model="data.tutors24Profile.school" name="type{{data.tutors24Profile.pk}}" type="radio" ng-value="'C'">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Institute Name</label>
      <input class="form-control" type="text" ng-model="data.tutors24Profile.schoolName">
    </div>

    <div class="form-group">
      <label>Standard</label>
      <select class="form-control" ng-model="data.tutors24Profile.standard">
        <option value="1">Class 1</option>
        <option value="2">Class 2</option>
        <option value="3">Class 3</option>
        <option value="4">Class 4</option>
        <option value="5">Class 5</option>
        <option value="6">Class 6</option>
        <option value="7">Class 7</option>
        <option value="8">Class 8</option>
        <option value="9">Class 9</option>
        <option value="10">Class 10</option>
        <option value="11">Class 11</option>
        <option value="12">Class 12</option>
        <option value="13">Entrence Exam Preparation</option>
        <option value="14">Undergraduates Programs</option>
      </select>
    </div>

    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" ng-model="data.tutors24Profile.street" placeholder="street">
    </div>

    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" ng-model="data.tutors24Profile.city" placeholder="city">
    </div>
    <div class="form-group">
      <label>PinCode</label>
      <input type="text" class="form-control" ng-model="data.tutors24Profile.pinCode" placeholder="pinCode">
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" name="state" class="form-control" ng-model="data.tutors24Profile.state">
    </div>
    <div class="form-group">
      <label>Country</label>
      <input type="text" name="country" class="form-control" ng-model="data.tutors24Profile.country">
    </div>
    <div class="form-group">
      <label>ParentEmail</label>
      <input type="text" name="parentEmail" class="form-control" ng-model="data.tutors24Profile.parentEmail">
    </div>
    <div class="form-group">
      <label>ParentMobile</label>
      <input type="text" name="parentMobile" class="form-control" ng-model="data.tutors24Profile.parentMobile">
    </div>

  </div>
</div>
