<div class="row" style="margin:0px;">
  <div class="col-md-10 col-md-offset-1 hidden-xs hidden-sm" style="padding-right:10px;padding-left:10px;padding-top:0px;padding-bottom:20px" ng-if="categoryScroll">
      <ng-owl-carousel class="owl-theme" owl-items="genericProducts" owl-properties="categoryProperties" owl-ready="ready($api)">
        <div ng-repeat="g in genericProducts| limitTo:5" style="padding:10px;">
          <div class="anim-in-out anim-zoom-out" >
            <div class="container-fluid" style="cursor:pointer;" ng-click="$state.go('categories' , {name : g.name.split(' ').join('_')})">
              <div class="row">
                <div class=" card bg-white text-center" style="width: 100%;padding-bottom:0px;overflow:hidden;">
                  <img style="width: 100%;" class="img" ng-src="{{g.visual}}" ng-if="g.visual.length>0">
                  <img style="width: 100%;" class="img" src="/static/images/ecommerce.jpg" ng-if="g.visual==none">
                </div>
              </div>
              <div class="row" style="padding-top:5px;">
                <h5 class="text-center" style="margin:0px;">{{g.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </ng-owl-carousel>
  </div>
  <div class="col-md-10 col-md-offset-1 hidden-xs hidden-sm" style="padding-right:10px;padding-left:10px;padding-top:0px;padding-bottom:20px" ng-if="!categoryScroll" >
        <div class="col-md-ank" ng-repeat="g in genericProducts| limitTo:5" style="padding:10px;">
          <div class="anim-in-out anim-zoom-out" >
            <div class="container-fluid" style="cursor:pointer;" ng-click="$state.go('categories' , {name : g.name.split(' ').join('_')})">
              <div class="row">
                <div class=" card bg-white text-center" style="width: 100%;padding-bottom:0px;overflow:hidden;">
                  <img style="width: 100%;" class="img" ng-src="{{g.visual}}" ng-if="g.visual.length>0">
                  <img style="width: 100%;" class="img" src="/static/images/ecommerce.jpg" ng-if="g.visual==none">
                </div>
              </div>
              <div class="row" style="padding-top:5px;">
                <h5 class="text-center" style="margin:0px;">{{g.name}}</h5>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="col-xs-12 col-sm-12 hidden-md hidden-lg" style="padding:0px;">
      <!-- <h4>Categories</h4> -->
      <div ng-repeat="g in genericProducts| limitTo:6" style="padding:0px; ">
        <div class="col-xs-6 col-sm-6">
          <div class="container-fluid" style="cursor:pointer;padding-right:5px;padding-left:5px" ng-click="$state.go('categories' , {name : g.name.split(' ').join('_')})">
            <div class="row">
              <div class=" card bg-white text-center" style="width: 100%;padding-bottom:0px;">
                <div  style="padding-right:0px;padding-left:0px;overflow:hidden;height:200px;background: url('{{g.visual}}') no-repeat center center;background-size: cover;">
                </div>
                <div  style="padding-right:0px;padding-left:0px;overflow:hidden;height:200px;background: url('/static/images/ecommerce.jpg') no-repeat center center;background-size: cover;" ng-if="g.visual==null">
                </div>
              </div>
            </div>
            <div class="row" style="padding-top:5px; padding-bottom:20px;">
              <h5 class="text-center" style="margin:0px;">{{g.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row" style="margin:0px">
  <div class=" col-md-10 col-md-offset-1  hidden-xs hidden-sm">
    <div class="row">
      <div class="col-md-12">
        <div class="row" >
          <div class="col-md-3" ng-repeat=" l in listingProductsData1">
            <product-card list="l" add-cart="addToCart" ></product-card>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xs-10 col-sm-10 col-xs-offset-1  hidden-md hidden-lg">
    <div class="row">
      <div class=" col-xs-12 col-sm-6" ng-repeat="l in listingProductsData1" >
        <product-card list="l"  add-cart="addToCart"></product-card>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px">
  <div class="col-md-offset-1 col-md-10 hidden-xs hidden-sm" style="padding-left:20px;padding-right:40px;">
    <div class="row" ng-if="subSlide.banners.length > 0 && secondBanner">
      <div style="margin-bottom:10px;;margin-left:10px;padding-left:0px;padding-right:0px;overflow:hidden;padding:0px;" class="col-md-12 text-center  hidden-xs hidden-sm">
        <img class="anim-in-out anim-fade" data-anim-speed="100" style="width:100%;cursor:pointer;" ng-src="{{subSlide.img}}" ng-click="$state.go('pages' , {title : subSlide.title.split(' ').join('-').toLowerCase()})" />
      </div>
    </div>
  </div>
  <div class="col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 hidden-lg hidden-md" style="padding-right:20px;padding-left:20px">
    <div class="row" ng-if="subSlideMobile.banners.length > 0 && secondBanner">
      <div ng-if="$state.is('ecommerce')" style="position:relative;height:45vh;margin-bottom:20px;width:100%;display:border-box;overflow:hidden;padding-left:0px;padding-right:0px" class="card col-sm-12 col-xs-12 hidden-md hidden-lg">
        <img class="anim-in-out anim-fade" data-anim-speed="100" style="width:100%;cursor:pointer;height:45vh" ng-src="{{subSlideMobile.img}}" ng-click="$state.go('pages' , {title : subSlideMobile.title.split(' ').join('-').toLowerCase()})" />
      </div>
    </div>
    </iv>
  </div>
</div>

<div class="row" style="margin:0px">
  <div class="col-md-10 col-md-offset-1 hidden-xs hidden-sm">

    <div class="row">
      <div class="col-md-12">
        <div class="row" >
          <div class="col-md-3" ng-repeat=" l in listingProductsData2">
                <product-card list="l" add-cart="addToCart"></product-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-10 col-sm-10 col-xs-offset-1 hidden-md hidden-lg">
    <div class="row">
      <div class=" col-xs-12 col-sm-6" ng-repeat="l in listingProductsData2">
        <product-card list="l" add-cart="addToCart"></product-card>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center" style="padding:15px;">
  <button type="button" class="btn btn-default" ng-click="showMore()" >Show More</button>
</div>




<div class="row" style="margin:0px;" ng-if="me != null">

  <div class="col-md-offset-1 col-md-10 hidden-xs hidden-sm" style="padding:20px; padding-top:0px;">
    <div style="padding:10px;" class="row">
      <h4>Recently Viewed</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="row" >
            <div class="col-md-3" ng-repeat=" l in recentlyViewed">
                  <product-card list="l" add-cart="addToCart"></product-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
