<div class="row" ng-controller="controller.ecommerce.account.default">
  <div class="col-md-7 col-xs-12">
    <div class="form-group">
      <div class="col-xs-6" style="padding:0 5px 0 0">
        <label for="" style="margin:0px"><strong>First Name</strong></label>
        <input id="firstName" ng-model="detailsForm.firstName" type="text" class="form-control" placeholder="Enter First Name" ng-disabled="!editMode">
      </div>
      <div class="col-xs-6" style="padding:0 0 0 5px">
        <label for="" style="margin:0px"><strong>Last Name</strong></label>
        <input ng-model="detailsForm.lastName" type="text" class="form-control" id="" placeholder="Enter Last Name" ng-disabled="!editMode">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6" style="padding:0 5px 0 0">
        <label for="" style="margin:0px"><strong>Email Id</strong></label>
        <input ng-model="detailsForm.email" type="text" class="form-control" id="" placeholder="Enter Email" ng-disabled="!editMode">
      </div>
      <div class="col-xs-6" style="padding:0 0 0 5px">
        <label for="" style="margin:0px"><strong>Phone No.</strong></label>
        <input ng-model="detailsForm.mobile" type="text" class="form-control" id="" placeholder="Mobile No" ng-disabled="!editMode">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12" style="padding:0 5px 0 0">
        <label for="" style="margin:0px"><strong>GST</strong></label>
        <input ng-model="detailsForm.gst" type="text" class="form-control" id="" placeholder="Enter GST" ng-disabled="!editMode">
      </div>
    </div>
    <div class="form-group">
      <button ng-if="editMode" type="button" class="btn btn-primary" ng-click="save()" style="margin-top:15px;">
        Save
      </button>
      <button ng-if="!editMode" type="button" class="btn btn-primary" ng-click="edit()" style="margin-top:15px;">
        Edit
      </button>
    </div>
  </div>
</div>

<div class="row">
  <p style="text-align:center;">
    <div class="row">
      <div class="col-md-4">
        <h1 style="text-align:center;"> {{inCart.length}}</h1>
        <h2 style="text-align:center;"> In Cart</h2>
      </div>
      <div class="col-md-4">
        <h1 style="text-align:center;">{{inFavourite.length}} </h1>
        <h2 style="text-align:center;"> In Whishlist</h2>
      </div>
      <div class="col-md-4">
        <h1 style="text-align:center;">{{inInvoice.length}} </h1>
        <h2 style="text-align:center;"> In Process</h2>
      </div>
    </div>
  </p>
</div>
