<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 card bg-white">
      <div class="row container-fluid" ng-bind-html = "pageData.body" style="margin-top:20px;">
      </div>
    </div>
  </div>
</div>

<!-- <div class="row anim-in-out anim-zoom-out" style="position:fixed; bottom:20px; left:0px;z-index:100;" ng-if="showGoToTop">
  <div class="card text-center" style="width:300px;height:70px;padding:10px;background-color:#0e7560;border-radius:0px 10px 10px 0px;">
    <h4 style="color:white;cursor:pointer;" ng-click="rentOut()">Have one to rent out ?</h4>
  </div>
</div>

<div class="row" style="position:fixed; bottom:40px; right:50px;z-index:100;" ng-if="showGoToTop">
  <button ng-click="goToTop()" type="button" class="btn btn-lg btn-default col-md-offset-9" style="border-radius:20px;">
    <i class="fa fa-level-up"></i> TOP
  </button>
</div> -->
