<div class="row bg-white ecomNav" style="height:10vh;width:100%;padding-top: 8px;padding-bottom: 8px;">

  <div class="col-xs-3 text-center">
    <img ng-click="$state.go('ecommerce')" src="/static/images/sterlin_select.png" style="height:7vh;cursor:pointer;" alt="">
  </div>

  <div style="padding-top:1.5vh;" class="hidden-xs hidden-sm">
    <div class="col-xs-5" style="padding:0px;">
      <input type="text" style="width:100%;color: #000;text-indent: 10px;outline: none;border-radius: 7px;color:rgb(24, 89, 46);height: 40px;" ng-model="searchProduct.product" uib-typeahead="p as p.name for p in genericProductSearch($viewValue)" placeholder="{{settings.searchField}}">
    </div>
  </div>

  <div class="col-md-2 text-center dropdown hidden-xs hidden-sm">
    <span class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;font-size:17px;color:rgb(24, 89, 46)" ng-if="me.pk" > {{me.first_name}} <img ng-src="{{me.pk | getDP}}" style="width: 20px;" alt=""></span>
    <ul class="dropdown-menu " style="margin-right:0px;padding-top:0px;">
      <li> <img ng-src="{{me.pk | getDP}}" style="width: 170px;" alt=""> </li>
      <li><a ui-sref="account.orders" style="color:rgb(24, 89, 46)">Orders</a></li>
      <li><a ui-sref="account" style="color:rgb(24, 89, 46)">Account</a></li>
      <li><a href="" ng-click="logoutPage()" style="color:rgb(24, 89, 46)">Logout</a></li>
    </ul>
  </div>

  <div class="col-md-1 text-left hidden-xs hidden-sm" ng-if="me.pk" style="padding:0px">
    <span>
    <span ng-click="$state.go('account.cart')" style="cursor:pointer;font-size:17px;color:rgb(24, 89, 46);margin-right: -4px;" >  Cart <i class="fa fa-shopping-cart fa-lg"></i></span>
      <span style="background-color:green;height: 10%;width: 25px;  border-radius: 50%;color:white;display: table-cell;text-align: center;vertical-align: middle;" ng-if="inCart.length>0" class="text-center">{{inCart.length}}</span>
</span>
  </div>

  <div class="col-md-1 text-left hidden-xs hidden-sm" ng-if="me.pk" style="padding:0px">
    <span ng-click="openPinPopup()" style="cursor:pointer;font-size:17px;color:rgb(24, 89, 46);margin-right: -4px;" ng-if="pin!=0&&pin!=''" title="Change Pincode">{{pin}} <i class="fa fa-pencil fa-lg"></i></span>
  </div>

  <div class="col-md-3 text-right hidden-xs hidden-sm" ng-if="!me.pk">
    <span ng-click="openPinPopup()" style="cursor:pointer;font-size:17px;padding-right:30px;color:rgb(24, 89, 46)" ng-if="pin!=0&&pin!=''" title="Change Pincode">{{pin}} <i class="fa fa-pencil fa-lg"></i></span>
    <span style="cursor:pointer;font-size:17px;padding-right:30px;color:rgb(24, 89, 46)" ng-click="loginPage()"> Login <i class="fa fa-user fa-lg"></i></span>
    <span style="cursor:pointer;font-size:17px;color:rgb(24, 89, 46)" ng-click="registerPage()"> Register <i class="fa fa-registered fa-lg"></i></span>

  </div>


  <div class="col-md-1 text-right hidden-xs hidden-sm" ng-if="!me.pk">
    <span>
      <span ng-click="mainPage()" style="cursor:pointer;font-size:17px;color:rgb(24, 89, 46);margin-right: -4px;" >  Cart <i class="fa fa-shopping-cart fa-lg"></i></span>
      <span style="background-color:green;height: 10%;width: 25px;  border-radius: 50%;color:white;display: table-cell;text-align: center;vertical-align: middle;"  class="text-center">{{addToCart.length}}</span>
    </span>
  </div>


  <div class="col-xs-9 text-right hidden-md hidden-lg" ng-if="!me.pk">
    <span ng-click="openPinPopup()" style="cursor:pointer;font-size:13px;padding-right:10px;color:rgb(24, 89, 46)" ng-if="pin!=0&&pin!=''" title="Change Pincode">{{pin}} <i class="fa fa-pencil fa-lg"></i></span>
    <span style="cursor:pointer;font-size:13px;padding-right:10px;color:rgb(24, 89, 46)" ng-click="loginPage()"> Login <i class="fa fa-user fa-lg"></i></span>
    <span style="cursor:pointer;font-size:13px;color:rgb(24, 89, 46)" ng-click="registerPage()"> Register <i class="fa fa-registered fa-lg"></i></span>
  </div>

  <div class="col-xs-3 text-right hidden-lg hidden-md" ng-if="me.pk" style="padding-top: 15px;color:rgb(24, 89, 46)">
    <span ng-click="openPinPopup()" style="cursor:pointer;font-size:14px" ng-if="pin!=0&&pin!=''" title="Change Pincode">{{pin}} <i class="fa fa-pencil fa-lg"></i></span>
    </span>
  </div>

  <div class="col-xs-3 text-right hidden-lg hidden-md" ng-if="me.pk" style="padding-top: 10px;color:rgb(24, 89, 46)">
    <span ng-click="$state.go('account.cart')" style="cursor:pointer" >  Cart <i class="fa fa-shopping-cart fa-lg"></i>
          <span style="background-color:green;height: 20px;width: 20px;  border-radius: 50%;display: table-cell;text-align: center;vertical-align: middle;color:white;position:relative;right: 5px" ng-if="inCart.length>0" class="text-center">{{inCart.length}}</span>
    </span>
  </div>
<!--     <div class="col-xs-2 text-right hidden-lg hidden-md" ng-if="!me.pk" style="padding-top: 10px;color:rgb(24, 89, 46)">
    <span ng-click="$state.go('account.cart')" style="cursor:pointer" > <i class="fa fa-shopping-cart fa-lg"></i>
          <span style="background-color:green;height: 20px;width: 20px;  border-radius: 50%;display: table-cell;text-align: center;vertical-align: middle;color:white;position:relative;right: 5px" ng-if="inCart.length>0" class="text-center">{{addToCart.length}}</span>
    </span>
  </div> -->

  <div class="col-xs-3 text-center dropdown hidden-lg hidden-md " style="padding-top: 12px;">
    <span class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;color:rgb(24, 89, 46);" ng-if="me.pk" > {{me.first_name}} <img ng-src="{{me.pk | getDP}}" style="width: 15px;" alt=""></span>
    <ul class="dropdown-menu " style="margin-right:0px;padding-top:0px; left:-80px;">
      <li> <img ng-src="{{me.pk | getDP}}" style="width: 170px;" alt=""> </li>
      <li><a ui-sref="account.orders" style="color:rgb(24, 89, 46)" >Orders</a></li>
      <li><a ui-sref="account" style="color:rgb(24, 89, 46)">Account</a></li>
      <li><a href="" ng-click="logoutPage()" style="color:rgb(24, 89, 46)">Logout</a></li>
    </ul>
  </div>

</div>
<div class="row bg-white ecomNav hidden-lg hidden-md " style="width:100%" >
  <div class="col-xs-12" style="padding-right:0px; padding-left:0px;">
    <input type="text" style="width:100%;color: #000;text-indent: 10px;outline: none;color:rgb(24, 89, 46);height:40px;" ng-model="searchProduct.product" uib-typeahead="p as p.name for p in genericProductSearch($viewValue)" placeholder="{{settings.searchField}}">
  </div>
</div>



  <hr style="margin:0px;border: solid 2px #DCDCDC;">
<div ng-if="$state.is('ecommerce') && bannerText" style="position:relative;height:60vh;margin-bottom:20px;width:100%;display:border-box;overflow:hidden;background-size:cover;" class="card hidden-xs hidden-sm">
  <img style="width:100%;cursor:pointer;height:56vh;background-attachment: fixed;background-position: center;" ng-repeat="b in slide.banners" ng-if="$index == slide.active" ng-src="{{b.image}}" ng-click="$state.go('pages' , {title : b.title.split(' ').join('-').toLowerCase()})"/>

  <!-- <div class="anim-in-out anim-zoom-out" style="padding-right:0px;padding-left:0px;margin-bottom:20px;border-bottom: solid 4px #eeeeee;overflow:hidden;height:40vh;background: url('{{b.image}}') no-repeat center center;background-size: cover;">
  </div> -->



  <div class="row" style="background-color:#525252;position:absolute;bottom:0px;width:100%; height:4vh;margin:0px;">
    <ul style="padding:0px;">
      <li ng-click="changeSlide($index)" ng-init="onHover = False;" ng-mouseenter="onHover = true;" ng-mouseleave="onHover = false;" style="display:inline-block;min-width:{{100/slide.banners.length}}%;height:60px;cursor:pointer;" ng-repeat="s in slide.banners track by $index" class="text-center {{($index == slide.active || onHover) ? 'activeSlideTab' : ''}}">
        <span style="color:{{($index == slide.active || onHover) ? '#3c3c3c' : 'white'}};position:relative;top:-15px;margin-right: 105px;">
          {{s.title | uppercase}}
        </span>
      </li>
    </ul>
  </div>
</div>

<div ng-if="$state.is('ecommerce')&& !bannerText" style="position:relative;width:100%;display:border-box;overflow:hidden;background-size:cover;" class="hidden-xs hidden-sm ">

    <!-- <img style="width:100%;cursor:pointer;height:60vh;background-attachment: fixed;background-position: center;position:absolute;z-index:none;" ng-repeat="b in slide.banners" ng-if="$index == slide.active" ng-src="{{b.image}}" ng-click="$state.go('pages' , {title : b.title.split(' ').join('-').toLowerCase()})"/><br/> -->


    <div  style="padding-right:0px;padding-left:0px;overflow:hidden;height:50vh;background: url('{{b.image}}') no-repeat center center;background-size: cover;"  ng-click="$state.go('pages' , {title : b.title.split(' ').join('-').toLowerCase()})" ng-repeat="b in slide.banners" ng-if="$index == slide.active">
    </div>


    <div class="col-md-12" style="padding-left:0px;position:absolute;top:15vh;">
      <button  class="previous round text-center" style="background-color:white;color:#808080;position:absolute;font-size:50px;width:60px;border:0px white; box-shadow: 0px 15px 20px rgba(4, 14, 14, 0.4);height:100px;border-radius:0px 30px 30px 0px;" ng-click="change('previous')">&#8249; </button>
      <button  class="next round text-center" style="background-color: white ;color: #808080;position:absolute;right: 0;font-size:50px;padding-right:10px;border:0px white;box-shadow: 0px 15px 20px rgba(4, 14, 14, 0.4);height:100px;width:60px;border-radius:30px 0px 0px 30px"  ng-click="change('next')">&#8250;
      </button>
    </div>

  <!-- <div class="row" style="background-color:#525252;position:absolute;bottom:0px;width:100%; height:4vh;margin:0px;">
    <ul style="padding:0px;">
      <li ng-click="changeSlide($index)" ng-init="onHover = False;" ng-mouseenter="onHover = true;" ng-mouseleave="onHover = false;" style="display:inline-block;min-width:{{100/slide.banners.length}}%;height:60px;cursor:pointer;" ng-repeat="s in slide.banners track by $index" class="text-center {{($index == slide.active || onHover) ? 'activeSlideTab' : ''}}">
        <span style="color:{{($index == slide.active || onHover) ? '#3c3c3c' : 'white'}};position:relative;top:-15px;margin-right: 105px;">
          {{s.title | uppercase}}
        </span>
      </li>
    </ul>
  </div> -->
</div>


<div ng-if="$state.is('ecommerce')&& bannerText" style="position:relative;height:50vh;margin-bottom:20px;width:100%;display:border-box;overflow:hidden;" class="card hidden-md hidden-lg">
  <img class="anim-in-out" data-anim-speed="100" style="height:100%;cursor:pointer;" ng-if="$index == slideMobile.active" ng-repeat="b in slideMobile.banners" ng-src="{{b.imagePortrait}}" ng-click="$state.go('pages' , {title : b.title.split(' ').join('-').toLowerCase()})"/>

<!-- <div ng-if="$state.is('ecommerce')" style="position:relative;height:88vh ;margin-bottom:20px;width:100%;display:border-box;overflow:hidden;" class="card hidden-md hidden-lg">
  <img class="anim-in-out anim-fade" data-anim-speed="100" ng-click="$state.go(slideMobile.banners[slideMobile.active].state , slideMobile.banners[slideMobile.active].params)" style="width:100%;" ng-if="$index == slideMobile.active" ng-repeat="b in slideMobile.banners" ng-src="{{b.imagePortrait}}"/> -->

  <div class="row" style="background-color:#525252;position:absolute;bottom:0px;width:100%; height:6vh;margin:0px;">
    <ul style="padding:0px;">
      <li ng-click="changeSlideMobile($index)" ng-init="onHover = False;" ng-mouseenter="onHover = true;" ng-mouseleave="onHover = false;" style="display:inline-block;min-width:{{100/slideMobile.banners.length}}%;height:80px;cursor:pointer;" ng-repeat="s in slideMobile.banners track by $index" class="text-center {{($index == slideMobile.active || onHover) ? 'activeSlideTab' : ''}}">
        <span style="color:{{($index == slideMobile.active || onHover) ? '#3c3c3c' : 'white'}};position:relative;top:-15px;">
          {{s.title | uppercase}}
        </span>
      </li>
    </ul>
  </div>
</div>


<div ng-if="$state.is('ecommerce')&& !bannerText" style="position:relative;height:40vh;margin-bottom:20px;width:100%;display:border-box;overflow:hidden;" class="card hidden-md hidden-lg">
  <!-- <img class="anim-in-out" data-anim-speed="100" style="width:100%;cursor:pointer;height:50vh" ng-if="$index == slideMobile.active" ng-repeat="b in slideMobile.banners" ng-src="{{b.imagePortrait}}" ng-click="$state.go('pages' , {title : b.title.split(' ').join('-').toLowerCase()})"/> -->

<!-- <div ng-if="$state.is('ecommerce')" style="position:relative;height:88vh ;margin-bottom:20px;width:100%;display:border-box;overflow:hidden;" class="card hidden-md hidden-lg">
  <img class="anim-in-out anim-fade" data-anim-speed="100" ng-click="$state.go(slideMobile.banners[slideMobile.active].state , slideMobile.banners[slideMobile.active].params)" style="width:100%;" ng-if="$index == slideMobile.active" ng-repeat="b in slideMobile.banners" ng-src="{{b.imagePortrait}}"/> -->

  <!-- <div class="row" style="background-color:#525252;position:absolute;bottom:0px;width:100%; height:6vh;margin:0px;">
    <ul style="padding:0px;">
      <li ng-click="changeSlideMobile($index)" ng-init="onHover = False;" ng-mouseenter="onHover = true;" ng-mouseleave="onHover = false;" style="display:inline-block;min-width:{{100/slideMobile.banners.length}}%;height:80px;cursor:pointer;" ng-repeat="s in slideMobile.banners track by $index" class="text-center {{($index == slideMobile.active || onHover) ? 'activeSlideTab' : ''}}">
        <span style="color:{{($index == slideMobile.active || onHover) ? '#3c3c3c' : 'white'}};position:relative;top:-15px;">
          {{s.title | uppercase}}
        </span>
      </li>
    </ul>
  </div> -->
  <img ng-repeat="b in slide.banners" style="width:100%;cursor:pointer;height:60vh;background-attachment: fixed;background-position: center;position:absolute;z-index:none;background: url('{{b.imagePortrait}}') no-repeat center center;background-size: cover;"  ng-if="$index == slide.active" ng-click="$state.go('pages' , {title : b.title.split(' ').join('-').toLowerCase()})"/><br/>
  <div class="col-xs-12" style="padding-left:0px">
    <div class="col-xs-6 text-left" style="margin-left:0px;left:0px;padding-top:8%;padding-left:0px">
  <button href="#" class="previous round text-right" style="background-color:white;color: black;position:absolute;font-size:50px;padding-right:10px;border:0px white;height:100px; box-shadow: 0px 15px 20px rgba(4, 14, 14, 0.4);border-radius:0px 30px 30px 0px;" ng-click="change('previous')">&#8249; </button>

</div>
  <div class="col-xs-6 text-right" style="margin-left:0px;padding-top:8%;">
  <button href="#" class="next round text-left" style="background-color: white;color: black;position:absolute;float: left;font-size:50px;padding-right:23px;padding-left:10px;border:0px white;box-shadow: 0px 15px 20px rgba(4, 14, 14, 0.4);height:100px;width:60px;border-radius:30px 0px 0px 30px"  ng-click="change('next')">&#8250;</button>
</div>
</div>
</div>

<!-- <div ng-init="showFeedback=false;" class="bg-white card" style="position:fixed; top:35vh;right:{{!showFeedback ? '0' : '0'}}px;transition:right 0.1s linear;
  width:350px;height:460px; z-index:10;border-left:solid 5px #136ab1;" ng-if="feddbackPannel">
  <div style="position:absolute;right:290px;width:150px;height:32px;top:100px;background-color:#136ab1;cursor:pointer;
    transform: rotate(-90deg);border-radius : 6px 6px 0px 0px; padding-right:20px;padding-left:20px;" ng-click="showFeedback = !showFeedback;">
    <span style="font-size:18px;color:white;letter-spacing: 3px;">Feedback
    </span>
  </div>

  <div class="container-fluid" style="margin:10px;">
<div class="row">
  <div class="col-md-12 col-sm-8">
    <div class="row">
      <div class="col-md-12 col-sm-12"  style="padding-left:0px">
      <strong>Send us your feeback / message / complaint or query.</strong>
    </div>
  </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12 col-sm-12" style="padding-left:0px">
      <div class="form-group">
        <label> Email</label>
        <input type="email" ng-model="feedback.email" class="form-control" placeholder="Enter your email address" >
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
      <div class="form-group">
        <label> Mobile</label>
        <input type="number" ng-model="feedback.mobile" class="form-control" placeholder="Enter your mobile number">
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12 col-sm-12">
      <div class="form-group">
        <label> Message</label>
        <textarea rows="3" ng-model="feedback.message" class="form-control" placeholder="Enter your message/feedback"> </textarea>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12 col-sm-12">
      <div style="position:absolute;">
        <button type="button" class="btn btn-success" ng-click="sendFeedback()">
          Send
        </button>
        <button type="button" class="btn btn-default" ng-click="close()">
          Cancel
        </button>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>



</div>
 </div> -->
