<div class="row modal-header">
  <div class="container-fluid">
    <div class="col-md-12 text-center" style="font-size:24px">
      <span>Contact Us</span> <span class="pull-left" style="font-size:12px;cursor:pointer"><i ng-click="close()" class="fa fa-close fa-2x"></i></span>
    </div>
    <!-- <div class="col-md-10 col-xs-10 col-sm-10 text-center" style="padding-left:25px">
      <h3>Contact us</h3>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2" style="cursor:pointer;padding-top:10px">
      <i ng-click="close()" class="fa fa-close fa-2x"></i>
    </div>
  </div> -->
</div>

<div class="row modal-body">
  <div class="container-fluid">
      <div class="col-md-12 col-xs-12 col-sm-12 text-center">
        <strong>Toll free no : </strong> 180012345678 <br>
        <strong>e-mail : </strong> care@ecommerce.com <br>
      </div>
    </div>
</div>
