<a ng-controller="ecommerce.search.typeheadResult" style="overflow:hidden;">
    <div class="row">
      <div class="col-xs-2">
        <img ng-if="match.model.dp" ng-src="{{ '/media/' + match.model.dp}}" class="img img-rounded" alt="" style="width:50px;height:50px;">
        <img ng-if="!match.model.dp" ng-src="{{ '/media/' + match.model.visual}}" class="img img-rounded" alt="" style="width:50px;height:50px;">
      </div>
      <div class="col-xs-6">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
      </div>
      <div ng-if="match.model.typ == 'list' && !match.model.added" class="col-xs-4 text-right" style="padding-top:7px;" ng-click="$event.stopPropagation();">
        <button type="button" class="btn btn-success" ng-click="addToCart(match.model)">
          Add to Card
        </button>
      </div>
      <div ng-if="match.model.typ == 'list' && match.model.added" class="col-xs-4 text-right" style="padding-top:7px;" ng-click="$event.stopPropagation();">
        <button type="button" class="btn btn-default">
          Added
        </button>
      </div>
    </div>
    <div ng-if="$parent.$parent.$last">
      <img ng-if="genericSearchImage.searchBgImage" src="{{genericSearchImage.searchBgImage}}" style="width:100%;position: absolute;left: 0px;" alt="Search Background Image">
      <img ng-if="!genericSearchImage.searchBgImage" src="/static/images/searchDecoration.jpg" style="width:100%;position: absolute;left: 0px;" alt="Search Background Image">
    </div>
</a>
