<div class="modal-header">
  Edit : {{data.product.name}}
</div>
<div class="modal-body">
  <label>Current Stock : </label> {{data.quantity}}
  <div class="form-group" style="padding-top:15px">
    <label>Quantity</label>
    <div class = "input-group">
       <input type = "number" class = "form-control" ng-model="quantity" id="updatequantity">
       <span class = "input-group-btn">
          <button type="button" class="btn btn-success" ng-click="save(true)">Increase</button>
       </span>
       <span class = "input-group-btn">
          <button type="button" class="btn btn-danger" ng-click="save(false)">Decrease</button>
       </span>
    </div>
  </div>


</div>
