<div class="container-fluid" ng-controller="businessManagement.productsInventory.store.form">
  <div class="col-md-6">

    <h3 ng-if="mode == 'new'">Create a new Store</h3>
    <h3 ng-if="mode != 'new'">Edit Store  </h3>

    <div class="form-group">
      <label>Store Name</label>
      <input type="text" class="form-control" ng-model="form.name" placeholder="Enter Store name">
    </div>
    <div class="form-group">
      <label>Mobile</label>
      <input type="text " class="form-control" ng-model="form.mobile" placeholder="Enter Mobile Number">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" ng-model="form.email" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label>Address</label>
      <textarea type="text " class="form-control" ng-model="form.address" placeholder="Enter Address"></textarea>
    </div>
    <div class="form-group">
      <label>Pincode</label>
      <input type="text " class="form-control" ng-model="form.pincode" placeholder="Enter Pincode">
    </div>

    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-primary" ng-click="save()">
        Save
      </button>
      <button type="button" class="btn btn-default" ng-click="resetForm()">
        Reset
      </button>
    </div>

  </div>
</div>
