<div class="container-fluid"style="padding-bottom:15px;">
  <div class="text-center">
    <h3>Upload Notes</h3>
    <hr>
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" ng-model="form.title" placeholder="">
  </div>
  <div class="form-group">
    <label>Description </label>
    <textarea type="text" class="form-control" rows="5" ng-model="form.description" placeholder="" style="resize:none;"></textarea>
  </div>
  <div class="form-group">
    <label>URL</label>
    <input type="text" class="form-control" ng-model="form.url" placeholder="">
  </div>
  <div class="form-group">
    <label>Image</label>
    <input type="file" file-model="form.image">
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary pull-right" ng-click="saveNote()">Save</button>
    <button type="button" class="btn btn-primary pull-right" ng-click="saveNote()" ng-if="form.pk">Update</button>
  </div>
</div>
