<div class="col-md-3" style="padding-bottom:20px;padding-left:10px;padding-right:10px;" ng-click="rowActionClicked('details')" ng-controller="workforceManagement.salary.payroll.report.item">
  <div class="container-fluid card" style="padding-bottom:10px">
    <div class="row container-fluid" style="padding-bottom:10px;margin-bottom:15px;padding-top:20px;">
      <div class="col-md-9">
        <span style="font-size:22px"><strong>{{months[data.month]}} - {{data.year}}</strong></span><br>
        <span style="font-size:15px"><strong>Total : </strong>{{data.total}} <span ng-if="data.total==''||data.total<0||!data.total" class="text-danger">NA</span></span><br>
        <span style="font-size:15px"><strong>TDS : </strong>{{data.totalTDS}} <span ng-if="data.totalTDS==''||data.totalTDS<0||!data.totalTDS" class="text-danger">NA</span></span><br>
        <span style="font-size:15px"><strong>Payslips : </strong>{{data.payslips.length}}</span><br>
        <span style="font-size:15px"><strong>Date of Processing : </strong><span  ng-if="data.dateOfProcessing">{{data.dateOfProcessing}} </span><span ng-if="!data.dateOfProcessing" class="text-danger">NA</span> </span><br>
      </div>
      <div class="col-md-3">
        <span style="color:orange;" ng-if="data.status == 'created'">{{data.status | humanize}}</span>
        <span style="color:green;" ng-if="data.status == 'submitted'">{{data.status | humanize}}</span>
        <span style="color:blue;" ng-if="data.status == 'approved'">{{data.status | humanize}}</span>
        <span style="color:black;" ng-if="data.status == 'processed'">{{data.status | humanize}}</span>
        <span class="icon fa fa-chevron-circle-down" ng-if="data.status == 'reconciled'">{{data.status}}</span>
      </div>
    </div>
  </div>
</div>
</div>
