/*properties for normal screen size starts here  */
/* exams css properties */
.selected {
  background-color: #D6F1FB;
}

.selectedhead {
  background-color: #25B5E9;
  border: 0;
}

.headselected {
  margin-left: 1em;
  padding: 0.1em 1em;
}

.selectedsub {
  color: #fff;
}


.notview {
  width: 35px;
  height: 35px;
  background-color: #D2D2D2;
  border-radius: 18px;
  float: left;
  margin: 1em 1em 1em 0;
  position: relative;
  cursor: pointer;
}

.notview .numberalign, .reviewed .numberalign, .attemptreviewed .numberalign {
  color: #fff;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: 35%;
  top: 20%;
}

.notview .numberalign1, .reviewed .numberalign1, .attemptreviewed .numberalign1 {
  color: #fff;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: 25%;
  top: 20%;
}

.answered {
  width: 35px;
  height: 45px;
  border-radius: 0;
  margin-top: 0.3em;
  background: #29B999;
  position: relative;
  float: left;
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
  cursor: pointer;
}

.answered .numberalign {
  color: #fff;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: 35%;
  top: 40%;
}

.answered .numberalign1 {
  color: #fff;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: 25%;
  top: 40%;
}

.notanswered {
  width: 35px;
  height: 45px;
  border-radius: 0;
  margin-top: 1em;
  float: left;
  position: relative;
  background: #ED6060;
  clip-path: polygon(52% 100%, 100% 68%, 100% 0, 0 0, 0 72%);
  cursor: pointer;
}

.notanswered .numberalign {
  color: #fff;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: 35%;
  top: 20%;
}

.notanswered .numberalign1 {
  color: #fff;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: 25%;
  top: 20%;
}

.reviewed {
  width: 35px;
  height: 35px;
  background-color: #565FB8;
  border-radius: 18px;
  float: left;
  margin: 1em 1em 1em 0;
  position: relative;
  cursor: pointer;
}

.attemptreviewed {
  width: 35px;
  height: 35px;
  background-color: #565FB8;
  border-radius: 18px;
  float: left;
  margin: 1em 1em 1em 0;
  position: relative;
  cursor: pointer;
}

.attemptreviewed::after {
  content: '\2713';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 75%;
  right: 0;
  background-color: #86D37C;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  text-align: center;
}

.btns {
  color: #38322A;
  border: 1px solid #D2D2D2;
  padding: 0.5em 3em;
  width: 70%;
  background-color: #fff;
  margin-top: 1em;
  border-radius: 2px;
  font-size: 17px;
}

.btnaction {
  color: #fff;
  border: 0;
  padding: 0.5em 2em;
  background-color: #ED6060;
  margin-top: 1em;
  font-size: 17px;
  width: 15%;
  margin-left: 0.5em;
  /* background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7); */
  border-radius: 5px;
  border-top-left-radius: 25px;
}

.btnaction1 {
  color: #fff;
  border: 0;
  padding: 0.5em 2em;
  background-color: #565FB8;
  margin-top: 1em;
  font-size: 17px;
  width: 15%;
  margin-left: 0.5em;
  /* background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7); */
  border-radius: 5px;
  border-top-left-radius: 25px;
}

/* .btnaction:hover {
  background-color: #25B5E9;
  color: #fff;
} */
.headbtn {
  color: #fff;
  padding: 0.5em 2em;
  border: 0;
  background-color: #25B5E9;
  margin-top: 1em;
  font-size: 17px;
  width: 15%;
  margin-left: 0.5em;
  /* background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7); */
  border-radius: 5px;
  border-top-left-radius: 25px;
}

.savebtn {
  color: #fff;
  padding: 0.5em 2em;
  border: 0;
  background-color: #29B999;
  margin-top: 1em;
  font-size: 17px;
  width: 15%;
  margin-left: 0.5em;
  /* background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7); */
  border-radius: 5px;
  border-top-left-radius: 25px;
}

.savebtn:hover, .btnaction:hover {
  /* background-image: linear-gradient(to right, #873be7, #6A7EF1, #02EBA3); */
  transition: all .200s ease-in-out;
}

.maindiv {
  padding: 2em 2em 2em 2em;
}

.queanswer {
  padding-top: 2em;
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 4em;
}

.btn-section {
  /* margin-top: 20em;
  border-top: 1px solid #D2D2D2;
  padding: 0;
  margin-left: 0;
  margin-right: 0; */
  position: fixed;
  bottom: 3em;
  right: 36.5em;
  padding: 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #D2D2D2;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  background-color: #fff;
}

.timer {
  position: fixed;
  top: 1em;
  right: 35em;
}

.saves {
  margin-left: 30em;
}

.answers {
  padding: 1em;
}

.headsection {
  width: 100%;
  height: 40px;
  background-color: #fff;
  position: fixed;
  top: 3.6em;
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.aligntotext1 {
  font-size: 17px;
}

.aligntotext {
  font-size: 17px;
  margin-left: 0.5em
}

.fromtop {
  padding-bottom: 5em;
  margin-top: 25em;
}

.center-align {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* display:inline-block; */
}

.tocenter {
  display: inline-block;
}

.adjustwidth {
  width: 30%;
  margin-left: 1em;
  margin-top: 0em;
}

.leftalign {
  left: 27em;
}

/*properties for normal screen size starts here  */
/* mobile display size starts here.... */
@media only screen and (max-width:768px) {
  .adjustwidth {
    width: 100%;
    margin-left: 0em;
    margin-top: 1em;
  }

  .leftalign {
    left: 6em;
  }

  .queanswer {
    padding-top: 1em;
    border-bottom: 0;
    padding-bottom: 4em;
  }

  .maindiv {
    padding: 2em 0.5em 1em 0.5em;
  }

  .subtext {
    font-size: 15px;
  }

  .btn-section {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid #D2D2D2;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    background-color: #fff;
  }

  .timer {
    position: fixed;
    top: 0em;
    right: 0em;
    z-index: 99;
  }

  .saves {
    margin-left: em;
  }

  .savebtn {
    padding: 0.5em 0;
    border: 0;
    margin: 1em 0.1em 1em 0.1em;
    font-size: 14px;
    width: 20%;
    border-top-left-radius: 17px;
  }

  .btnaction {
    padding: 0.5em 0;
    margin: 1em 0.1em 1em 0.1em;
    font-size: 14px;
    width: 35%;
    border-top-left-radius: 17px;
  }

  .btnaction1 {
    padding: 0.5em 0;
    margin: 1em 0.1em 1em 0.1em;
    font-size: 14px;
    width: 35%;
    border-top-left-radius: 17px;
  }

  .headbtn {
    padding: 0.5em 0;
    border: 0;
    margin: 1em 0.1em 1em 0.1em;
    font-size: 14px;
    min-width: 40%;
  }

  .fromtop {
    padding-bottom: 5em;
    margin-top: 25em;
  }

  .aligntotext1 {
    font-size: 15px;
    margin-left: 0;
  }

  .aligntotext {
    font-size: 15px;
    margin-left: 0.5em;
  }

  .notview {
    width: 35px;
    height: 35px;
    background-color: #D2D2D2;
    border-radius: 18px;
    float: left;
    margin: 1em 1em 1em 0;
    position: relative;
  }

  .notview .numberalign, .reviewed .numberalign, .attemptreviewed .numberalign {
    color: #fff;
    text-align: center;
    font-size: 15px;
    position: absolute;
    left: 35%;
    top: 20%;
  }

  .answered {
    width: 35px;
    height: 45px;
    border-radius: 0;
    margin-top: 0.3em;
    background: #29B999;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
  }

  .answered .numberalign {
    color: #fff;
    text-align: center;
    font-size: 15px;
    position: absolute;
    left: 30%;
    top: 40%;
  }

  .notanswered {
    width: 35px;
    height: 45px;
    border-radius: 0;
    margin-top: 1em;
    background: #ED6060;
    clip-path: polygon(52% 100%, 100% 68%, 100% 0, 0 0, 0 72%);
  }

  .notanswered .numberalign {
    color: #fff;
    text-align: center;
    font-size: 15px;
    position: absolute;
    left: 30%;
    top: 20%;
  }

  .reviewed {
    width: 35px;
    height: 35px;
    background-color: #565FB8;
    border-radius: 18px;
    float: left;
    margin: 1em 1em 1em 0;
    position: relative;
  }

  .attemptreviewed {
    width: 35px;
    height: 35px;
    background-color: #565FB8;
    border-radius: 18px;
    float: left;
    margin: 1em 1em 1em 0;
    position: relative;
  }

  .attemptreviewed::after {
    content: '\2713';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 75%;
    right: 0;
    background-color: #86D37C;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    text-align: center;
  }

  .answers {
    padding: 0 0 0 1em;
  }
}

/* mobile display size starts here.... */
@media only screen and (max-height: 300px), screen and (max-height: 438px) {}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  /* for iphones.... */
  /* for google pixel devices ends here */
}
