/*properties for normal screen size starts here  */
/* for normal screens ends here.... */
@media only screen and (min-width:1500px) {
  /* for hd screens starts here.... */
  /* for hd screens ends here.... */
}

.header_element {
  position: relative;
}

.container_box {
  position: absolute;
  top: 43px;
  left: 10px;
  padding: 0px;
  background-color: #0e0e0e;
  box-shadow: 1px 1px 8px 0 rgba(70, 70, 70, 0.25);
  margin: 2px;
  display: flex;
  width: 180%;
  flex-direction: column;
  justify-content: center;
  z-index: 200;
  color: #fff;
}

.container_box>li {
  list-style: none;
  padding: 10px;
  text-decoration: none;
  border-left: 4px solid #171717;
  cursor: pointer;
}

.container_box>li>a {
  color: black;
  display: block;
  text-decoration: none;
  font-weight: 501;
  color: #fff;
}

.container_box>li:hover {
  background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7);
  color: #fff !important;
  border-left: 4px solid #02EBA3;
  border-radius: 4px;
  border-top-left-radius: 20px;
}

.container_box>li:hover a {
  color: #fff !important;
}

.header_nav>li>a {
  font-weight: 501;
  margin-left: 20px;
  color: #fff;
}

.shaddowed {
  box-shadow: 0px 1px 4px rgba(26, 24, 20, 0.2);
}

/*8888888888888888888888888888888888****************************************************************************************  */
/*  */
/* for 24 tutututututu */
/*  */
.home_header {
  background-image: url('/static/images/24tut/homehead.png');
  min-height: 60vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home_content {
  color: #fff;
  padding-top: 13rem;
}

.btn_gradient {
  margin-top: 2em;
  margin-bottom: 1em;
  display: block;
  -webkit-appearance: none;
  border: 0px solid rgba(255, 255, 255, 0.45);
  border-radius: 7px;
  border-top-left-radius: 25px;
  padding: 1em 2em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #FFF;
  background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7);
  font-size: 14px;
  font-weight: bolder;
  font-family: sans-serif;
  transition: all .200s ease-in-out;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}

.btn_gradient:hover {
  background-image: linear-gradient(to right, #873be7, #6A7EF1, #02EBA3);
  transition: all .200s ease-in-out;
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}

.owl_point {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  border: 7px solid #e0e0e0;
}

.changingColor {
  border: 7px solid #02EBA3;
}

.changingFont {
  color: #02EBA3;
}

.owl_line_left {
  min-width: 14vw;
  border: 2px solid #e0e0e0;
  position: absolute;
  left: 59%;
  bottom: 15%;
}

.owl_line_right {
  min-width: 14.39vw;
  border: 2px solid #e0e0e0;
  position: absolute;
  right: 59%;
  bottom: 15%;
}

.list_div {
  min-height: 70vh;
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}

.list_container {
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 0rem;
  position: absolute;
  right: 17%;
  top: 10%;
}

.list_head {
  max-width: 24vw;
  margin-left: 10px;
  margin-right: auto;
  display: block;
}

.list_body {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 60px;
  background-color: #222222;
  color: #fff;
  border-radius: 7px;
  border-top-left-radius: 35px;
}

.img {
  width: 70%;
  padding-top: 40px;
}

.owl_div {
  min-height: 15vh;
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}

.owl_container {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 0rem;
}

.owl {
  min-height: 8vh;
  height: auto;
  margin-top: 0;
}

.owl-start {
  float: left;
  width: 8vw;
  position: absolute;
  top: 14vh;
  color: #fff;
  text-align: center;
}

.owl-center {
  float: left;
  width: 8vw;
  position: absolute;
  left: 45.6%;
  top: 14vh;
  color: #fff;
  text-align: center;
}

.owl-end {
  float: left;
  width: 8vw;
  position: absolute;
  top: 14vh;
  right: 30%;
  color: #fff;
  text-align: center;
}

.bg {
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.on_left {
  top: 0;
  left: 0;
  width: 10%;
}

.on_right {
  bottom: 0;
  right: 0;
  width: 10%;
}

.card_div {
  padding-top: 5em;
}

.card_title {
  font-size: 1.3em;
  font-weight: bolder;
  font-family: sans-serif;
  color: #000;
}

.card_breif {
  color: #656565;
}

.card_container {
  background-color: transparent;
  height: 25vh;
  border-radius: 6px;
  border-top-left-radius: 29px;
  padding-top: 40px;
  cursor: pointer;
}

.card_container:hover {
  background-color: #02EBA3;
}

.card_container:hover span {
  color: #fff
}

.min_padd {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 1.3em;
  font-weight: bolder;
  font-family: sans-serif;
  color: #fff;
}

.no_padding {
  padding: 0px;
}

.course_contain_bg {
  background-image: url('/static/images/24tut/tablet_stu.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 70vh;
  z-index: 2;
  position: relative;
}

.course_contain_gradient {
  background-image: linear-gradient(to right, rgba(143, 141, 141, 0), rgba(143, 141, 141, 0), rgba(233, 233, 233, 0.4), rgba(233, 233, 233, 1), rgba(233, 233, 233, 1), rgba(233, 233, 233, 1));
  min-height: 70vh;
  z-index: 50;
  position: absolute;
}

.starf {
  color: #9e9d9d;
}

.starf:hover {
  color: #f4c810;
}

.badge-pills {
  background-color: #02EBA3;
  padding: 5px 9px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
}

.course_card {
  border-top-left-radius: 0px;
  border-radius: 7px;
  height: 45vh;
  padding: 0px;
  cursor: pointer;
}

.course_card:hover {
  border-top-left-radius: 40px;
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
}

.course_card:hover .course_card_img {
  border-top-left-radius: 40px;
}

.course_card_img {
  height: 22vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.pro_card:hover {
  border-top-left-radius: 40px;
  box-shadow: 0px 0px 1px #ddd, 0 4px 20px #ccc;
}

.pro_card:hover .course_card_img {
  border-top-left-radius: 40px;
  background-image: linear-gradient(rgb(73, 245, 193), rgb(73, 245, 193));
}

.pro_card:hover .pro_num {
  color: #02EBA3;
}

.pro_card {
  border-top-left-radius: 0px;
  border-radius: 7px;
  height: 40vh;
  padding: 0px;
  cursor: pointer;
  background-color: #fff;
}

.hero_card {
  border-radius: 10px;
  height: 40vh;
  padding: 0px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.hero_card:hover {
  background-color: #fff;
  box-shadow: 0px 0px 1px #ddd, 0 4px 20px #ccc;
}

.hero_card .hero_img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pro_num {
  font-size: 1.2em;
  color: #d7d7d7;
  font-weight: bolder;
  font-family: sans-serif;
}

.pro_head {
  font-size: 1.2em;
  color: #000;
  font-weight: bolder;
  font-family: sans-serif;
}

.round_img {
  border-radius: 100%;
}

.authors_div {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 10px;
  top: 3px;
  display: none;
}

.show_always:hover .overlay {
  display: block;
}

.showme {
  display: none;
  position: absolute;
  z-index: 10;
  top: -4px;
  left: 0em;
}

.showhim:hover .showme {
  display: block;
}

.showhim:hover .ok {
  display: block;
  position: relative;
  z-index: 0
}

.heading_big {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
}

.heading_medium {
  font-size: 2.2em;
  font-weight: bold;
  color: #000;
}

.heading_small {
  font-size: 1em;
  font-weight: lighter;
  color: #444444;
}

.u_line::after {
  display: block;
  content: '';
  background-color: #02EBA3;
  width: 95px;
  height: 3.8px;
}

.divcolor {
  background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7);
}

.links {
  color: #fff;
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: bold;
}

.linkline {
  text-decoration: underline;
  color: #fff;
}

.links:hover {
  color: #eee;
}

.onplay {
  background-size: cover;
  height: 300px;
  width: 450px;
  cursor: pointer;
  position: relative;
  border-radius: 7px;
}

.onplay_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  opacity: 0;
  cursor: pointer;
  height: 300px;
  width: 450px;
  border-radius: 7px;
}

.onplay .onplay_overlay {
  opacity: 0.8;
  transition: 0.2s ease;
}

.onplay:hover .onplay_overlay {
  opacity: 1;
  transition: 0.2s ease;
}

.playerbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 96px;
}

.social_links {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  background-color: #6A7EF1;
  color: #fff;
}

.social_links:hover {
  background-color: #fff;
  color: #000;
}

.dash {
  border-radius: 4em;
  float: left;
  margin-left: 8em;
  margin-top: 4em;
  width: 8em;
  height: 8em;
  background-color: #000;
  position: relative;
}

.dashlast {
  border-radius: 4em;
  float: left;
  margin-left: 8em;
  margin-top: 4em;
  width: 8em;
  height: 8em;
  background-color: #000;
  position: relative;
}

.cent {
  position: relative;
}

.pro_hov {
  display: none;
  position: absolute;
  top: -162px;
  left: -24px;
}

.cent:hover .pro_hov {
  display: block;
}

.dash::after {
  width: 6em;
  height: 3em;
  content: '';
  position: absolute;
  display: block;
  left: 9em;
  top: 4em;
  border-top: 4px dashed #00FFCD;
}

.cent::after {
  width: 7em;
  height: 3em;
  content: '';
  position: absolute;
  display: block;
  left: 8.4em;
  top: 3.4em;
  border-top: 4px dashed #00FFCD;
}

.centlast::after {
  display: none;
}

.pro_title {
  position: absolute;
  bottom: -45px;
  width: 150px;
  left: -16px;
}

.pro_descrp {
  position: absolute;
  width: 210px;
  bottom: -76px;
  left: -22px;
  display: none;
  color: #fff;
  text-align: center;
}

.pro_img {
  position: absolute;
  top: 28%;
  left: 29%;
}

.cent:hover .pro_hov {
  display: block;
}

.pro_over_img {
  position: absolute;
  top: 28%;
  left: 29%;
  display: none;
}

.cent:hover .pro_img {
  display: none;
}

.cent:hover .pro_over_img {
  display: block;
}

.cent:hover .pro_descrp {
  display: block;
}

.footer h4 {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.8;
}

.footer .folist {
  list-style: none;
  /* Remove default bullets */
}

.footer .folist li::before {
  content: "\2022";
  color: #02EBA3;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 20px;
}

.footer:last-child li::before {
  display: none;
}

.contact {
  line-height: 2.3;
  list-style-type: none;
}

.partners:first-child {
  margin-left: 6rem;
}

.partners {
  padding-left: 4rem;
}

.tell_abt {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 33%;
}

.tell_abt_overlay {
  display: none;
  position: absolute;
  left: 64px;
  top: 23px;
}

.tell_card {
  position: relative;
  background-color: #f9f9f9;
  min-height: 39vh;
  border-radius: 8px;
  width: 85%;
}

.tell_card:hover {
  background-color: #fff;
  box-shadow: 0px 0px 1px #ddd, 0 4px 20px #ccc;
  border-top-left-radius: 30px;
}

.tell_card:hover .tell_abt_overlay {
  display: block;
}

.tell_c_info {
  padding-top: 12em;
}

.quotes_img {
  position: absolute;
  bottom: 29%;
  left: 42%;
  width: 16%;
  opacity: 0.3;
}

.footer a {
  color: #6e6e6e;
  font-size: 14px;
}

.footer a:hover {
  color: #2e2e2e;
  text-decoration: none;
}

.nav_ele {
  color: #fff !important;
}

.nav_ele:hover {
  color: #02eba3 !important;
}

/* ------------ */
.top {
  position: relative;
  min-height: 30vh;
}

.top h1 {
  color: #fff;
  padding-top: 3em;
  font-weight: bold;
  line-height: 50px;
}

.top h1::after {
  width: 3em;
  height: 1em;
  content: '';
  bottom: 0px;
  position: absolute;
  display: block;
  border-bottom: 2px solid #00EDA3;
}

.top h2 {
  color: #fff;
  position: absolute;
}

.top::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 60vh;
  background-image: url('/static/images/24tut/studentimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.20);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.topmargin {
  margin-top: 10em;
}

.custom-btn {
  border-top-left-radius: 2em;
  width: 60%;
  padding: 12px 18px;
  text-align: left;
}

.custom-btn .caret {
  right: 10em;
  position: absolute;
  border-top: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-top: 0.5em;
}

.dropdown-menu {
  left: 20%;
  width: 60%;
}

.filter {
  filter: brightness(0.20);
}

.filter .caret {
  right: 2em;
}

.likecard {
  background-color: #FAFAFA;
  min-height: 10vh;
  margin: 10px;
  width: 30%;
  margin-bottom: 2em;
}

/* .title_h {
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid grey;
} */
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 85%;
  border-radius: 5px;
  /* min-height: 45vh; */
  margin-left:1em;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.img-radius {
  border-radius: 5px 5px 0 0;
}

.body {
  padding: 2px 16px;
  margin-bottom: 3em;
}

.table-align  {
  margin-bottom: 2em;
}
.tablealign1{
  width: 20%;
}
.tablealign2{
  width: 60%;
}


.hoverimg {
  margin-top: 2em;
}

.hoverimg h4 {
  padding-top: 1em;
}

.hoverimg span {
  padding-top: 2em;
}

.hoverimg:hover {
  background-image: url('/static/images/24tut/6.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  cursor: pointer;
}

.courses ul {
  margin-top: 2em;
  list-style-type: none;
}
.courses ul li{
  font-size: 20px;
  color: #fff;
  margin-left:-2em;
}
.courses ul li::before {
  font-size: 20px;
  color: yellow;
  content: "\2022";
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.courses ul li span {
  color: #fff;
  font-size: 20px;
}

.btn-style {
  border-top-left-radius: 2em;
  padding: 12px 18px;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
  background-color: #fff;
}

.btn-style:hover {
  color: #fff;
  background-image: linear-gradient(90deg, #0AE1AB, #3DBECB, #6087EA);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url('/static/images/24tut/profile_overlay.png ');
}

.hover-circle:hover .overlay {
  opacity: 1;
}

.btn-style1 {
  margin-top: 2em;
  margin-bottom: 1em;
  /* display: block; */
  -webkit-appearance: none;
  border: 0px solid rgba(255, 255, 255, 0.45);
  border-radius: 7px;
  border-top-left-radius: 25px;
  padding: 1em 2em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #FFF;
  background-image: linear-gradient(90deg, #02EBA3, #6A7EF1, #873be7);
  font-size: 14px;
  font-weight: bolder;
  font-family: sans-serif;
  transition: all .200s ease-in-out;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}

.btn-style1:hover {
  background-image: linear-gradient(to right, #873be7, #6A7EF1, #02EBA3);
  transition: all .200s ease-in-out;
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}

.owl-item.active.center {
  transform: scale(1.1);
}

.rightcls {
  text-align: right;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.container-align {
  text-align: right;
}

.flex-item {
  margin-top: 1em;
}

.alignment {
  float: right;
  margin-left: 1em;
}

.imgcontainer {
  margin-top: 4em;
}

.borderstyle1 {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.borderstyle2 {
  border-bottom: 1px solid #fff;
}

.borderstyle3 {
  border-right: 1px solid #fff;
}

@media only screen and (max-width:768px) {

  /* mobile display size starts here.... */
  /*  enrollpage*/
  .custom-btn {
    border-top-left-radius: 2em;
    width: 100%;
    padding: 12px 18px;
    text-align: left;
  }
  .custom-btn .caret {
    right: 3em;
    position: absolute;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-top: 0.5em;
  }
  .cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    margin-left: 1.8em;;
    width: 85%;
    border-radius: 5px;
    min-height: 41vh;
  }

  .likecard {
    background-color: #FAFAFA;
    min-height: 10vh;
    width: 93%;
    margin-bottom: 2em;
    padding-bottom: 1em;
  }

  .top {
    position: relative;
    min-height: 80vh;
  }

  .top h1 {
    color: #fff;
    padding-top: 1em;
    font-weight: bold;
    line-height: 30px;
    font-size: 25px;
  }

  .top h1::after {
    width: 3em;
    height: 1em;
    content: '';
    bottom: 0px;
    position: absolute;
    display: block;
    border-bottom: 2px solid #00EDA3;
  }

  .top h2 {
    font-size: 20px;
  }

  .topmargin {
    margin-top: 6em;
    text-align: left;
  }

  .dropdown, .leftalign {
    text-align: left;
  }

  .top::before {
    height: 80vh;
  }

  .dropdown-menu {
    left:0;
    width:100%;
  }

  .size h4 {
    font-size: 15px;
  }

  .rightcls {
    text-align: center;
  }

  .imghide {
    display: none;
  }

  .container-align {
    text-align: left;
  }

  .alignment {
    float: left;
    margin-left: 0;
  }

  .imgcontainer {
    margin-top: 2em;
  }

  .borderstyle1, .borderstyle3, .borderstyle2, .borderstyle4 {
    border: none;
  }
  .table-align  {
    margin-bottom: 2em;
  }

  .tablealign1{
    width: 30%;
  }
  .tablealign2{
    width: 50%;
  }



  /*  enroll page ends*/
  .container_box {
    font-size: 12px !important;
    top: 10px !important;
    left: 130px !important;
    width: 100% !important;
  }

  .container_box>li {
    padding: 6px !important;
  }

  .home_header {
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home_content {
    color: #fff;
    padding-top: 3rem;
  }

  .owl_div {
    min-height: 35vh;
  }

  .owl_container {
    max-width: 100%;
  }

  .owl-start {
    width: 25vw;
  }

  .owl-center {
    width: 25vw;
    left: 36.6%;
  }

  .owl-end {
    width: 25vw;
    right: 0%;
  }

  .owl_line_left {
    min-width: 25vw;
    left: 68%;
    bottom: 13%;
  }

  .owl_line_right {
    min-width: 25vw;
    right: 67%;
    bottom: 13%;
  }

  .img {
    width: 100%;
    padding-top: 0px;
  }

  .card_div {
    padding-top: 1.5em;
  }

  .card_div:last-child {
    padding-bottom: 1.5em;
  }

  .card_container {
    height: 40vh;
  }

  .course_card {
    height: 52vh;
    margin-bottom: 1.5em;
  }

  .course_contain_bg {
    background-size: cover;
    min-height: 90vh;
    background-image: linear-gradient(rgba(233, 233, 233, 0.6), rgba(233, 233, 233, 0.6)), url('/static/images/24tut/tablet_stu.png');
  }

  .course_contain_gradient {
    background-image: none;
  }

  .list_container {
    max-width: 100%;
    margin-left: 12%;
    position: relative;
  }

  .list_head {
    max-width: 100%;
  }

  .list {
    max-height: 9vh;
    width: 93vw;
  }

  .list_body {
    max-width: 100%;
  }

  /* mobile screen size ends here.... */
}

@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {

  /* for iphones.... */
  .home_header {
    min-height: 60vh;
  }

  .owl-start {
    width: 30vw;
  }

  .owl-center {
    width: 30vw;
    left: 33.6%;
  }

  .owl-end {
    width: 30vw;
    right: 0%;
  }

  .owl_line_left {
    min-width: 30vw;
    left: 62%;
  }

  .owl_line_right {
    right: 61%;
  }

  .course_card {
    height: 49vh;
    margin-bottom: 1.5em;
  }

  /* iphone screen size ends here */
}

@media screen and (device-width : 411px) and (device-height : 823px) {

  /* for google pixel devices starts here */
  .home_header {
    min-height: 55vh;
  }

  .owl-start {
    width: 30vw;
    left: -1%;
  }

  .owl-center {
    width: 30vw;
    left: 32.6%;
  }

  .owl-end {
    width: 30vw;
    right: -1%;
  }

  .owl_line_left {
    min-width: 25vw;
    left: 62%;
  }

  .owl_line_right {
    min-width: 26.3vw;
    right: 62%;
  }

  .course_card {
    height: 49vh;
    margin-bottom: 1.5em;
  }

  .course_card {
    height: 45vh;
    margin-bottom: 1.5em;
  }

  /* for google pixel devices ends here */
}
