<div class="container" style="padding:30px;">
  <div class="modal-header">
    <div class="row">
      <div class="col-md-6 text-left">
      <h3>  Commodity Details </h3>
  </div>
  <div class="col-md-6 text-right">
      <i class="fa fa-close fa-2x" ng-click=close()></i>
  </div>
  </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-5">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="form.name">
      </div>
      <div class="col-md-5">
        <label>Quantity</label>
        <input type="number" class="form-control" value="" ng-model="form.qty">
      </div>
      <div class="col-md-2" style="padding-top:25px">
        <button type="button" class="btn btn-primary" ng-click="addCommodities()" style="width:100px"> Add </button>
      </div>
    </div>
  </div>
  <div class="row" style="padding:5px;">
    <div class="col-md-5">
      <b>Name</b>
    </div>
    <div class="col-md-5">
      <b>Quantity</b>
    </div>
    <div class="col-md-2">
      <b>View</b>
    </div>
  </div>
  <div class="row">
    <div class="card" ng-repeat="c in comodities" style="padding-bottom:0px; margin-bottom:10px">
      <div class="card">
        <div class="row" style="padding:10px; padding-left:20px;">
          <div class="col-md-5">
            {{c.name}}
          </div>
          <div class="col-md-5">
            {{c.qty}}
          </div>
          <div class="col-md-2" >
            <i class="fa fa-plus" ng-click="expand(c.pk,$index)"  ng-if="$index!=idx"></i>
              <i class="fa fa-minus"  ng-if="$index==idx"></i>
          </div>
        </div>
      </div>
      <div ng-if="$index==idx">
        <div class="row" style="padding:20px">
          <div class="col-md-5">
            <input type="number" class="form-control" value="" ng-model="commodty.quanty">
          </div>
          <div class="col-md-5">
            <button type="button" class="btn btn-primary" ng-click="checkIn(c.pk,c.qty, $index)" style="width:100px"> In </button>
            <button type="button" class="btn btn-primary" ng-click="checkOut(c.pk,c.qty, $index)" style="width:100px"> Out </button>
          </div>
        </div>
        <div class="row" ng-if="comodityData.length>0">
          <div class="text-center" style="padding:30px;">
            <table class="table table-bordered" style="width:100%;">
              <tr>
                <th class="text-center">Created</th>
                <th class="text-center">In</th>
                <th class="text-center">Out</th>
                <th class="text-center"> Remaining Qt. </th>
                <th class="text-center">Download</th>
              </tr>
              <tbody ng-repeat="s in comodityData">
                <tr>
                  <td>{{s.created|date:'d-M-y'}}</td>
                  <td>{{s.checkIn}}</td>
                  <td>{{s.checkOut}}</td>
                  <td>{{s.balance}}</td>
                  <td><i class="fa fa-download"></i></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
