<div class="row">
  <div class="container-fluid">
    <div class="col-md-4"  style="padding-top:20px"  ng-controller="businessManagement.warehouse.service">
      <span ng-if="mode=='new'"><strong>Create a new Service</strong></span>
      <span ng-if="mode=='edit'"><strong>Update a Service</strong></span>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="form.description">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Code</label>
            <input type="number" class="form-control" ng-model="form.code">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label> Type </label>
            <select class="form-control" ng-model="form.typ">
              <option value="HSN">HSN</option>
              <option value="SAC">SAC</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Tax Rate</label>
            <input type="number" class="form-control" ng-model="form.taxRate" min ="0">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <div class="btn-group btn-group-sm">
            <button class="btn btn-primary" type="submit" name="button"  ng-click="saveService()">Save</button>
            <button class="btn btn-default" type="submit" name="button"  ng-click="newService()">New</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row" style="margin:20px 15px">
        <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
      </div>
    </div>
  </div>
</div>
