<!-- this file shows the events and customs of the calender for the calendarMain file.. -->
<div class="shaddowed card bg-white" style="min-height:93vh;position:relative;">
<div class="row bg-limegreen dayInfoBox" style="max-height:350px;overflow:auto;">

        <ul class="nav">
          <li>
            <a href="" ng-click="itemSelected($index)" ng-repeat="item in itemsToShow" class="{{itemsToShow.indexOf(itemInView)== $index ? 'highlighted':''}}">
              <i class="fa fa-bell-o" ng-if="item.type == 'Reminder'"></i>
              {{item.type=='Meeting'? item.type : item.data.text | limitTo:30}}
              <span class="pull-right">
                <i class="fa fa-clock-o"></i> {{item.data.when | date:'hh mm a'}}
                <span  ng-if="item.type == 'Meeting'">
                  <i class="fa fa-building-o"></i> {{item.data.venue}}
                </span>
              </span>
            </a>
          </li>
        </ul>
</div>
</div>
