<div ng-controller="app.customerReviews.explore">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" style="border-right:1px solid #eeeeee;">
        <h4><strong>Date : </strong>{{data[0].created | date : 'dd-MMM-yyyy'}} </h4>
        <span ng-if="chatThreadData.uid!=none"><h3><strong>Status : </strong>{{chatThreadData.status}} <span class="pull-right"><div class="btn btn-primary" ng-click="showChart()">Change Status</div></span></h3></span><hr>
        <div class="row" ng-repeat="msg in data">
          <!-- <h3>{{msg.message}}</h3> -->
          <div class="row container-fluid" style="float:{{msg.sentByAgent ? 'right; background-color:#dba4ae; ':'left; background-color:#72b3d4;'}} padding:10px;margin:8px;border-radius:{{msg.sentByAgent ? '20px 0px 20px 20px':'0px 20px 20px 20px'}};">
            <p ng-if="msg.message.length>0 && msg.attachmentType != 'youtubeLink'" style="word-break: break-all !important;">
              <h4>{{msg.message}}</h4></p>
            <img ng-if="msg.attachmentType == 'image'" ng-src="{{msg.file}}" style="width:250px;">
            <video ng-if="msg.attachmentType == 'video'" width="280" height="240" ng-src="{{msg.file}}" controls></video>
            <audio ng-if="msg.attachmentType == 'audio'" ng-src="{{msg.file}}" controls></audio>
            <p class="text-center" ng-if="msg.attachmentType == 'application'" style="word-wrap: break-word;"><a ng-href="{{msg.file}}" target="_blank"><i class="fa {{msg.file.split('chat/')[1] | fileTypeIcon }} fa-2x" ></i></a> <br> {{msg.file.split('chat/')[1]}} </p>
            <div ng-if="msg.attachmentType == 'youtubeLink'">
              <iframe width="100%" height="215" ng-src="{{msg.message | trusted}}" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="row container-fluid" style="{{msg.sentByAgent ? 'padding-right:30px' : 'padding-left:30px'}};">
            <span ng-if="msg.sentByAgent" style="clear:both;float:{{msg.sentByAgent ? 'right':'left'}};  font-size:11px; " class="text-muted" ng-init="cal = calculateTime(data[$index-1].created , msg.created)">{{msg.created | date : 'hh:mm:a' }} , {{cal}}</span>
            <span ng-if="!msg.sentByAgent" style="clear:both;float:{{msg.sentByAgent ? 'right':'left'}};  font-size:11px; " class="text-muted">{{msg.created | date : 'hh:mm:a' }}</span>
          </div>
        </div>

      </div>
      <div class="col-md-6" style="padding:20px;">
        <div class="row" ng-repeat="comment in reviewCommentData" style="padding-bottom:15px;">
          <div class="col-md-10">
            <div style="float:right; background-color:#286EFA; color:#fff; border-radius:15px 50px 50px 15px; padding:10px 10px 10px 15px;word-break: break-all !important;">
              <p> {{comment.message}} </p>
            </div>
          </div>
          <div class="col-md-2">
            <img ng-src="{{comment.user}}" style="border-radius:50%; width:45px;" alt="User Image">
          </div>
        </div>
        <div class="row" style="padding-top:20px;">
          <div class="col-md-10">
            <div class="form-group">
              <textarea class="form-control" rows="3" id="comment" placeholder="Comments... " ng-model="reviewForm.message" style="resize:none;"></textarea>
            </div>
          </div>
          <div class="col-md-2" style="padding-top:20px;">
            <button type="button" class="btn btn-primary" name="button" ng-click="postComment()"> Save  </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
