<div class="modal-body">
  <div class="container-fluid">
    <section>
      <div class="row text-center" style="margin:10px 50px">
        <input type="text" class="form-control" ng-model="form.title" placeholder="Search by title.." ng-change="filterData(form.title)">
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <span ng-repeat="d in docData">
            <div class="panel-group" id="accordion" ng-show="d.text!=none">
              <div class="panel panel-default" >
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{$index}}" >
                  <h4 class="panel-title"  >
                    <span>{{d.title}}</span>
                  </h4>
                </div>
                <div id="{{$index}}" class="panel-collapse collapse">
                  <!-- <div class="panel-body">{{d.text}}</div> -->
                  <span ng-bind-html="d.text"></span>
                </div>
              </div>
            </div>
          </span>
        </div>
        <div class="col-md-4">
          <span ng-repeat="d in docData">
            <div class="panel-group" id="accordion" ng-if="d.docs!=none">
              <div class="panel panel-default" >
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{$index}}" style="text-decoration:none">{{d.title}}</a>
                  </h4>
                </div>
                <div id="{{$index}}" class="panel-collapse collapse">
                  <div class="panel-body">{{d.docs}}</div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
    </section>
  </div>
  <div class="container-fluid text-center">
    <button type="button" class="btn btn-success text-center" ng-click="closeModal()">
      Close
    </button>
  </div>
</div>
