<div class="" style="min-height:94vh;background-color:#f0f0f0;overflow-x:hidden">

  <breadcrumb ></breadcrumb>

  <div style="">
    <div class="row">

      <div class="col-md-12">
          <!-- <div class="" ng-click="addDoc(-1)" style="font-size:18px ;background:white ;padding:10px 0px;text-align:center;margin-top:-15px">
          Knowledge Base
          </div> -->

          <div class="col-md-3">
            <div class="btn btn-block" ng-click="addDoc(-1)" style="font-size:18px ;color:white;{{docForm!=none&&docForm.title.length==0? 'box-shadow: 1px 1px 1px #181818':'' }}">
              Add Document &nbsp;
              <!-- <i style="padding-top:5px;" class="fa fa-plus fa-md"></i> -->
            </div>
            <div class="" style="min-height:40vh;position:relative;" ng-if="custDocs.length>0||docForm!=none">
              <div  ng-mouseover="titleDesc($index)" ng-mouseleave="hidetitleDesc($index)" class="" ng-repeat="doc in custDocs" ng-click="addDoc($index)" style="cursor:pointer;margin-top:10px ;padding:5px; {{docForm.pk==doc.pk?'border-bottom:2px solid #009efb ;':'border-bottom:2px solid #e9e9e9 !important;'}}">
                <div ng-if="!showDesc[$index]" style="font-size:15px;">{{doc.title}}</div>
                <ul ng-if="showDesc[$index]" style="list-style:none;margin-bottom:0px;font-size:13px;opacity:0.7" class="list-inline">
                  <li>Last modified: {{doc.updated  | date:'dd-MMM-yyyy'}}</li>
                  <li ng-if="doc.process.text">Process:<b> {{doc.process.text}}</b></li>
                  <li>Versions:<b> {{doc.version_count}}</b></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9" style="background:white;border:1px solid #e9e9e9;padding:15px;width:74%" ng-if="docForm!=none">
            <div class="text-center">
              <h4>{{docForm.pk!=none?'Edit':'Create'}} Document <span ng-if="docForm.pk!=none">- {{docForm.title}}</span></h4>
            </div>
            <div class="">
              <div class="form-group">
                <label>Title</label>
                <input type="text " class="form-control" ng-model="docForm.title">
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group" ng-if="docForm.text!=null">
                    <label>Content</label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="docForm.text"></textarea>
                  </div>
                </div>
                <div class="col-md-3" ng-if="docForm.text!=null" style="margin:25px;" >
                  <uib-tabset>
                    <uib-tab>
                      <uib-tab-heading>
                        Article
                      </uib-tab-heading>

                        <div class="" style="margin-top:5px;color:#676e6c">
                          <label >Process:</label>
                          <input type="text" class="form-control" ng-model="docForm.process" uib-typeahead="process as process.text for process in processSearch($viewValue)" />
                        </div>
                        <div class="" style="margin-top:5px;color:#676e6c">
                          <label>Article Owner</label>
                          <input type="text" class="form-control" ng-model="docForm.articleOwner" uib-typeahead="user as user.username for user in userSearch($viewValue)" />
                        </div>

                    </uib-tab>
                    <uib-tab>
                      <uib-tab-heading>
                        TOC
                      </uib-tab-heading>
                      <div class="toc">
                        <ol style="margin:20px 0px;">
                          <li style="color:  #5257d2;font-size:20px;" ng-repeat="x in h1_array" ng-if="$index!=0">{{x.title}}
                            <ol>
                              <li style="margin:10px 0px;color:black;font-size:15px" ng-repeat="y in x.childeren" ng-if="$index!=0">{{y.title}}</li>
                            </ol>
                          </li>
                        </ol>
                      </div>

                    </uib-tab>
                    <uib-tab>
                      <uib-tab-heading>
                        Versions
                      </uib-tab-heading>

                      <div class="list-group" style="padding-top:15px;">
                        <span ng-repeat="version in versions" class="list-group-item {{version.active?'active':''}}" ng-mouseover = "version.active = true" ng-mouseleave="version.active = false" ng-click="openVersion($index)"   style="cursor:pointer" >{{version.title}}</span>
                      </div>
                    </uib-tab>
                  </uib-tabset>
                </div>
              </div>
              <div class="form-group" ng-if="docForm.docs!=null">
                <label>Document</label>
                <input type="file" file-model="docForm.docs">
              </div>

            </div>
            <div class="row" style="">
              <div class="col-md-2 col-md-offset-5">
                <div class="btn btn-block btn-success" style="font-size:18px" ng-click="saveDoc()">
                  Save Document
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>

  </div>


</div>
