<div class="modal-body">
  <div class="container-fluid">
    <section>
      <div class="row text-center">
        <h4>Edit User Details for {{uid}}</h4>
      </div>
      <div class="container-fluid" style="padding:0px">
         <div class="form-group">
           <label for="email">Email:</label>
           <input type="text" class="form-control" id="email" ng-model="form.email" placeholder="Enter Email" onfocusout="checkEmail()">
         </div>
         <div class="form-group">
           <label for="text">Name:</label>
           <input type="text" class="form-control" id="text" ng-model="form.name" placeholder="Enter Name">
         </div>
         <div class="form-group">
           <label for="phNo">Phone No:</label>
           <input type="text" class="form-control" id="phNo" ng-model="form.phoneNumber" placeholder="Enter Phone No" onfocusout="checkPhone()">
         </div>
         <div class="form-group">
           <label for="notes">Notes:</label>
           <textarea rows="8" class="form-control" cols="60" ng-model="form.notes" id="notes" placeholder="Notes..."></textarea>
         </div>
      </div>
    </section>
  </div>

  <div class="container-fluid text-center">
    <button type="button" class="btn btn-success text-center" ng-click="submit()">
      Submit
    </button>
  </div>
</div>
