
<div class="container-fluid" style="padding:20px;" ng-controller="businessManagement.customers.explore">

  <!-- <div class="col-md-9"> -->
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-2" style="border-right:solid 2px #eeeeee;">
          <div class="row">
            <div class="container-fluid text-center">
              <img ng-src="{{data.userPK | getDP}}" class="img img-circle" style="height:100px;width:100px;margin-bottom:5px;"> <br>
              <span class="text-muted" style="font-size:18px;">{{data.pk | getName }}</span> <br><br>
            </div>

          </div>
        </div>

        <div class="col-md-3" style="border-right:solid 2px #eeeeee;">
          <h5><strong>User ID:</strong> {{data.pk}}</h5>
          <h5><strong>Loan ID:</strong> DUMMY</h5>
          <h5><strong>Gmail Creation date :</strong> {{data.profile.gmailAge | date : 'dd-MMM-yyyy'}}
          <h5><strong>Email:</strong> {{data.email}}
          <button type="button" class="btn btn-primary btn-sm" ng-click="getToken();">Fetch</button></h5>
          <h5><strong>Mobile:</strong> <span>{{data.profile.mobile}}</span>   <button type="button" class="btn btn-default" ng-click="showEdit()" ng-if="mobileEdit">Edit <i class="fa fa-pencil"></i></button> </h5>
          <div class="input-group col-md-4" ng-if="status">
            <input type="text" class="form-control" ng-model="form.mobile" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="saveMobile()">Save</button>
          </span>
          </div>
        </div>

        <div class="col-md-7" style="padding-left:20px;">
          <div class="row">
            <div class="col-md-4 ">
              <div class="container-fluid card" style="border:solid 2px #759ff1;">
                <div class="col-md-4" style="padding-top:20px;">
                  <img src="/static/images/bank-clip-account.png" style="width:100%;">
                </div>
                <div class="col-md-8">
                  <h3>3</h3>
                  Bank accounts
                </div>
              </div>
            </div>

            <div class="col-md-4" >
              <div class="container-fluid card" style="border:solid 2px #ffcd37;">
                <div class="col-md-4" style="padding-top:20px;">
                  <img src="/static/images/loan_icon.png" style="width:100%;">
                </div>
                <div class="col-md-8">
                  <h3>4</h3>
                  Loan account
                </div>
              </div>
            </div>

            <div class="col-md-4" >
              <div class="container-fluid card" style="border:solid 2px #759ff1;">
                <div class="col-md-4" style="padding-top:20px;">
                  <img src="/static/images/creditCard.png" style="width:100%;">
                </div>
                <div class="col-md-8">
                  <h3>1</h3>
                  Credit Cards
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>

      <div class="row">

        <canvas height="30vh" id="line" class="chart chart-line" chart-data="chartData"
        chart-labels="labels" chart-series="series" chart-options="debtVsSavingsChartoptions" chart-click="onClick">
        </canvas>
      </div>
      <hr>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h4> Calls stats <i class="fa fa-info-circle" style="color:#4a4641"></i></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <img src="/static/images/incommingCall.png" style="width:60px;" alt="">
            </div>

            <div class="col-md-3">
              <div class="container-fluid">

                <canvas id="base" class="chart-horizontal-bar"
                  chart-data="calldata" chart-labels="calllabels" >
                </canvas>

              </div>
            </div>
            <div class="col-md-1">
              <img src="/static/images/outgoingCall.png" style="width:65px;" alt="">
            </div>
            <div class="col-md-3">
              <div class="container-fluid">
                <canvas id="base" class="chart-horizontal-bar"
                  chart-data="calldata" chart-labels="calllabels" >
                </canvas>
              </div>
            </div>
            <div class="col-md-1">
              <img src="/static/images/missCall.png" style="width:70px;" alt="">
            </div>

            <div class="col-md-3">
              <div class="container-fluid">
                <canvas id="base" class="chart-horizontal-bar"
                  chart-data="calldata" chart-labels="calllabels" >
                </canvas>
              </div>
            </div>

          </div>

        </div>






        <!-- <div class="col-md-4" style="padding:25px">

          <div class="row col-md-12">
            <table class="table" style="font-size:18px">
              <thead>
                <tr style="color:#43c8b0">
                  <th style="border: 0;">Name</th>
                  <th style="border: 0;">Duration</th>
                  <th style="border: 0;">Frequency</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="usr in callsStats">
                  <td style="border: 0;">{{usr.name}}</td>
                  <td style="border: 0;">{{usr.duration}}</td>
                  <td style="border: 0;">{{usr.frequency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
      </div>

      <hr>

      <div class="row">
        <uib-tabset>
          <uib-tab>
            <uib-tab-heading>
              SMS <i class="fa fa-envelope"></i>
            </uib-tab-heading>
            <generic-Table  callback-Fn="tableAction" data="dataVal.smsData" config-Obj="{{smsConfig}}"></generic-Table>
          </uib-tab>
          <uib-tab active="searchTabActive">
            <uib-tab-heading>
              Call <i class="fa fa-phone"></i>
            </uib-tab-heading>
            <generic-Table callback-Fn="tableAction" data="dataVal.callData" config-Obj="{{callConfig}}"></generic-Table>
          </uib-tab>
          <uib-tab >
            <uib-tab-heading>
              Location <i  class="fa fa-map-marker"></i>
            </uib-tab-heading>
            <generic-Table callback-Fn="tableAction" data="dataVal.locationData" config-Obj="{{locationConfig}}"></generic-Table>
          </uib-tab>
          <uib-tab >
            <uib-tab-heading>
              Contact <i  class="fa fa-address-book"></i>
            </uib-tab-heading>
            <generic-Table callback-Fn="tableAction" data="dataVal.mobileContactData" config-Obj="{{mobileContactConfig}}"></generic-Table>
          </uib-tab>

          <uib-tab >
            <uib-tab-heading>
              Bank Statements <i  class="fa fa-address-book"></i>
            </uib-tab-heading>
            <!-- <generic-Table callback-Fn="tableAction" data="dataVal.mobileContactData" config-Obj="{{mobileContactConfig}}"></generic-Table> -->
          </uib-tab>
          <uib-tab >
            <uib-tab-heading>
              Email <i  class="fa fa-address-book"></i>
            </uib-tab-heading>
            <generic-Table callback-Fn="emailtableAction" data="dataVal.emailData" config-Obj="{{emailConfig}}"></generic-Table>
          </uib-tab>
          </uib-tabset>
      </div>
    </div>
  <!-- </div> -->
</div>
