<div class="shaddowed card bg-white" style="min-height:93vh;">
  <breadcrumb></breadcrumb>
  <div class="row">
  <div class="col-md-1">
    <switch ng-model="modeToggle" class="neutral pull-right"></switch>
  </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-right" ng-if="!modeToggle">
      <div class="container-fluid">
        <div class="input-group">
          <input type='text' ng-model='searchText' class="form-control" placeholder="Search a Product " ng-enter="enterFun()" style="height:40px" />
          <span class="input-group-addon" ng-click="refresh()" style="cursor:pointer; background-color:#fff;"><i class="fa fa-refresh"></i></span>
          <span class="input-group-addon" ng-click="prev()" style="cursor:{{offset!=0?'pointer;background-color:#fff;':'not-allowed;background-color:#eee'}}"><i class="fa fa-arrow-left"></i>Prev</span>
          <span class="input-group-addon" ng-click="next()" style="cursor:pointer; background-color:#fff;">Next <i class="fa fa-arrow-right"></i></span>
          <span class="input-group-addon" ng-click="new()" style="cursor:pointer; background-color:#fff;">New <i class="fa fa-plus"></i></span>
          <!-- <span tclass="input-group-addon" ng-click="topButtonsClick('New')"><i class="fa fa-plus"></i> New </button> -->
        &nbsp;&nbsp;&nbsp;  <span class="input-group-addon" ng-click="reset()" style="cursor:pointer; background-color:#fff;">Reset</span>
        <span class="input-group-addon" ng-click="getList();" style="cursor:pointer; background-color:#fff;border:1px solid #fff;color:#286090"> <i class="fa fa-shopping-cart fa-2x"></i> {{cart.length}}</span>
        </div>
      </div>

    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-10 col-md-offset-1 " ng-repeat=" p in products" >
      <div class="row card" ng-click="toggle(p.productPk,$index)" style="margin-top:20px;padding:25px;height:8vh">
        <div class="row">
        <div class="col-md-4">
          <strong> Part No : </strong> {{p.productPartno}}
        </div>
        <div class="col-md-4">
          <strong> Description : </strong> {{p.productDesc}}
        </div>
        <div class="col-md-4">
          <strong> Quantity : </strong> {{p.totalqty}}
        </div>
        <div class="col-md-4">
          <strong> Part No : </strong> {{p.totalprice}}
        </div>
      </div>
        <div  class="row" ng-repeat="i in p.data" ng-if="p.open" style="padding:10px;">
          {{i.qty}} - {{i.rate}}
        </div>
      </div>
    </div>
  </div> -->

  <div class="row" style="margin-top:20px;" ng-if="!modeToggle">
    <div class="col-md-10 col-md-offset-1  text-right" style="padding-right:20px;">
    <h2>  Total : {{total.toFixed(2)}} </h2>
    </div>
    <div class="col-md-12">
      <div class="container-fluid" style="margin-top:15px;" ng-repeat="p in products">
        <div class="card" style="padding:10px;">
          <div class="row container-fluid" ng-click="toggle(p.productPk,$index)"  style="cursor:pointer;height:5vh;padding:10px">
            <div class="col-md-12 text-left">

              <div class="col-md-2" >
                <span style="font-size:12px"><strong> Part No : </strong>{{p.productPartno}} </span>
              </div>
              <div class="col-md-2">
                <span style="font-size:12px"><strong> Description : </strong>{{p.productDesc}} </span>
              </div>
              <div class="col-md-2">
                <span style="font-size:12px"><strong> Quantity : </strong>{{p.totalqty}} </span>
              </div>
              <div class="col-md-2">
                <span style="font-size:12px"><strong> Price : </strong>{{p.totalprice.toFixed(2)}} </span>
              </div>
              <div class="col-md-2">
                <span style="font-size:12px"><strong> Total : </strong>{{p.totalVal.toFixed(2)}} </span>
              </div>
              <div class="col-md-2">
                  <button class="btn btn-primary" ng-if="p.totalqty>0"  style="font-size:12px" ng-click="addToCart(p.productPk);$event.stopPropagation();">Add to Cart </button>
                  <!-- <button class="btn btn-default" ng-if="p.totalqty>0"  style="font-size:12px">Added to Cart </button> -->
              </div>
            </div>
          </div>
          <div class="row container-fluid" ng-if="p.open">
            <div class="container-fluid">
              <hr>
            </div>
            <div class="col-md-4">
              <div class = "row">
                <div class="col-md-2">
                  <span style="font-size:14px"><strong> Detail: </strong></span><br/><br/>
                  <span style="font-size:14px"><strong> Weight: </strong></span><br/><br/>
                  <span style="font-size:14px"><strong> Price: </strong></span><br/>
                </div>
                <div class="col-md-10">
                  <span style="font-size:14px">{{p.productDesc2}}</span><br/><br/>
                  <span style="font-size:14px">{{p.weight}}</span><br/><br/>
                  <span style="font-size:14px">{{p.price}} </span><br/>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <table class="table table-striped" style="margin-top:20px;">
                <th class="text-center">
                  Quantity
                </th>
                <th class="text-center">
                  Price
                </th>
                <th class="text-center">
                  Total
                </th>
                <tr ng-repeat="f in p.data" ng-if="f.qty>0">
                  <td class="text-center">
                    <span>{{f.qty}}</span>
                  </td>
                  <td class="text-center">
                    <span>{{f.rate}}</span>
                  </td>
                  <td class="text-center">
                    <span>{{f.rate * f.qty }}</span>
                  </td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row" style="margin:5px 20px 0 20px;" ng-if="modeToggle">
    <div class="col-md-8 col-md-offset-2 text-right">
      <div class="container-fluid">
        <div class="input-group">
          <input type='text' ng-model='searchText' class="form-control" placeholder="Search a Project" ng-enter="enterFun()" style="height:40px" />
          <span class="input-group-addon" ng-click="refresh()" style="cursor:pointer; background-color:#fff;"><i class="fa fa-refresh"></i></span>
          <span class="input-group-addon" ng-click="prev()" style="cursor:{{offset!=0?'pointer;background-color:#fff;':'not-allowed;background-color:#eee'}}"><i class="fa fa-arrow-left"></i>Prev</span>
          <span class="input-group-addon" ng-click="next()" style="cursor:pointer; background-color:#fff;">Next <i class="fa fa-arrow-right"></i></span>
          <span class="input-group-addon" ng-click="new()" style="cursor:pointer; background-color:#fff;">New <i class="fa fa-plus"></i></span>
        </div>
      </div>

    </div>


  <div class="row" style="margin-top:20px;" >
    <div class="col-md-12">
      <div class="container-fluid" style="margin-top:15px;" ng-repeat="project in projectList">
        <div class="card" style="padding:10px;">
          <div class="row container-fluid" ng-click="toggle(p.productPk,$index)"  style="cursor:pointer;height:5vh;padding:10px">
            <div class="col-md-12 text-left">

              <div class="col-md-4" >
                <span style="font-size:12px"><strong> Title : </strong>{{project.title}} </span>
              </div>
              <div class="col-md-4">
                <span style="font-size:12px"><strong> Responsible Person : </strong><span ng-repeat = "item in name"><span>{{item}}</span></span> <br> </span>
              </div>
              <div class="col-md-offset-2 col-md-2 " >
                  <span><a  class="btn btn-primary " style="cursor:pointer;" target="_blank" href="">Material Issue<i  class="fa fa-download" style="font-size:1em;cursor:pointer;margin-left:1em"></i></a></span>
              </div>
            </div>
          </div>
       </div>
      </div>
     </div>
    </div>
  </div>
