<table class="table table-striped">
  <tbody>
    <tr>
      <td style="width:8.33%">{{data.dated}}</td>
      <td style="width:8.33%">{{data.created}}</td>
      <td style="width:8.33%">{{data.duration}}</td>
      <td style="width:8.33%">{{data.incoming}}</td>
      <td style="width:8.33%">{{data.frmOrTo}}</td>
      <td style="width:8.33%">{{data.user}}</td>
      <!-- <td>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-danger" ng-click="remove($index)">
            <i class="fa fa-trash-o"></i>
          </button>
          <button type="button" ng-click="edit($index)" class="btn btn-default">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
      </td> -->
    </tr>
  </tbody>
</table>
