<div class="container-fluid" style="padding:20px;" ng-controller="businessManagement.projects.approval.view">
      <div class="col-md-3" style="border-right:solid 2px #eeeeee;min-height:80vh;">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 text-left">
                <label> Project Title : </label> {{form.title}} <br />
                <label> Service Name :</label> {{form.service.name}} <br />
                <label>Closing Date : </label> {{form.date}} <br />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <label> Responsible Persons : </label>
              </div>
              <div class="col-md-12">
                <div ng-repeat="r in form.responsible">
                  <div class="card container-fluid" style="padding-left:0px;position:relative;margin-top:10px">
                    <div class="col-md-4" style="padding-top:5px;">
                      <img ng-src="{{r | getDP}}" class="img-circle" alt="DP" height="50" width="50" />
                    </div>
                    <div class="col-md-8">
                      {{r | getName}} <br>
                      ID : <strong>{{r}}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> Invoice Value: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.invoiceValue"  >
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> Packing: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.packing"  >
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> Insurance: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.insurance"  >
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> Freight: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.freight"  >
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> Assessable Value: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.assessableValue"  >
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> GST: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.gst1"  >
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> GST: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.gst2"  >
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> Clearing Charges 1: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.clearingCharges1"  >
              </div>
            </div>
            <div class="row" style="padding-top:10px">
              <div class="col-md-4 text-center">
                <label> Clearing Charges 2: </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" ng-model="form.clearingCharges2"  >
              </div>
            </div>

            <div class="row" style="padding-top:10px">

              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary btn-sm" ng-click="saveInfo()"> Save </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">


        <div class="row">
          <div class="col-md-5 text-right">
            <label><h4> Project Title :  </h4> </label>
          </div>
          <div class="col-md-7">
            <h4>{{form.title}}</h4> <br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 text-right">
            <label><h4> Service Name :  </h4> </label> <br>
          </div>
          <div class="col-md-7">
            <h4>{{form.service.name}}</h4> <br>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-5 text-right">
            <label><h4> Tentative Closing Date :  </h4> </label> <br>
          </div>
          <div class="col-md-7">
            <h4>{{form.date}}</h4> <br>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-5 text-right">
            <label><h4> Responsible Person :  </h4> </label> <br>
          </div>
          <div class="col-md-7" >
            <h4 ng-repeat = "item in name"><span>{{item}}</span></h4> <br>
          </div>
        </div>
        </div> -->

      </div>
      <div class="col-md-9">
          <!-- <div class="row" style="border-bottom:solid 2px #eeeeee;margin:5px"> -->
            <table class="invoiceTable" style=" width: 100%;">
            <tbody>
              <tr style="background-color: #eeeeee;height: 96px;">
                <th>Si.No</th>
                <th>Product</th>
                <th>Part No</th>
                <th>Item Quantity</th>
                <th>Price</th>
                <!-- <th>Quantity recevied</th> -->
                <th>Total</th>
               </tr>
                <tr ng-repeat="v in projects track by $index">
                  <td>{{$index + 1}}</td>
                  <td>{{v.products.description_1}}<span ng-if="v.products.description_2"> &nbsp({{v.products.description_2}})</span></td>
                  <td>{{v.products.part_no}}</td>
                  <td ng-model="quanty"><input type="number"  step=1 class="form-control-pos" ng-model="v.quantity1">
                  <td ng-model="price"><input  class="form-control-pos" ng-model="v.price"></td>
                  <!-- <td ng-model="quanty"><input type="number"  step=1 class="form-control-pos" ng-model="v.quantity2"></td> -->
                  <td >{{(v.price*v.quantity1).toFixed(2)}}</td>
                  <!-- <td><button type="button" class="btn btn-danger btn-sm" ng-click="deleteData(v.pk , $index)"> <i class="fa fa-trash"></i> </button></td> -->
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <!-- <td></td> -->
                  <td>Total</td>
                  <td ng-model="total"><b>{{total.toFixed(2)}}</b</td>
                  </tr>


            </tbody>
            </table>
            <div class="row">
              <div class="col-md-12">
                <span><a class="btn btn-primary pull-right" style="cursor:pointer;margin:10px;" target="_blank" href="/api/support/quotation/?project={{form.pk}}">Quotation<i class="fa fa-download" style="font-size:1;margin-left:1em"></i></a></span>
                <span ><a class="btn btn-primary pull-right" style="cursor:pointer;margin:10px;" target="_blank" href="/api/support/slip/?project={{form.pk}}">PO<i class="fa fa-download" style="font-size:1;margin-left:1em"></i></a></span>
                <button type="button" class="btn btn-danger pull-right"  mwl-confirm title="Reject" message="Are you sure?" data-placement="bottom" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="reject();"
                  confirm-button-type="default" cancel-button-type="default" style="margin:10px;">    Reject</button>
                <button type="button" class="btn btn-success pull-right"   mwl-confirm title="Accept" message="Are you sure?" data-placement="bottom" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="accept();"
                  confirm-button-type="default" cancel-button-type="default" style="margin:10px;">  Approve</button>
                </div>
                <!-- <div class="col-md-2">

                </div> -->
            </div>
          </div>
</div>
