<!-- <div class="col-md-3" style="padding-bottom:20px;padding-left:10px;padding-right:10px;">
  <div class="container-fluid card" style="padding-bottom:10px;min-height:270px">
    <div class="row text-center" style="border-bottom: 1px solid #dedede;height:90px">
      <div class="col-md-12" style="position:relative;display:block;">
        <div class="row" style="padding-left:10px;">
          <h3>{{data.name}}</h3>
        </div>
      </div>
    </div>
    <div class="row container-fluid" style="padding-top:20px;">
      <div class="col-md-10" style="font-size:17px">
        <strong><i class="fa fa-globe"></i> </strong> <a href="{{compDetails.web}}" target="_blank">{{data.web}}</a> <br>
        <strong>Telephone:</strong> {{data.telephone}} <br>
        <strong>Mobile:</strong> {{data.mobile}}<br>
        <strong>No Of Process:</strong> {{data.noOfProcess}}<br>
        <strong>Contact Person:</strong> {{data.contactPerson[0].first_name}} {{data.contactPerson[0].last_name}}<br>
      </div>
      <div class="col-md-2">
        <div style="padding-right:20px;">
          <div ng-if="data.perms['module.customer.edit']" class="row" style="padding-bottom:10px">
            <span class="pull-right" style="cursor:pointer;" ng-click="rowActionClicked('edit')">
            <i class="fa fa-pencil fa-lg" style="margin-top:0px;"></i>
            </span>
          </div>

          <div ng-if="data.perms['module.customer.explore']" class="row" style="padding-bottom:10px">
            <span class="pull-right" style="cursor:pointer;">
              <i class="fa fa-info-circle fa-lg" style="margin-top:0px;" ng-click="rowActionClicked('info')"></i>
            </span>
          </div>

          <div ng-if="data.perms['module.customer.knowBase']" class="row" style="padding-bottom:10px">
            <span class="pull-right" style="cursor:pointer;">
              <i class="fa fa-file-text fa-lg" style="margin-top:0px;" ng-click="rowActionClicked('document')"></i>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="col col-md-3 animated fadeIn" style="margin-bottom:15px;;cursor:pointer" ng-click="rowActionClicked('customerExplore')">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid card" style="padding-bottom:0px;">
        <div class="row" style="border-bottom: 1px solid #dedede;height:100px;">
          <div class="col-md-4" style="padding:0px;">
            <img style="height:95px;" class="img" ng-if="data.profile.displayPicture != null" ng-src="{{data.profile.displayPicture}}">
            <img style="height:95px;" class="img" ng-if="data.profile.displayPicture == null" src="/static/images/userIcon.png">
          </div>
          <div class="col-md-8 text-center" style="position:relative;display:block;">
            <span class="text-muted" style="position:absolute; top:10px;right:10px;">
              <i class="fa fa-hashtag"></i> <span style="font-size:14px;">{{data.pk}}</span>
            </span>
            <div class="row" style="padding-top:10px">
              <h3>{{data.first_name + ' ' + data.last_name}}</h3>
            </div>
          </div>
          <!-- <div class="col-md-1" style="position:relative;display:block;">
            <div class="row" style="padding-top:30px" >
                <i class="fa fa-pencil fa-lg" style="cursor:pointer;" ng-click="rowActionClicked('editCustomer')" ></i>
            </div>
          </div> -->
        </div>
        <div class="row" style="padding:10px;height:70px;border-bottom: 1px solid #dedede;font-size:17px">
          <!-- <div class="col-md-12"> -->
            <div class="row">
              <div class="col-md-2">
                <strong><i style="width:20px;" class="fa fa-user"></i> </strong>
              </div>
              <div class="col-md-10">
                <span>{{data.username}}</span>
              </div>
            </div>
            <div class="row" ng-if="data.email != null">
              <div class="col-md-2">
                <strong><i style="width:20px;" class="fa fa-envelope"></i> </strong>
              </div>
              <div class="col-md-10">
                <span>{{data.email}}</span>
              </div>
            </div>
            <div class="row" ng-if="data.profile.mobile == null && data.email == null">
              <span class="text-muted">No contact details</span>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
