<div class="shaddowed card bg-white" style="min-height:93.7vh;overflow: hidden">
  <breadcrumb></breadcrumb>


  <div class="row">
    <div class="col-md-3" style="padding-top:20px">
      <strong style="margin:0 13px 0 20px">Inventory</strong><switch ng-model="modeToggle" class="neutral "></switch>
      <strong style="margin-left:13px">Material Issue</strong>
      <span><button type="button" class="btn btn-success  pull-right" ng-click="download()">Download</button></span>
    </div>
    <div class="col-md-8  text-left" ng-if="!modeToggle" style="padding-top:20px">
      <div class="container-fluid">
        <div class="input-group">
          <input type='text' ng-model='text.searchText' class="form-control" placeholder="Search a Product" ng-enter="enterFun()" style="height:42.5px;float:none" />
          <span class="input-group-addon" ng-click="refresh()" style="cursor:pointer; background-color:#fff;"><i class="fa fa-refresh"></i></span>
          <span class="input-group-addon" ng-click="prev()" style="cursor:{{offset!=0?'pointer;background-color:#fff;':'not-allowed;background-color:#eee'}}"><i class="fa fa-arrow-left"></i>Prev</span>
          <span class="input-group-addon" ng-click="next()" style="cursor:pointer; background-color:#fff;">Next <i class="fa fa-arrow-right"></i></span>
          <span class="input-group-addon" ng-click="new()" style="cursor:pointer; background-color:#fff;">New <i class="fa fa-plus"></i></span>
          &nbsp;&nbsp;&nbsp;
          <span class="input-group-addon" ng-click="reset()" style="cursor:pointer; background-color:#fff;">Reset</span>
          <span class="input-group-addon" ng-click="getList();" style="cursor:pointer; background-color:#fff;border:1px solid #fff;color:#286090"> <i class="fa fa-shopping-cart fa-2x"></i>
            {{cart.length}}</span>
        </div>
      </div>

    </div>
    <div class="col-md-7 text-left" ng-if="modeToggle" style="padding-top:20px">
      <div class="container-fluid">
        <div class="input-group">
          <input type='text' ng-model='searchmaterial.search' class="form-control" placeholder="Search a Project " ng-enter="enterFunmaterial()" style="height:40px" />
          <!-- <div class="form-group">
            <label>As On</label>
            <div class="input-group">
              <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="searchmaterial.dt" is-open="status.opened" ng-change="enterFunmaterial()"/>
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div> -->
          <span class="input-group-addon" ng-click="refreshmaterial()" style="cursor:pointer; background-color:#fff;"><i class="fa fa-refresh"></i></span>
          <span class="input-group-addon" ng-if="showPagint" ng-click="prevmaterial()" style="cursor:{{offsetmaterial!=0?'pointer;background-color:#fff;':'not-allowed;background-color:#eee'}}"><i class="fa fa-arrow-left"></i>Prev</span>
          <span class="input-group-addon" ng-if="showPagint" ng-click="nextmaterial()" style="cursor:pointer; background-color:#fff;">Next <i class="fa fa-arrow-right"></i></span>
        </div>

      </div>

    </div>
  </div>
    <div class="row"  ng-if="modeToggle">
      <div class="col-md-4 col-md-offset-4" style="margin-top:25px">

      <div class="form-group">
        <!-- <label>As On</label> -->
        <div class="input-group">
          <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="searchmaterial.dt" is-open="status.opened" ng-change="enterFunmaterial()"/>
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
        </div>
          <div class="col-md-1">
            <h2 style="margin-top:25px">{{totSum.toFixed(2)}}</h2>
          </div>
    </div>
  <!-- <div class="row">
     <div class="col-md-10 col-md-offset-1 " ng-repeat=" p in products" >
       <div class="row card" ng-click="toggle(p.productPk,$index)"
style="margin-top:20px;padding:25px;height:8vh">
         <div class="row">
         <div class="col-md-4">
           <strong> Part No : </strong> {{p.productPartno}}
         </div>
         <div class="col-md-4">
           <strong> Description : </strong> {{p.productDesc}}
         </div>
         <div class="col-md-4">
           <strong> Quantity : </strong> {{p.totalqty}}
         </div>
         <div class="col-md-4">
           <strong> Part No : </strong> {{p.totalprice}}
         </div>
       </div>
         <div  class="row" ng-repeat="i in p.data" ng-if="p.open"
style="padding:10px;">
           {{i.qty}} - {{i.rate}}
         </div>
       </div>
     </div>
   </div> -->
   <!-- <div class="row">
     <div class="col-md-12" style="margin:15px">
       <div class="btn-group">
         <span><a class="btn btn-primary" target="_blank" href="/api/support/downloadStockReport/"> Download Stock Summary </a></span>
        <span><a class="btn btn-primary" target="_blank" href="/api/support/projectStockConsumption/"> Product Stock Consumed </a></span>
       </div>
     </div>
   </div> -->

  <div class="row" style="margin-top:20px;" ng-if="!modeToggle">
    <div class="col-md-8 " style="padding-left:30px">
      <div class="btn-group">
        <span><button class="btn btn-primary" ng-click="createReportData()"> Create Stock Summary </button></span>
        <span><a class="btn btn-primary" target="_blank" href="/api/support/downloadStockReport/"> Download Stock Summary </a></span>
       <span><a class="btn btn-primary" target="_blank" href="/api/support/projectStockConsumption/"> Product Stock Consumed </a></span>
       <span><a class="btn btn-primary" target="_blank" href="/api/support/downloadInvoiceReport/"> Invoice BOE </a></span>
      </div>
    </div>
    <div class="col-md-4  text-right" style="padding-right:30px;">
      <h2 style="margin:0px"> Total : {{total.toFixed(2)}} </h2>
    </div>
    <div class="col-md-12">
      <div class="container-fluid" style="margin-top:15px;" ng-repeat="p in products">
        <div class="card" style="padding:10px;">
          <div class="row container-fluid" ng-click="toggle(p.productPk,$index)" style="cursor:pointer;height:5vh;padding:10px">
            <div class="col-md-12 text-left">

              <div class="col-md-2">
                <span style="font-size:12px"><strong> Part No :
                  </strong>{{p.productPartno}} </span>
              </div>
              <div class="col-md-2">
                <span style="font-size:12px"><strong> Description :
                  </strong>{{p.productDesc}} </span>
              </div>
              <div class="col-md-2">
                <span style="font-size:12px"><strong> Quantity :
                  </strong>{{p.totalqty}} </span>
              </div>
              <div class="col-md-2">
                <span style="font-size:12px"><strong> Price :
                  </strong>{{p.totalprice.toFixed(2)}} </span>
              </div>
              <div class="col-md-2">
                <span style="font-size:12px"><strong> Total :
                  </strong>{{p.totalVal.toFixed(2)}} </span>
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary" ng-if="p.totalqty>0&&!p.addedCart" style="font-size:12px" ng-click="addToCart(p.productPk,$index);$event.stopPropagation();">Add to Cart
                </button>
                <button class="btn btn-default" ng-if="p.totalqty>0&&p.addedCart"  style="font-size:12px">Added to Cart </button>
              </div>
            </div>
          </div>
          <div class="row container-fluid" ng-if="p.open">
              <div class="container-fluid">
                <hr>
              </div>
            <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-2">
                  <span style="font-size:14px"><strong> Detail:
                    </strong></span><br /><br />
                  <span style="font-size:14px"><strong> Weight:
                    </strong></span><br /><br />
                  <span style="font-size:14px"><strong> Price:
                    </strong></span><br />
                </div>
                <div class="col-md-10">
                  <span style="font-size:14px">{{p.productDesc2}}</span><br /><br />
                  <span style="font-size:14px">{{p.weight}}</span><br /><br />
                  <span style="font-size:14px">{{p.price}} </span><br />
                </div>
              </div>
            </div>
            <div class="col-md-8" ng-if="p.data.length>0 && p.totalqty>0">
              <table class="table table-striped" style="margin-top:20px;">
                <th class="text-center">
                  Quantity
                </th>
                <th class="text-center">
                  Price
                </th>
                <th class="text-center">
                  Total
                </th>
                <tr ng-repeat="f in p.data" ng-if="f.qty>0">
                  <td class="text-center">
                    <span>{{f.qty}}</span>
                  </td>
                  <td class="text-center">
                    <span>{{f.rate.toFixed(2)}}</span>
                  </td>
                  <td class="text-center">
                    <span>{{(f.rate * f.qty).toFixed(2) }}</span>
                  </td>
                </tr>
              </table>
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row" style="margin:5px 20px 0 20px;" ng-if="modeToggle">
    <!-- <div class="col-md-8 col-md-offset-2 text-right">
       <div class="container-fluid">
         <div class="input-group">
           <input type='text' ng-model='searchText' class="form-control"
placeholder="Search a Project" ng-enter="enterFun()" style="height:40px"
/>
           <span class="input-group-addon" ng-click="refresh()"
style="cursor:pointer; background-color:#fff;"><i class="fa
fa-refresh"></i></span>
           <span class="input-group-addon" ng-click="prev()"
style="cursor:{{offset!=0?'pointer;background-color:#fff;':'not-allowed;background-color:#eee'}}"><i
class="fa fa-arrow-left"></i>Prev</span>
           <span class="input-group-addon" ng-click="next()"
style="cursor:pointer; background-color:#fff;">Next <i class="fa
fa-arrow-right"></i></span>
           <span class="input-group-addon" ng-click="new()"
style="cursor:pointer; background-color:#fff;">New <i class="fa
fa-plus"></i></span>
         </div>
       </div>

     </div> -->


    <div class="row" style="margin-top:20px;">
      <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid" style="margin-top:15px;" ng-repeat="m in materialIssue">
          <div class="card" style="padding:10px;" >
            <div class="row container-fluid" ng-click="toggleMaterial(m.pk,$index)" style="cursor:pointer;height:5vh;padding:10px">
              <div class="col-md-12 text-left">

                <div class="col-md-3">
                  <span style="font-size:12px"><strong>Project Title :
                    </strong>{{m.project.title}} </span>
                </div>
                <div class="col-md-3">
                  <span style="font-size:12px"><strong> Enginner:
                    </strong> {{m.user.first_name}}</span>
                </div>


                <div class="col-md-2">
                  <span style="font-size:12px"><strong> Total:
                    </strong>{{sum[$index].toFixed(2)}}</span>
                </div>

                  <!-- <span><a  class="btn btn-primary "
style="cursor:pointer;" target="_blank" href="">Material Issue<i
class="fa fa-download"
style="font-size:1em;cursor:pointer;margin-left:1em"></i></a></span> -->

            <div class="col-md-2" >
                  <span><a class="btn btn-primary" style="cursor:pointer;" target="_blank" href="/api/support/materialIssued/?value={{m.pk}}">Material Isuue <i class="fa fa-download"  ng-click="$event.stopPropagation();"></i></a></span>
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn btn-danger btn-sm" ng-click="$event.stopPropagation();" mwl-confirm title="Delete" message="Are you sure?" data-placement="bottom" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="delete(m.pk,$index);"
                    confirm-button-type="default" cancel-button-type="default"> <i class="fa fa-trash"></i> </button>
                  </div>
              </div>
            </div>
            <div class="row container-fluid" ng-if="m.open">
              <div class="container-fluid">
                <hr>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <span style="font-size:14px"><strong> Comm nr:
                      </strong></span><br /><br />
                    <span style="font-size:14px"><strong> Customer:
                      </strong></span><br /><br />
                    <span style="font-size:14px"><strong> Date of issue:
                      </strong></span><br />
                  </div>
                  <div class="col-md-8">
                    <span style="font-size:14px">{{m.project.comm_nr}}</span><br /><br />
                    <span style="font-size:14px">{{m.user.first_name}}</span><br /><br />
                    <span style="font-size:14px">{{m.created | date : "dd.MM.y"}} </span><br />
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <table class="table table-striped" style="margin-top:20px;">
                  <th class="text-center">
                    Part No
                  </th>
                  <th class="text-center">
                    Quantity
                  </th>
                  <th class="text-center">
                    Stock value/unit
                  </th>
                  <th class="text-center">
                    Stock value Consumed
                  </th>
                  <tr ng-repeat="f in m.materialIssue" >
                    <td class="text-center">
                      <span>{{f.product.part_no}}</span>
                    </td>
                    <td class="text-center">
                      <span>{{f.qty}}</span>
                    </td>
                    <td class="text-center">
                      <span>{{f.price.toFixed(2)}}</span>
                    </td>
                    <td class="text-center">
                      <span ng-init="itemTotal = (f.price * f.qty).toFixed(2);">{{itemTotal}}</span>
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
