<div class=" bg-white" style="min-height:93vh;position:relative;">
  <breadcrumb></breadcrumb>

  <div class="container-fluid">
    <div class="col-sm-2">
      <div class="form-group">
        <label> Select Date </label>
        <div class="input-group">
          <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.date" is-open="status.opened" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-3">
      <div class="form-group">
        <label> Agent Name </label>
        <input type="text" class="form-control" placeholder="Search and select" uib-typeahead="user as user.username for user in userSearch($viewValue)" ng-model="form.user">
      </div>
    </div> -->
    <div class="col-sm-3">
      <div class="form-group">
        <label> Client Name </label>
        <input type="text" class="form-control" placeholder="Search and select" uib-typeahead="service as service.name for service in serviceSearch($viewValue)" ng-model="form.client">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label> Visitor Email </label>
        <input type="email" class="form-control" placeholder="User E-mail..." ng-model="form.email">
      </div>
    </div>

    <div class="col-sm-2">
      <div class="btn-group" style="padding-top:20px;">
        <button type="button" class="btn btn-primary" ng-click="filterData()">
          <strong>Filter</strong>
        </button>
        <button type="button" class="btn btn-default" ng-click="download()" ng-if="reviewData.length>0">
          Download <i class="fa fa-download"></i>
        </button>
      </div>
    </div>

  </div>


  <div class="container-fluid" style="padding-top:30px">
    <uib-tabset>
      <uib-tab active="browseTab">
        <uib-tab-heading>
          Browse
          <i class="fa fa-list-ul"></i>
        </uib-tab-heading>



        <!-- <div class="container-fluid">
          <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
        </div> -->



        <div class="container-fluid">
          <!-- <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table> -->
          <div class="row" style="padding-top:25px">

            <div class="col-md-4" style="margin-bottom:20px; padding-left:10px;padding-right:10px;" ng-repeat="data in reviewData" ng-click="tableAction($index)">
              <!-- {{data[0].numOfComments}} {{data[0].statusChat}} -->
              <div class="container-fluid card" style="padding-bottom:0px">
                <div class="row container-fluid" style="border-bottom: 1px solid #dedede; height:170px; opacity:0.9;letter-spacing:0.6px; {{data[0].user_id==null ? 'background-color: #fc000033':''}}; {{data[0].statusChat=='closed'?'background-color: #16e61133':'' }}">
                  <div class="col-md-12">
                    <!-- {{data[0]}} <br> -->
                    <h5 style="font-weight:501">Agent Name : {{data[0].user_id | getName}}
                       <span ng-if="data[0].rating == 5" class="pull-right">
                         <i class="fa fa fa-smile-o fa-lg" style="color:#086b0a" aria-hidden="true"></i>
                         <i class="fa fa-star fa-lg" style="color:#086b0a" aria-hidden="true"></i>
                        </span>
                       <span ng-if="data[0].rating == 4" class="pull-right">
                          <i class="fa fa fa-smile-o fa-lg" style="color:#2fdd23" aria-hidden="true"></i>
                         <i class="fa fa-star fa-lg" style="color:#2fdd23" aria-hidden="true"></i>
                        </span>
                       <span ng-if="data[0].rating == 3" class="pull-right">
                          <i class="fa fa-meh-o fa-lg" style="color:#dff20c" aria-hidden="true"></i>
                          <i class="fa fa-star fa-lg" style="color:#dff20c" aria-hidden="true"></i>
                         </span>
                       <span ng-if="data[0].rating == 2||data[0].rating == 1" class="pull-right">
                          <i class="fa fa fa-frown-o fa-lg" style="color:#f70202" aria-hidden="true"></i>
                          <i class="fa fa-star fa-lg" style="color:#f70202" aria-hidden="true"></i>
                      </span>
                    </h5>

                    <h5 style="font-weight:501">UID : {{data[0].uid}}
                      <span class="pull-right" style="color:#286090 ;font-size:15px">{{data[0].numOfComments}} <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i></span>
                    </h5>
                    <h5 style="font-weight:501">Client : {{data[0].company}}</h5>
                    <h5 style="font-weight:501" ng-if="data[0].email">Visitor's Email :  {{data[0].email}}</h5>
                    <h5 style="font-weight:501" ng-if="data[0].chatDuration!=0">Chat Duration :  {{data[0].chatDuration}} Min</h5>
                    <h5 style="font-weight:501" ng-if="data[0].statusChat">Status :  {{data[0].statusChat}}
                       <span ng-if="data[0].statusChat!='started'">by
                         <span ng-if="data[0][data[0].statusChat+'By']&&data[0][data[0].statusChat+'On']">{{data[0][data[0].statusChat+'By']}}</span>
                         <span ng-if="data[0][data[0].statusChat+'On']&&!data[0][data[0].statusChat+'By']">Visitor</span>
                        on {{data[0][data[0].statusChat+'On'].split('.')[0].split(' ')[0]}} at {{data[0][data[0].statusChat+'On'].split('.')[0].split(' ')[1]}} </span>
                     </h5>
                  </div>
                </div>
                <div class="row container-fluid" style="padding-top:10px;height:50px;background-color:#286090; opacity:1">
                  <div class="col-md-12" style="color:#fff">
                    <h5>Date: {{data[0].created | date : 'dd-MMM-yyyy'}}
                      <span class="pull-right" style="cursor:pointer;"><i class="fa fa-info-circle fa-lg" ng-click="tableAction($index)"></i></span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="" style="width: 100%;position: absolute;top:400px;left:40%;color:#f0f0f0;font-size:40px" ng-if="myDialouge">
              No More Data
            </div>
            <!-- <div ng-if="reviewData.length>14||onceClicked" class="col-sm-12" style="text-align:center">
              <button style="background-color:#286090;padding:5px;color:white" ng-click="goBack()" ng-if="onceClicked">Go Back</button>
              <button style="background-color:#286090;padding:5px;color:white" ng-click="loadMore()" ng-if="!myDialouge">Load More</button>
            </div> -->
          </div>
        </div>
      </uib-tab>
      <uib-tab active="archiveTab">
        <uib-tab-heading>
          Archived
          <i class="fa fa-archive"></i>
        </uib-tab-heading>


        <!-- <div class="container-fluid">
          <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
        </div> -->


        <div class="container-fluid">
          <!-- <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table> -->
          <div class="row" style="padding-top:25px">

            <div class="col-md-4" style="margin-bottom:10px; padding-left:10px;padding-right:10px;" ng-repeat="data in archivedData" ng-click="tableArchAction($index)">
              <!-- {{data[0]}} -->
              <div class="container-fluid card" style="padding-bottom:0px">
                <div class="row container-fluid" style="border-bottom: 1px solid #dedede; height:150px; opacity:0.9;letter-spacing:0.6px;">
                  <div class="col-md-12">
                    <h5 style="font-weight:501">Agent Name : {{data[0].user_id | getName}}
                       <span ng-if="data[0].rating == 5" class="pull-right">
                         <i class="fa fa fa-smile-o fa-lg" style="color:#086b0a" aria-hidden="true"></i>
                         <i class="fa fa-star fa-lg" style="color:#086b0a" aria-hidden="true"></i>
                        </span>
                       <span ng-if="data[0].rating == 4" class="pull-right">
                          <i class="fa fa fa-smile-o fa-lg" style="color:#2fdd23" aria-hidden="true"></i>
                         <i class="fa fa-star fa-lg" style="color:#2fdd23" aria-hidden="true"></i>
                        </span>
                       <span ng-if="data[0].rating == 3" class="pull-right">
                          <i class="fa fa-meh-o fa-lg" style="color:#dff20c" aria-hidden="true"></i>
                          <i class="fa fa-star fa-lg" style="color:#dff20c" aria-hidden="true"></i>
                         </span>
                       <span ng-if="data[0].rating == 2||data[0].rating == 1" class="pull-right">
                          <i class="fa fa fa-frown-o fa-lg" style="color:#f70202" aria-hidden="true"></i>
                          <i class="fa fa-star fa-lg" style="color:#f70202" aria-hidden="true"></i>
                      </span>
                    </h5>
                    <h5 style="font-weight:501">UID : {{data[0].uid}}
                      <span class="pull-right" style="color:#286090 ;font-size:15px">{{data[0].numOfComments}} <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i></span>
                    </h5>
                    <h5 style="font-weight:501">Client : {{data[0].company}}</h5>
                    <h5 style="font-weight:501" ng-if="data[0].email">Visitor's Email :  {{data[0].email}}</h5>
                    <h5 style="font-weight:501" ng-if="data[0].chatDuration!=0">Chat Duration :  {{data[0].chatDuration}} Min</h5>
                    <h5 style="font-weight:501" ng-if="data[0].statusChat">Status :  {{data[0].statusChat}}
                       <span ng-if="data[0].statusChat!='started'">by {{data[0][data[0].statusChat+'By']}} on {{data[0][data[0].statusChat+'On'].split('.')[0]}} </span>
                     </h5>
                    <!-- <i class="fa fa-star" style="color:#fbd73f" aria-hidden="true"></i> -->
                  </div>
                </div>
                <div class="row container-fluid" style="padding-top:10px;height:50px;background-color:#286090; opacity:1">
                  <div class="col-md-12" style="color:#fff">
                    <h5>Date: {{data[0].created | date : 'dd-MMM-yyyy'}}
                      <span class="pull-right" style="cursor:pointer;"><i class="fa fa-info-circle fa-lg" ng-click="tableArchAction($index)"></i></span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="" style="width: 100%;position: absolute;top:400px;left:40%;color:#f0f0f0;font-size:40px" ng-if="myDialouge">
              No More Data
            </div>

            <!-- <div ng-if="archivedData.length>14||archievedOnceClicked" class="col-sm-12" style="text-align:center">
              <button style="background-color:#286090;padding:5px;color:white" ng-click="goBackArchived()" ng-if="archievedOnceClicked">Go Back</button>
              <button style="background-color:#286090;padding:5px;color:white" ng-click="loadMoreArchived()" ng-if="!archievedMyDialouge">Load More</button>
            </div> -->

          </div>
        </div>
      </uib-tab>
      <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
        <uib-tab-heading>
          {{tab.title}}
          <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
        </uib-tab-heading>
        <div ng-if="tab.app == 'companyEdit'">
          <div ng-include="'/static/ngTemplates/app.customers.form.html'"></div>
        </div>
        <div ng-if="tab.app == 'AgentInfo'">
          <div ng-include="'/static/ngTemplates/app.sessionHistory.explore.html'"></div>
        </div>
      </uib-tab>

    </uib-tabset>
  </div>
</div>
