<div class="modal-header">

</div>
<div class="modal-body">

  <div class="row" style="padding-bottom:15px">
    <div class="col-md-3">
      Project
      <input uib-typeahead="p as getFullProjectName(p) for p in projectSearch($viewValue)" ng-model="form.project" type="text" class="form-control">
    </div>
    <div class="col-md-3">
      Engineer
      <input uib-typeahead="p as p.first_name for p in userSearch($viewValue)" ng-model="form.responsible" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <table class="invoiceTable" style=" width: 100%;">
      <tbody>
        <tr style="background-color: #eeeeee;height: 96px;">
          <th>Si.No</th>
          <th>Product</th>
          <th>Part No</th>
          <th>Quantity</th>
          <th></th>
        </tr>
        <tr ng-repeat="v in productsOrdered track by $index">
          <td>{{$index + 1}}</td>
          <td>{{v.description_1}}</td>
          <td>{{v.part_no}}</td>
          <td><input type="number" step=1 class="form-control-pos" ng-model="v.prodQty" ng-init="v.prodQty=1"></td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" ng-click="delete($index)"> <i class="fa fa-trash"></i> </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-9">
      <button type="button" class="btn btn-success pull-right" ng-if="showSave" ng-click="save()" style="margin:35px;">Save</button>
    </div>
    <div class="col-md-3" style="padding-top:33px">
      <span><a class="btn btn-primary" ng-if="values" style="cursor:pointer;" target="_blank" href="/api/support/materialIssued/?value={{values}}"> Material Issue  <i class="fa fa-download" style="font-size:1;margin-left:1em"></i></a></span>
    </div>
  </div>

</div>
