
<table class="table table-striped">
  <tbody>
    <tr>
      <td style="width:8.33%">{{data.created}}</td>
      <td style="width:8.33%">{{data.frm}}</td>
      <td style="width:8.33%">{{data.to}}</td>
      <td style="width:8.33%">{{data.body}}</td>
      <td style="width:8.33%">{{data.dated}}</td>
      <td style="width:8.33%">{{data.spam}}</td>
      <!-- <td>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-danger" ng-click="remove($index)">
            <i class="fa fa-trash-o"></i>
          </button>
          <button type="button" ng-click="edit($index)" class="btn btn-default">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
      </td> -->
    </tr>
  </tbody>
</table>
