<div ng-controller="businessManagement.customers.document" style="padding-top:20px;">
  <div class="col-md-12">
    <div class="row" ng-if="custDetails.pk!=none">
      <div class="col-md-3">
        <div class="btn btn-block {{docForm!=none&&docForm.title.length==0?'btn-warning':'btn-default'}}" ng-click="addDoc(-1)" style="font-size:18px">
          Add Document &nbsp;<i class="fa fa-plus fa-lg"></i>
        </div>
      </div>
    </div>
    <div class="row" ng-if="custDetails.pk==none">
      <div class="col-md-12">
        <div class="text-center" style="font-size:20px">
          Please Create Customer Profile First (Like Support Details)
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="padding-top:15px">
      <div class="col-md-3">
        <div class="row" style="border-right:solid 2px #eeeeee;min-height:82vh;position:relative;" ng-if="custDocs.length>0||docForm!=none">
          <div class="row text-center container-fluid card {{docForm.pk==doc.pk?'bg-yellow':'bg-shaded'}}" ng-repeat="doc in custDocs" ng-click="addDoc($index)" style="cursor:pointer;font-size:18px;padding:10px;margin:20px 10px">
            {{doc.title}}
          </div>
        </div>
      </div>
      <div class="col-md-9" style="padding-left:35px" ng-if="docForm!=none">
        <div class="row text-center">
          <h4>{{docForm.pk!=none?'Edit':'Create'}} Document <span ng-if="docForm.pk!=none">- {{docForm.title}}</span></h4>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Title</label>
            <input type="text " class="form-control" ng-model="docForm.title">
          </div>
          <div class="form-group" ng-if="docForm.text!=null">
            <label>Content</label>
            <textarea ui-tinymce="tinymceOptions" ng-model="docForm.text"></textarea>
          </div>
          <div class="form-group" ng-if="docForm.docs!=null">
            <label>Document</label>
            <input type="file" file-model="docForm.docs">
          </div>
        </div>
        <div class="row" style="padding:20px">
          <div class="col-md-2 col-md-offset-5">
            <div class="btn btn-block btn-success" style="font-size:18px" ng-click="saveDoc()">
              Save Document
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
