<div class="col-md-3" style="padding-bottom:20px;padding-left:10px;padding-right:10px;">
  <div class="container-fluid card" style="padding-bottom:10px;min-height:270px" ng-click="rowActionClicked('edit')">
    <div class="row text-center" style="border-bottom: 1px solid #dedede;height:70px;">
      <div class="col-md-12" style="position:relative;display:block;">
        <div class="row" style="padding-left:10px;">
          <h3 style="font-size:22px">{{data.name}}</h3>
        </div>
      </div>
    </div>
    <div class="row container-fluid" style="padding-top:20px;">
      <div class="col-md-10" style="font-size:15px">
        <p><strong><i class="fa fa-globe"></i> </strong> <a href="{{compDetails.web}}" target="_blank">{{data.web}}</a></p>
        <p><strong>Telephone:</strong> {{data.telephone}}</p>
        <p><strong>Mobile:</strong> {{data.mobile}}</p>
        <p><strong>No Of Process:</strong> {{data.noOfProcess}}</p>
        <p>  <strong>Contact Person:</strong> {{data.contactPerson[0].first_name}} {{data.contactPerson[0].last_name}}</p>
      </div>
      <div class="col-md-2">
        <div style="padding-right:20px;">
          <!-- <div ng-if="data.perms['module.customer.edit']" class="row" style="padding-bottom:10px">
            <span class="pull-right" style="cursor:pointer;">
            <i class="fa fa-pencil fa-lg" style="margin-top:0px;"></i>
            </span>
          </div> -->

          <!-- <div ng-if="data.perms['module.customer.explore']" class="row" style="padding-bottom:10px">
            <span class="pull-right" style="cursor:pointer;">
              <i class="fa fa-info-circle fa-lg" style="margin-top:0px;" ng-click="rowActionClicked('info')"></i>
            </span>
          </div> -->

          <div ng-if="data.perms['module.customer.knowBase']" class="row" style="padding-bottom:10px">
            <span class="pull-right" style="cursor:pointer;">
              <i class="fa fa-file-text fa-lg" style="margin-top:0px;" ng-click="rowActionClicked('document') ;$event.stopPropagation()"></i>
            </span>
          </div>


          <!-- <div class="row">
            <span ng-if="data.editPerm" class="pull-right" style="cursor:pointer;" ng-click="rowActionClicked('edit')">
            <i class="fa fa-pencil fa-lg" style="margin-top:0px;"></i>
            </span> <br><br>
            <span class="pull-right" style="cursor:pointer;">
              <i class="fa fa-info-circle fa-lg" style="margin-top:0px;" ng-click="rowActionClicked('info')"></i>
            </span><br><br>
            <span class="pull-right" style="cursor:pointer;">
              <i class="fa fa-file-text fa-lg" style="margin-top:0px;" ng-click="rowActionClicked('document')"></i>
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
