<div class="modal-body">
  <div class="container-fluid">
    <section>
      <div class="row text-center">
        <input type="text" class="form-control" name="" value="" placeholder="Search by title..">
      </div>
      <hr>
      <div class="row">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default" ng-repeat="d in data">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{$index}}" >
              <h4 class="panel-title"  >
                <a>{{d.title}}</a>
              </h4>
            </div>
            <div id="{{$index}}" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid text-center">
    <button type="button" class="btn btn-success text-center" ng-click="closeModal()">
      close
    </button>
  </div>
</div>
