
<div style="text-align:center;position:fixed;top:40%;right:40%" ng-if="loadingData">
  <img ng-src="/static/images/spinner.gif" alt="">
</div>

<div class="bg-white My_container" style="" ng-if="tableUpdated&&isTableView">

  <!-- <breadcrumb></breadcrumb> -->

          <div class="Left_container">

            <table id="myQATable" style="width:100%;">
              <thead>
                <tr class="">
                  <th style="text-align:center;display:none">Chat Start</th>
                </tr>
              </thead>
             <tbody>
             <tr id="id{{$index}}" ng-repeat="data in tableDataAvail" ng-click="doing(data)" style="background-color: {{$index==last?'#f0f0f0':' '}}">
               <td class="tabel_data">
                  <img class="table_image" ng-if="data[0].user_id" src="{{data[0].user_id | getDP}}" alt="">
                  <img class="table_image" ng-if="!data[0].user_id" ng-src="/static/images/avatar04.png" alt="">
                  <span style="display:inline-block">
                     <div ng-if="data[0].name">
                       <span style="font-weight: 500;font-size:90%">{{data[0].name}}</span>
                       <!-- <span style="font-weight: 400;font-size:75%">{{data[0].company? data[0].company:'-'}}</span> -->
                     </div>

                       <span style="font-size:83%">{{data[0].uid}}</span>
                       <!-- <span ng-if="data[0].chatDuration>0.0" style="font-size:80%"><i class="fa fa-clock-o" aria-hidden="true"></i>  {{data[0].chatDuration}} Min</span>

                       <span ng-if="data[0].customerRating<=3&&data[0].customerRating" style="font-size:80%;margin-right:1rem;color:red">Rating :{{data[0].customerRating}} <i class="fa fa-star fa-md" aria-hidden="true"></i></span>
                       <span ng-if="data[0].customerRating>3" style="font-size:80%;margin-right:1rem;color:green">Rating :{{data[0].customerRating}} <i class="fa fa-star fa-md" aria-hidden="true"></i></span> -->

                     <div>
                       <span ng-if="data[0].chatDuration>0.0" style="font-size:90%"><i class="fa fa-clock-o" aria-hidden="true"></i>  {{data[0].chatDuration}} Min</span>
                       <span ng-if="data[0].customerRating<=3&&data[0].customerRating" style="font-size:90%;margin-right:1rem;color:red">Rating :{{data[0].customerRating}} <i class="fa fa-star fa-md" aria-hidden="true"></i></span>
                       <span ng-if="data[0].customerRating>3" style="font-size:90%;margin-right:1rem;color:green">Rating :{{data[0].customerRating}} <i class="fa fa-star fa-md" aria-hidden="true"></i></span>
                     </div>
                     <div class="tabel_dataStatus" style="font-size:80%">
                       <span style="background:#fff;" ><i class="fa fa-calendar-o" aria-hidden="true"></i> {{data[0].created|  date : 'dd-MMM-yyyy'}}</span>
                       <span ng-if="data[0].statusChat=='started'" style="color:green"><b>{{data[0].statusChat|humanize}}</b></span>
                       <span ng-if="data[0].statusChat=='closed'" style="color:#A40B0B"><b>{{data[0].statusChat|humanize}}</b></span>
                       <span ng-if="data[0].statusChat=='reviewed'" style="color:brown"><b>{{data[0].statusChat|humanize}}</b></span>
                       <span style="float:right;margin-left: 2rem;opacity:0.6;">
                         <i ng-if="data[0].typ=='audio'" class="fa fa-phone fa-lg" aria-hidden="true"></i>
                         <i ng-if="data[0].typ=='video'" class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                       </span>
                     </div>

                   </span>
                  <!-- <div style="float:right;padding:1rem;opacity:0.6;">
                    <i ng-if="data[0].typ=='audio'" class="fa fa-phone fa-lg" aria-hidden="true"></i>
                    <i ng-if="data[0].typ=='video'" class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                  </div> -->
                </td>
              </tr>
            </tbody>

          </table>

          <div style="position:fixed;bottom:0px;padding: 2.5rem;background:#fff" >

            <span>
              <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
              <option>15</option>
              <option>30</option>
              <option>45</option>
              <option>60</option>
            </select></span>
            <span><pagination
              style="margin:-10px 0px"
               total-items="totalItems"
               ng-model="currentPage.page"
               ng-change="pageChanged()"
               class="pagination-sm"
               items-per-page="itemsPerPage"
               previous-text="&lsaquo;"
               next-text="&rsaquo;"
               first-text="&laquo;"
               last-text="&raquo;"
               max-size="maxSize"
               force-ellipses="true"
               boundary-links="true">
          </pagination></span>


          </div>
        </div>

          <!-- <div class="Middle_container">
              <div class="Top_container">
              </div>
              <div class="center_container">
              </div>
          </div> -->

        <review-info ng-if="valueee&&myData"  data ="myData"></review-info>



        <div class="Right_container">
          <div class="container-fluid" style="position:fixed;background-color:#f0f0f0;height:100vh;padding:2rem;right:0;width:35rem">
            <div style="display:block;margin:1rem 0px;">
              <button type="button" class="btn btn-block btn_gradient" ng-click="setMyView()" style="outline:none">
                 <i ng-if="!isTableView"class="fa fa-table fa-md"  aria-hidden="true">
                   <span>Switch to Table View</span>
                 </i>
                 <i ng-if="isTableView" class="fa fa-address-card-o fa-md" aria-hidden="true">
                   <span>Switch to Column View</span>
                 </i>
              </button>
            </div>
              <div class="form-group login-input-group">
                <label><b> Select Date </b></label>
                <div class="input-group login-input-group myyy">
                  <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.date" is-open="status.opened" />
                  <span class="input-group-btn">
                    <button style="border:none" type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="form-group login-input-group">
                <label><b> Visitor Email </b></label>
                <input type="email" class="form-control" placeholder="User E-mail..." ng-model="form.email">
              </div>
              <div class="form-group login-input-group">
                  <label for="sel1">Select Chat Type (Audio/Video):</label>
                  <select class="form-control login-input-group" id="sel1" ng-model="form.selectedChatType" style="border:none">
                    <option ng-repeat="chatType in chatTypes" value="{{chatType}}">{{chatType}}</option>
                  </select>
              </div>
              <div class="btn-group-vertical">
                <button type="button" class="btn" ng-click="filterData()">
                  <strong>Filter</strong>
                </button>
             </div>
             <div class="form-group login-input-group" style="margin-top:20px">
              <label>Sort By:</label>
              <select class="form-control" ng-model="selectedSortOption.value" style="border:none">
                <option ng-repeat="sort in sortOptions" value="{{sort}}">{{sort}} </option>
              </select>
            </div>
          </div>
        </div>

</div>







  <div class="row container-fluid" style="margin-top:15px" ng-if="!isTableView">

    <div class="col-sm-12">

      <div class="" >
          <uib-tabset>
            <uib-tab active="true">
              <uib-tab-heading>
                Browse
                <i class="fa fa-list-ul"></i>
              </uib-tab-heading>
                    <div style="text-align:center" ng-if="loadingData">
                      <img ng-src="/static/images/spinner.gif" alt="">
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-4" ng-repeat="r in reviewData">
                        <div class="row" style="margin-bottom:30px; margin-right:15px;">
                            <div class="card" style="margin-bottom:-2px; border-radius:4px 4px 0px 0px; padding:15px;">
                                <div class="row" style="padding:0px 10px; min-height:130px;">
                                  <div class="col-md-8">
                                    <h6>Agent Name : {{r[0].user_id | getName}}</h6>
                                    <h6>UID : {{r[0].uid}}</h6>
                                    <h6>Date : {{r[0].created | date : "dd-MMM-yyyy"}}</h6>
                                    <h6 ng-if="r[0].email">Visitor's Email : {{r[0].email}}</h6>
                                    <h6 ng-if="r[0].chatDuration!=0">Chat Duration : {{r[0].chatDuration}}</h6>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="row">
                                      <span ng-if="r[0].rating == 5" class="pull-right">
                                          <i class="fa fa fa-smile-o fa-lg" style="color:#086b0a" aria-hidden="true"></i>
                                          <i class="fa fa-star fa-lg" style="color:#086b0a" aria-hidden="true"></i>
                                         </span>
                                      <span ng-if="r[0].rating == 4" class="pull-right">
                                           <i class="fa fa fa-smile-o fa-lg" style="color:#2fdd23" aria-hidden="true"></i>
                                          <i class="fa fa-star fa-lg" style="color:#2fdd23" aria-hidden="true"></i>
                                         </span>
                                      <span ng-if="r[0].rating == 3" class="pull-right">
                                           <i class="fa fa-meh-o fa-lg" style="color:#dff20c" aria-hidden="true"></i>
                                           <i class="fa fa-star fa-lg" style="color:#dff20c" aria-hidden="true"></i>
                                          </span>
                                      <span ng-if="r[0].rating == 2||data[0].rating == 1" class="pull-right">
                                           <i class="fa fa fa-frown-o fa-lg" style="color:#f70202" aria-hidden="true"></i>
                                           <i class="fa fa-star fa-lg" style="color:#f70202" aria-hidden="true"></i>
                                       </span>
                                    </div>
                                    <div class="row" style="padding-top:15px;" >
                                      <span class="pull-right" style="color:#286090 ;font-size:15px">{{r[0].numOfComments}} <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div class="btn btn-block btn-primary" style="border-top:1px solid #eee; padding:10px; border-radius:0px 0px 4px 4px;" ng-click="tableAction($index)">
                            View Chat
                          </div>
                      </div>
                    </div>
                    </div>

                  <div class="col-sm-3" >
                     <div class="container-fluid" style="position:fixed;background-color:#f0f0f0;width:20%;height:100vh;top:5vh;right:0px;padding:20px 25px;box-shadow:-1px -1px 1px #f6f6f6">
                       <div style="display:block;margin:10px 0px;">
                         <button type="button" class="btn btn-block btn_gradient" ng-click="setMyView()" style="outline:none">
                            <i ng-if="!isTableView"class="fa fa-table fa-md"  aria-hidden="true">
                              <span>Switch to Table View</span>
                            </i>
                            <i ng-if="isTableView" class="fa fa-address-card-o fa-md" aria-hidden="true">
                              <span>Switch to Column View</span>
                            </i>
                         </button>
                       </div>
                         <div class="form-group">
                           <label><b> Select Date </b></label>
                           <div class="input-group">
                             <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.date" is-open="status.opened" />
                             <span class="input-group-btn">
                               <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="fa fa-calendar"></i></button>
                             </span>
                           </div>
                         </div>
                         <div class="form-group">
                           <label><b> Visitor Email </b></label>
                           <input type="email" class="form-control" placeholder="User E-mail..." ng-model="form.email">
                         </div>
                         <div class="form-group">
                             <label for="sel1">Select Chat Type (Audio/Video):</label>
                             <select class="form-control" id="sel1" ng-model="form.selectedChatType" style="outline:none">
                               <option ng-repeat="chatType in chatTypes" value="{{chatType}}">{{chatType}}</option>
                             </select>
                         </div>
                         <div class="btn-group-vertical">
                           <button type="button" class="btn btn_gradient" ng-click="filterData()">
                             <strong>Filter</strong>
                           </button>
                        </div>
                        <div class="form-group" style="margin-top:20px">
                         <label>Sort By:</label>
                         <select class="form-control" ng-model="selectedSortOption.value">
                           <option ng-repeat="sort in sortOptions" value="{{sort}}">{{sort}} </option>
                         </select>
                       </div>
                     </div>
                 </div>
            </uib-tab>
            <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
              <uib-tab-heading>
                {{tab.title}}
                <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
              </uib-tab-heading>
              <div ng-if="tab.app == 'ChatInfo'">
                <div ng-include="'/static/ngTemplates/app.reviews.explore.html'"></div>
              </div>
            </uib-tab>
          </uib-tabset>
      </div>





      <!-- <div class="" ng-if="isTableView&&tableUpdated">
        <div class="row">
            <div class="col-md-4">
              <table style="width:100%;font-size:16px" id="myQATable" datatable="" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                <thead>
                  <tr id="">
                    <th style="text-align:center;display:none">Chat Start</th>
                  </tr>
                </thead>
               <tbody>
               <tr id="id{{$index}}" ng-repeat="data in reviewData" style="" ng-click="doing(data)">
                 <td>
                     <div class="" style="border-radius:50%;width:50px;height:50px;margin:5px 10px;float:left">
                       <img ng-if="data[0].user_id" style="width:50px" src="{{data[0].user_id | getDP}}" alt="">

                     </div>
                     <span style="display:inline-block">
                       <div class="">
                         <span style="font-size: 15px;font-weight: 700;">{{data[0].user_id | getName}}</span>
                         <span style="font-size: 13px;font-weight: 400;">{{data[0].company? data[0].company:'-'}}</span>
                       </div>
                       <div class="">
                         <span style="font-size: 14px;">{{data[0].uid}}</span>
                       </div>
                       <div class="">
                         <span style="font-size: 13px;opacity: 0.8;">Created : {{data[0].created|  date : 'dd-MMM-yyyy'}}</span>
                         <span ng-if="data[0].statusChat=='started'" style="font-size: 14px;opacity: 0.8;color:green;background:#e0e0e0;padding:0px 5px" ><b>{{data[0].statusChat|humanize}}</b></span>
                         <span ng-if="data[0].statusChat=='closed'" style="font-size: 14px;opacity: 0.8;color:#A40B0B;background:#e0e0e0;padding:0px 5px"  ><b>{{data[0].statusChat|humanize}}</b></span>
                         <span ng-if="data[0].statusChat=='reviewed'" style="font-size: 14px;opacity: 0.8;color:brown;background:#e0e0e0;padding:0px 5px" ><b>{{data[0].statusChat|humanize}}</b></span>
                       </div>

                     </span>
                     <div class="" style="margin:5px 10px;float:right;font-size:20px;padding:12px;opacity:0.6;">

                      <i ng-if="data[0].typ=='audio'" class="fa fa-phone fa-lg" aria-hidden="true"></i>
                      <i ng-if="data[0].typ=='video'" class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>


            <div class="col-md-8" ng-if="valueee">
              <review-info  data ="myData"></review-info>
            </div>
        </div>
      </div> -->
    </div>


    <!-- <div class="col-md-8" ng-if="!loadingData">
      <div>
        <review-info data ="myData"></review-info>
      </div>
    </div> -->




  </div>
