  <div class="modal-header">
    <h3 class="text-center" ng-if="mode=='new'">Add new product</h3>
    <h3 class="text-center" ng-if="mode=='edit'">Edit product</h3>
  </div>
  <div class="modal-body" >
    <DIV CLASS="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Part_no</label>
        <input ng-model="data.part_no" type="text" class="form-control" placeholder="Part_no">
      </div>
      <div class="form-group">
        <label>Description 1</label>
        <input type="text " class="form-control" ng-model="data.description_1" placeholder="Description 1">
      </div>
      <div class="form-group">
        <label>Description 2</label>
        <input type="text " class="form-control" ng-model="data.description_2" placeholder="Description 2">
      </div>
      <div class="form-group">
        <label>Weight</label>
        <input ng-model="data.weight" type="text" class="form-control" placeholder="Weight">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" ng-model="data.price" class="form-control" placeholder="Price">
      </div>
      <div class="form-group">
        <label>Customs No</label>
        <input type="text" ng-model="data.customs_no" class="form-control" placeholder="Customs No">
      </div>
      <div class="form-group">
        <label>GST %</label>
        <input type="text" ng-model="data.gst" class="form-control" placeholder="GST">
      </div>
      <div class="form-group">
        <label>Custom %</label>
        <input type="text" ng-model="data.custom" class="form-control" placeholder="Custom">
      </div>
      <div class="btn-group pull-right" ng-if="mode=='new'">
        <!-- <button  type="button" class="btn btn-default" ng-click="submitForm(type , 'reset' , data)">
          Reset
        </button> -->
        <button type="button" class="btn btn-primary" ng-click="submitForm( type , 'new' , data )"> Create </button>
      </div>
      <div class="btn-group pull-right" ng-if="mode=='edit'">
        <button type="submit" class="btn btn-primary" ng-click="submitForm()"> Save </button>
      </div>
    </div>
  </div>
</div>
