<div class="col-md-4" style="padding-bottom:20px;padding-left:10px;padding-right:10px;" >
  <div class="container-fluid card" style="border: 2px solid #090a0a;cursor:pointer" ng-click="rowActionClicked('explore')">
    <div class="row text-center" style="height:6vh;">
      <div class="col-md-12" style="position:relative;display:block;">
        <div class="row" style="padding-left:10px;">
          <h3>{{data.invoiceNumber}}</h3>
        </div>
      </div>
    </div>
    <!-- <div class="row container-fluid" style="padding-top:20px;height:12vh; position: relative;">
      <h1 style="position: absolute; -ms-transform: skewY(160deg);-webkit-transform: skewY(160deg); transform: skewY(160deg);left:200px;color:rgb(147, 154, 147)">
      Vendor
    </h1> -->
    <div class="row container-fluid" style="padding-top:20px;height:12vh;">
      <div class="col-md-10" >
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 text-left">
                <strong>Date : </strong>
              </div>
              <div class="col-md-6 text-left">
                <span>{{data.invoiceDate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 text-left">
                <strong>PO Number : </strong>
              </div>
              <div class="col-md-6 text-left">
                <span>{{data.poNumber}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 text-left">
                <strong>Name : </strong>
              </div>
              <div class="col-md-6 text-left">
                <span>{{data.shipName}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2" style="padding-bottom:15px">
        <div class="row">
          <span class="pull-right" style="cursor:pointer;position:absolute;" ng-click="rowActionClicked('edit');$event.stopPropagation()">
            <i class="fa fa-pencil fa-2x"></i>
          </span>
          <span class="pull-right" style="cursor:pointer;position:absolute;top:4vh;" ng-click="$event.stopPropagation()" mwl-confirm title="Delete" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="rowActionClicked('delete');" confirm-button-type="default" cancel-button-type="default"></i>
            <i class="fa fa-trash fa-2x"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
