
<div style="text-align:center;position:fixed;top:40%;right:40%" ng-if="loadingData">
  <img ng-src="/static/images/spinner.gif" alt="">
</div>

<div class="bg-white My_container" style="" ng-if="!loadingData&&isTableView">

  <div ng-if="noDataDialouge" style="font-size: 30px;text-align:center;position:fixed;top:40%;right:50%">
    No data Available
  </div>

  <!-- <breadcrumb></breadcrumb> -->
          <div ng-if="!noDataDialouge" class="Left_container">
            <table id="myQATable" style="width:100%;">
              <thead>
                <tr class="">
                  <th style="text-align:center;display:none">Chat Start</th>
                </tr>
              </thead>
             <tbody>
             <tr id="id{{$index}}" ng-repeat="data in reviewData" ng-click="tabelRowAction(data)" style="background-color: {{$index==lastActiveTR?'#f0f0f0':' '}}">
               <td class="tabel_data">
                  <img class="table_image" ng-if="data.user_id" src="{{data.user_id | getDP}}" alt="">
                  <img class="table_image" ng-if="!data.user_id" ng-src="/static/images/avatar04.png" alt="">
                  <span style="display:inline-block">
                     <div ng-if="data.name">
                       <span style="font-weight: 500;font-size:90%">{{data.name}}</span>
                       <!-- <span style="font-weight: 400;font-size:75%">{{data.company? data.company:'-'}}</span> -->
                     </div>

                       <span style="font-size:83%">{{data.uid}}</span>
                       <!-- <span ng-if="data.chatDuration>0.0" style="font-size:80%"><i class="fa fa-clock-o" aria-hidden="true"></i>  {{data.chatDuration}} Min</span>

                       <span ng-if="data.customerRating<=3&&data.customerRating" style="font-size:80%;margin-right:1rem;color:red">Rating :{{data.customerRating}} <i class="fa fa-star fa-md" aria-hidden="true"></i></span>
                       <span ng-if="data.customerRating>3" style="font-size:80%;margin-right:1rem;color:green">Rating :{{data.customerRating}} <i class="fa fa-star fa-md" aria-hidden="true"></i></span> -->

                     <div>
                       <span ng-if="data.chatDuration>0.0" style="font-size:90%"><i class="fa fa-clock-o" aria-hidden="true"></i>  {{data.chatDuration}} Min</span>
                       <span ng-if="data.customerRating<=3&&data.customerRating" style="font-size:90%;margin-right:1rem;color:red">Rating :{{data.customerRating}} <i class="fa fa-star fa-md" aria-hidden="true"></i></span>
                       <span ng-if="data.customerRating>3" style="font-size:90%;margin-right:1rem;color:green">Rating :{{data.customerRating}} <i class="fa fa-star fa-md" aria-hidden="true"></i></span>
                     </div>
                     <div class="tabel_dataStatus" style="font-size:80%">
                       <span style="background:#fff;" ><i class="fa fa-calendar-o" aria-hidden="true"></i> {{data.created|  date : 'dd-MMM-yyyy'}}</span>
                       <span ng-if="data.statusChat=='started'" style="color:green"><b>{{data.statusChat|humanize}}</b></span>
                       <span ng-if="data.statusChat=='closed'" style="color:#A40B0B"><b>{{data.statusChat|humanize}}</b></span>
                       <span ng-if="data.statusChat=='reviewed'" style="color:brown"><b>{{data.statusChat|humanize}}</b></span>
                       <span style="float:right;margin-left: 2rem;opacity:0.6;">
                         <i ng-if="data.typ=='audio'" class="fa fa-phone fa-lg" aria-hidden="true"></i>
                         <i ng-if="data.typ=='video'" class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                       </span>
                     </div>

                   </span>
                </td>
              </tr>
            </tbody>

          </table>

          <div ng-if="reviewData.length" style="position:fixed;bottom:0px;padding: 2rem;background:#fff" >

            <span>
              <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                <option>15</option>
                <option>30</option>
                <option>45</option>
                <option>60</option>
              </select>
            </span>
            <span>
              <pagination
                 style="margin:-10px 0px"
                 total-items="totalItems"
                 ng-model="currentPage.page"
                 ng-change="pageChanged()"
                 class="pagination-sm"
                 items-per-page="itemsPerPage"
                 previous-text="&lsaquo;"
                 next-text="&rsaquo;"
                 first-text="&laquo;"
                 last-text="&raquo;"
                 max-size="maxSize"
                 force-ellipses="true"
                 boundary-links="true"></pagination>
            </span>
          </div>
        </div>

          <!-- <div class="Middle_container">
              <div class="Top_container">
              </div>
              <div class="center_container">
              </div>
          </div> -->

        <review-info ng-if="isDetailInfoUpdated&&detailInfoData&&!noDataDialouge"  data ="detailInfoData" ></review-info>

        <div class="Right_container">
          <div class="container-fluid" style="position:fixed;background-color:#f0f0f0;height:100vh;padding:2rem;right:0;width:35rem">
            <div style="display:block;margin:1rem 0px;">
              <button type="button" class="btn btn-block btn-primary" ng-click="setMyView()" style="outline:none">
                 <i ng-if="!isTableView"class="fa fa-table fa-md"  aria-hidden="true">
                   <span>Switch to Table View</span>
                 </i>
                 <i ng-if="isTableView" class="fa fa-address-card-o fa-md" aria-hidden="true">
                   <span>Switch to Column View</span>
                 </i>
              </button>
            </div>
              <div class="form-group login-input-group">
                <label><b> Select Date </b></label>
                <div class="input-group login-input-group removeGradientBtn">
                  <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.date" is-open="status.opened" />
                  <span class="input-group-btn">
                    <button style="border:none" type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="form-group login-input-group">
                <label><b> Visitor Email </b></label>
                <input type="email" class="form-control" placeholder="User E-mail..." ng-model="form.email">
              </div>
              <div class="form-group login-input-group">
                  <label for="sel1">Select Chat Type (Audio/Video):</label>
                  <select class="form-control login-input-group" id="sel1" ng-model="form.selectedChatType" style="border:none">
                    <option ng-repeat="chatType in chatTypes" value="{{chatType}}">{{chatType}}</option>
                  </select>
              </div>
              <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary" ng-click="filterData()">
                  <strong>Filter</strong>
                </button>
             </div>
             <div class="form-group login-input-group" style="margin-top:20px">
              <label>Sort By:</label>
              <select class="form-control" ng-model="selectedSortOption.value" style="border:none">
                <option ng-repeat="sort in sortOptions" value="{{sort}}">{{sort}} </option>
              </select>
            </div>
          </div>
        </div>
  </div>


  <div class="row container-fluid" style="margin-top:15px" ng-if="!isTableView">

    <div class="col-sm-12">
      <div class="" >
          <uib-tabset>
            <uib-tab active="true">
              <uib-tab-heading>
                Browse
                <i class="fa fa-list-ul"></i>
              </uib-tab-heading>
                    <div style="text-align:center" ng-if="loadingData">
                      <img ng-src="/static/images/spinner.gif" alt="">
                    </div>
                    <div class="col-md-9">
                      <div class="col-md-4" ng-repeat="r in reviewData">
                        <div class="row" style="margin-bottom:30px; margin-right:15px;">
                            <div class="card" style="margin-bottom:-2px; border-radius:4px 4px 0px 0px; padding:15px;">
                                <div class="row" style="padding:0px 10px; min-height:130px;">
                                  <div class="col-md-8">
                                    <h6>Agent Name : {{r[0].user_id | getName}}</h6>
                                    <h6>UID : {{r[0].uid}}</h6>
                                    <h6>Date : {{r[0].created | date : "dd-MMM-yyyy"}}</h6>
                                    <h6 ng-if="r[0].email">Visitor's Email : {{r[0].email}}</h6>
                                    <h6 ng-if="r[0].chatDuration!=0">Chat Duration : {{r[0].chatDuration}}</h6>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="row">
                                      <span ng-if="r[0].rating == 5" class="pull-right">
                                          <i class="fa fa fa-smile-o fa-lg" style="color:#086b0a" aria-hidden="true"></i>
                                          <i class="fa fa-star fa-lg" style="color:#086b0a" aria-hidden="true"></i>
                                         </span>
                                      <span ng-if="r[0].rating == 4" class="pull-right">
                                           <i class="fa fa fa-smile-o fa-lg" style="color:#2fdd23" aria-hidden="true"></i>
                                          <i class="fa fa-star fa-lg" style="color:#2fdd23" aria-hidden="true"></i>
                                         </span>
                                      <span ng-if="r[0].rating == 3" class="pull-right">
                                           <i class="fa fa-meh-o fa-lg" style="color:#dff20c" aria-hidden="true"></i>
                                           <i class="fa fa-star fa-lg" style="color:#dff20c" aria-hidden="true"></i>
                                          </span>
                                      <span ng-if="r[0].rating == 2||data.rating == 1" class="pull-right">
                                           <i class="fa fa fa-frown-o fa-lg" style="color:#f70202" aria-hidden="true"></i>
                                           <i class="fa fa-star fa-lg" style="color:#f70202" aria-hidden="true"></i>
                                       </span>
                                    </div>
                                    <div class="row" style="padding-top:15px;" >
                                      <span class="pull-right" style="color:#286090 ;font-size:15px">{{r[0].numOfComments}} <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div class="btn btn-block btn-primary" style="border-top:1px solid #eee; padding:10px; border-radius:0px 0px 4px 4px;" ng-click="tableAction($index)">
                            View Chat
                          </div>
                      </div>
                    </div>
                    </div>
                  <div class="col-sm-3" >
                     <div class="container-fluid" style="position:fixed;background-color:#f0f0f0;height:100vh;padding:2rem;right:0;width:35rem;top:5vh">
                       <div style="display:block;margin:10px 0px;">
                         <button type="button" class="btn btn-block btn-warning" ng-click="setMyView()" style="outline:none">
                            <i ng-if="!isTableView"class="fa fa-table fa-md"  aria-hidden="true">
                              <span>Switch to Table View</span>
                            </i>
                            <i ng-if="isTableView" class="fa fa-address-card-o fa-md" aria-hidden="true">
                              <span>Switch to Column View</span>
                            </i>
                         </button>
                       </div>
                         <div class="form-group">
                           <label><b> Select Date </b></label>
                           <div class="input-group removeGradientBtn">
                             <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.date" is-open="status.opened" />
                             <span class="input-group-btn">
                               <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="fa fa-calendar"></i></button>
                             </span>
                           </div>
                         </div>
                         <div class="form-group">
                           <label><b> Visitor Email </b></label>
                           <input type="email" class="form-control" placeholder="User E-mail..." ng-model="form.email">
                         </div>
                         <div class="form-group">
                             <label for="sel1">Select Chat Type (Audio/Video):</label>
                             <select class="form-control" id="sel1" ng-model="form.selectedChatType" style="outline:none">
                               <option ng-repeat="chatType in chatTypes" value="{{chatType}}">{{chatType}}</option>
                             </select>
                         </div>
                         <div class="btn-group-vertical">
                           <button type="button" class="btn btn-primary" ng-click="filterData()">
                             <strong>Filter</strong>
                           </button>
                        </div>
                        <div class="form-group" style="margin-top:20px">
                         <label>Sort By:</label>
                         <select class="form-control" ng-model="selectedSortOption.value">
                           <option ng-repeat="sort in sortOptions" value="{{sort}}">{{sort}} </option>
                         </select>
                       </div>
                     </div>
                 </div>
            </uib-tab>
            <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
              <uib-tab-heading>
                {{tab.title}}
                <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
              </uib-tab-heading>
              <div ng-if="tab.app == 'ChatInfo'">
                <div ng-include="'/static/ngTemplates/app.reviews.explore.html'"></div>
              </div>
            </uib-tab>
          </uib-tabset>
      </div>
    </div>
  </div>
