<div class="col-md-12 animated fadeIn" style="padding-bottom:5px;">
  <div class="row">
    <div class="container-fluid card text-left" style="padding:10px;padding-right:0px;font-size:15px;" ng-init="data.showInfo = false">
      <div class="col-md-12" style="padding-bottom:10px">
        <h4><i class="fa fa-calendar"></i> &nbsp;{{data.frmDate | date : 'dd-MMM-yyyy'}} - {{data.toDate | date : 'dd-MMM-yyyy'}}</h4>
      </div>
      <div class="col-md-10" style="padding-left:0px">
        <div class="col-md-4">
          <strong>Account No : </strong>{{data.bankAct.accNumber}}
        </div>
        <div class="col-md-4" style="padding-left:0px">
          <strong>Bank Name : </strong>{{data.bankAct.bankName}}
        </div>
        <div class="col-md-3">
          <strong>Account Type : </strong>{{data.bankAct.typ}}
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle fa-2x" ng-click="rowActionClicked('bankGraph')" style="cursor:pointer"></i>
        </div>
      </div>
      <div class="col-md-2 text-right" style="padding-right:5px">
        <span class="btn btn-primary btn-sm" style="font-size:15px;margin-top:-5px;margin-bottom:-5px" ng-click="rowActionClicked('Info')"></i> See Transactions</span>
      </div>
      <div class="row" ng-if="data.showInfo">
        <div class="col-md-12">
          <hr>
          <div class="col-md-6">
            <span class="text-center"><strong>Spending Habbits</strong></span>
            <canvas id="pie" class="chart chart-pie" chart-data="data.graphData" chart-labels="data.graphLabels" >
            </canvas>
          </div>
          <div class="col-md-6">
            <strong>Opening Balance : </strong>{{data.openingBal}}<br>
            <strong>Closing Balance : </strong>{{data.closingBal}}<br>
            <strong>Total Debit Amount : </strong>{{data.totalDebAmount}}<br>
            <strong>Total Credit Amount : </strong>{{data.totalCdtAmount}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
