<div class=" bg-white" style="min-height:93vh;position:relative;">
  <breadcrumb></breadcrumb>


  <div class="container-fluid" style="padding-top:5px">
    <div class="container-fluid" style="padding-top:25px">
      <div class="col-sm-3">
        <div class="form-group">
          <label> Select Date </label>
          <div class="input-group">
            <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.date" is-open="status.opened" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="btn-group" style="padding-top:25px;">
          <button type="button" class="btn btn-primary" ng-click="filterData()">
            <strong>Filter</strong>
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row" style="padding-top:25px">
        <div class="col-md-12" style=";margin-bottom:20px; padding-left:10px;padding-right:10px;" ng-repeat="data in reviewData" ng-click="showData($index)">
          <div class="container-fluid card" style="padding-bottom:0px">
            <div class="row container-fluid" style="border-bottom: 1px solid #dedede; height:40px; opacity:0.9;letter-spacing:0.6px;{{ActiveRows[$index] ? 'background-color: #bfbfbf':''}}">
              <div class="col-md-12">
                <h5 style="font-weight:501;">Agent Name: {{data[0].user_id | getName}}
                   <span style="margin:0px 2%"> Start: {{data[0].start | getTime}} </span>
                   <span style="margin:0px 2%"> End: {{data[data.length-1].end | getTime}} </span>
                   <span style="margin:0px 2%"> Day Duration: {{data[0].day_duration/60 | toSet}} mins</span>
                  <span class="pull-right" style="">
                    <i style="" class="fa fa-{{ActiveRows[$index]?'chevron-up':'chevron-down' }} fa-lg"  aria-hidden="true"></i>
                  </span>
                </h5>
              </div>
            </div>
            <div ng-if="ActiveRows[$index]">
              <table style="width:100%;">
                 <tr>
                   <th style="padding:5px">Start</th>
                   <th>End</th>
                   <th>Duration</th>
                 </tr>
                 <tr ng-repeat="val in data" style="margin:10px">
                   <td style="padding:5px">{{val.start|getTime}}</td>
                   <td>{{val.end|getTime}}</td>
                   <td> {{val.duration/60 | toSet}} mins</td>
                 </tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
