<div class="col-md-4" style="padding-bottom:20px;padding-left:10px;padding-right:10px;cursor:pointer">
  <div class="container-fluid card" style="border: 2px solid #F08080;" ng-click="rowActionClicked('details')">
    <div class="row text-center" style="height:6vh;">
      <div class="col-md-12" style="position:relative;display:block;">
        <div class="row" style="padding-left:10px;">
          <h3>{{data.title}}</h3>
        </div>
      </div>
    </div>
    <div class="row container-fluid" style="padding-top:20px;height:12vh;">
      <div class="col-md-10" style="z-index: 1;">
        <div class="row">
          <div class="col-md-5">
              <span style="font-size:15px;"><strong> Customer </strong>:</span>
          </div>
          <div class="col-md-7">
          <span>  {{data.service.name}}</span>
          </div>
        </div>
       <div class="row" ng-if="data.junkStatus">
         <div class="col-md-5">
             <span style="font-size:15px;"><strong> Stage </strong>:</span>
         </div>
         <div class="col-md-7">
         <span ng-if="data.junkStatus"> Junk</span>
         </div>
       </div>
       <div class="row">
         <div class="col-md-5">
             <span style="font-size:15px;"><strong>Mobile </strong>:</span>
         </div>
         <div class="col-md-7">
         <span>{{data.service.mobile}}</span>
         </div>
       </div>
       <div class="row">
         <div class="col-md-5">
             <span><strong>Closing date </strong>: </span>
         </div>
         <div class="col-md-7">
         <span>{{data.date}}</span>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>
