{% verbatim %}


<div class="row text-center"style="margin:0px;">
  <span class="scroll-point point-2"></span>
  <span class="point-text" style="">Experiment</span>
</div>
<div class="container-fluid" style="margin:20px">

  <div class="row">

    <div class="col-md-5 text-center">

      <div class="row">
        <div class="stat-circleo " style="color:#080738;">
          <div class="text-center">
            <figure style="font-size: 70px;">$21M</figure>
            <span>Incremental Revenue Impact</span><br>
            <a href="#">Learn how HP did it</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="stat-circles" style="color:#ffff;">
          <div class="text-center" style="height:100%;width:100%;padding-top:85px;">
            <figure style="font-size:60px;">+300%</figure>
            <span> <b>Click-through uplift</b> </span><br>
            <a href="#" style="font-size:13px;font-weight: 500;color:#ffff;">Read the Missguided case study</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="stat-circlet" style="color:#080738;">
          <div class="text-center" style="height:100%; padding-top:30px;">
            <figure style="font-size: 70px;margin-top:30px;">-80%</figure>
            <span>Decrease in return rate</span><br>
            <a href="#">Read the Brooks case study</a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-2 text-center" id="stroke">
      <img src="https://images.ctfassets.net/zw48pl1isxmc/32U70oRSM8MWEWcEEyg6uS/2fd45782ccbbdd906e2f07d73ff8618e/curvy-2.svg" width:"100%"alt="">
    </div>

    <div class="col-md-5" style="padding:20px;">
      <div class="row text-center content">
        <h3>Let the data determine your baseline, your winning ideas and the losers</h3>
        <span>Know the future impact of new offers, copy, CTA’s, performance improvements and more.
          Armed with the accuracy of Stats Engine, never again guess at which offers will work and which won’t.
          Just try them all. Accelerate campaign throughput while massively improving marketing ROI.</span>
      </div>
      <div class="row">
        <a href="/products/program-management/" class="btn btn-primary btn-rounded">Learn More</a>
      </div>
    </div>
  </div>

</div>
<div class="row text-center" style="margin:0px;">
  <span class="scroll-point point-3"></span>
  <span class="point-text" style="">Repeat</span>
</div>


<div class="row" style="margin:20px;">
  <div class="col-md-8 col-md-offset-2 shaddowed noPadding" style="min-height:550px;border-radius:10px;">
    <div class="col-md-6 noPadding">
      <div class="blogimg">
        <div id="date">
          <span style="font-size:24px;font-weight:500;color:#fff;">27 November 2018</span><br><br>
          <span style="font-size:34px;font-weight:700;color:#fff">RPA Adoption: Top-down or Bottom-up?</span>
        </div>
      </div>
      <div style="padding:20px;">
        <p style="color:#002855;font-size: 15px;line-height: 1.7;">It has been a fascinating journey so far to watch
          the adoption of RPA technology among client organizations.
          We have observed several different paths to adoption while everyone
          is still wondering if there is one template for the best
          approach.</p>
        <button type="button" style="background-color:#ff6900;border:none;" class="btn btn-warning bigbtn" name=""><b>Read Article</b> </button>
      </div>
    </div>
    <div class="col-md-6" style="background-color:rgba(245,248,250,.5);margin-top:10px;">
      <div class="row" ng-repeat="i in articles" style="margin-bottom:20px;{{$odd ? 'background:#fff;':''}};">
        <div class="col-md-2 articleImg">
          <div class="text-center" style="">
            <span style="font-size:1.875em;color:#fff;"> <strong>21</strong></span><br>
            <span style="font-size:0.875em;color:#fff;">Nov</span>
          </div>
        </div>
        <div class="col-md-10">
          <div id="articleHead">
            <span style="font-size:1.2em;font-weight:700;color:#09075c"> RPA technology among client organizations cool text here. Great yeaa...</span><br>
            <span class="text-primary"><strong>Read More...</strong></span>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary">See More Articles</button>
    </div>
  </div>
</div>


  <div class="row" style="background-color:#fff;margin:0px;">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-4">
          <div style="  min-height: 380px;padding: 30px;border: 0px solid blue;margin: 20px;">
            <h3 style="font-size:36px;color:#002855;font-weight:600;"> <br> <span>Why you’ll love the EpsilonAI Enterprise RPA Platform</span></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class=" item">
            <div>
              <img src="/static/images/ecosystem.svg" width="70px" alt="Open Platform">
            </div>
            <h3 class="Title">Open Platform</h3>
            <p class="Desc"><span>Our open and extensible platform features hundreds of built-in, customizable, shareable activities, and deep integrations with ERP, BPM and AI technologies.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
            <div>
              <img src="/static/images/fast-roi.svg" alt="Rapid Results">
            </div>
            <h3 class="Title">Rapid Results</h3>
            <p class="Desc"><span>Tested and proven to deliver 40%+ faster automation design and deployment than competitors, EpsilonAI offers worldwide implementation support, certified training.</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="item">
            <div>
              <img src="/static/images/ai-enabled.svg" alt="Path to AI">
            </div>
            <h3 class="Title">Path to AI</h3>
            <p class="Desc"><span style="">Built-in intelligent OCR, integrated NLP services from Google, Watson and Microsoft, and deep learning to reduce maintenance.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
            <div>
              <img src="/static/images/flexibility.svg" alt="Scalability">
            </div>
            <h3 class="Title">Scalability</h3>
            <p class="Desc"><span>Deploy RPA at enterprise scale. Manage any variety and any number of processes from front to back-office regardless of complexity.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
            <div>
              <img src="/static/images/security.svg" width="70px" alt="Security">
            </div>
            <h3 class="Title">Security</h3>
            <p class="Desc"><span>Defense-grade security and auditing includes RBAC, encryption everywhere, and Veracode certified Code. Our technology is trusted as secure by 40+ agencies.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row" style="margin:0px;">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12">
        <ng-owl-carousel class="owl-theme" owl-items="friends" owl-properties="properties" owl-ready="ready($api)">
          <div ng-repeat="a in friends" style="padding:10px;">
            <div class="anim-in-out anim-zoom-out">
              <div style="padding:20px;">
                <img class="img" ng-src="{{a.dp}}" />
              </div>
            </div>
          </div>
        </ng-owl-carousel>
      </div>
    </div>
  </div>

<div class="row" style="margin:0px;padding:20px;background: url('/static/images/footer-bg-v1.png');color:white;">
  <div class="col-md-5 text-right">
    <h4>Get Regular Blog Updates</h4>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email ID">
      <span class="input-group-btn">
        <button type="button" class="btn btn-warning">Subscribe</button>
      </span>
    </div>
  </div>
</div>



<div class="row" style="margin:0px;background: url('/static/images/footer-bg.jpg');background-repeat: no-repeat;background-size: cover;">
  <div class="col-md-8 col-md-offset-2 text-center" style="color:#fff;padding:130px 0px;">
    <h1> <strong>Ready to take the lead?</strong></h1> <br>
    <h4>Choose open, extensible, secure automations</h4> <br>
    <button type="button" class="btn btn-lg text-center big-xl" style="margin-top:10px;">
      <strong>Get Started with Go!</strong>
    </button>
  </div>
</div>


{% endverbatim %}
