{% extends "tutorBase.html" %}{% load staticfiles %}

{% block tutorcontent %}


<div style="margin-top:50px;" style="width:100%;">

  <div style="wdth:100%;">
    <div style="height:50vh;position:relative;background-color:#595959">
      <img class="blog_image" ng-src="/media/{{blogobj.ogimage}}" alt="">
      <div style=" position:absolute;top:50%;color:black;left:50%;transform: translate(-50%,-50%);text-align:center">
        <p style="color:white">{{blogobj.created}}</p>
        <p class="blogDetailsTitle">{{blogobj.title}}</p>
      </div>
    </div>
  </div>

  <div class="container-fluid blogContent">
    <div class="row">
      <div class="col-md-8">
        <div>
          {{blogobj.source|safe}}
        </div>
        <div style="margin-top:2em;">
          {% include "forum.html" %}
        </div>
      </div>
      <div class="col-md-4 blogUpdates">
        <div class="bottomLine" style="padding:0 15px;">
          <div class="textHeading">
            <h4>Get Regular Blog Updates</h4>
          </div>
          <div >
            <input class="form-control" type="text" name="" value="" ng-model="emailAddress" placeholder="email address">
          </div>
          <div class="sendUpdates btn_gradient" ng-click=sendUpdates()>
            Send Updates!
          </div>
        </div>
        <div style="padding:0 15px;">
          <div class="textHeading">
            <h4>Most Recent Posts</h4>

            <div style="padding:0 30px;">
                {% for blog in recentBlogs %}
              <div style="border-bottom:1px solid #e0e0e0;">
                <a href="/{{blog.shortUrl}}" style="text-decoration:none;" >
                  <p style="font-size:13px; font-weight:bold; cursor:pointer;"><span> {{blog.title}} </span>  </p>
                </a>
              </div>
              {% endfor %}
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>




{% endblock %}

{% block tutorjs %}
<script type="text/javascript">
  {% include "app.tutor.common.js" %}
</script>
{% endblock %}
