{% extends "tutorBook.html" %}{% load staticfiles %}

{% block bookcontent %}

<div class="container-fluid" style="padding-top:40px;">
  <div class="col-md-12">
    <div class="col-md-10">
      <div class="row" style="margin-top:1em;">
        <div class="col-md-6 col-xs-12">
          <div style="display:inline-block;">
            <h1 class="heading_medium">{{book.title}}</h1>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:1em;">
        <div class="col-md-2 col-xs-12 rightborder">
          <table>
            <tr>
              <td><span style="color: #9E9E9E">Adden On {{book.created | date:'Y-M-d'}}</span></td>
            </tr>
          </table>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12 smdevice rightborder">
          <table>
            <tr>
              <td style="width:50%"> <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i></td>
              <td><span style="font-size:15px;"><b class="text-muted">({{book.subject.level | add:book.subject.level}} Reviews)</b></span></td>
            </tr>
          </table>
        </div>
        <!-- <div class="col-md-4 col-sm-12 col-xs-12 smdevice">
          <table class="alignintable">
            <tr>
              <td class="tablehead"><span> Share this course:</span></td>
              <td><i class="fa fa-facebook" aria-hidden="true"></i></td>
              <td><i class="fa fa-twitter" aria-hidden="true"></i></td>
              <td><i class="fa fa-linkedin" aria-hidden="true"></i></td>
              <td style="width:8%;"><i class="fa fa-youtube" aria-hidden="true"></i></td>
            </tr>
          </table>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Description</h3>
          <p>{{book.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 min_padd">
      <div class="text-center">
        {% if book.dp %}
        <img src="{{book.dp.url}}" class="tb_image">
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color:#FCC300;min-height:10vh;  position:relative;padding-bottom: 2em;">
  {% verbatim %}
  <div class="col-md-12">
    <div class="col-md-6 clickchange">
      <span style="font-size:25px;"><b>Solutions</b></span>
    </div>
    <div class="col-md-6 clickchange">
      <span style="font-size:25px;"><b> Forum</b></span>
    </div>
  </div>
  {% endverbatim %}
</div>
<div class="container-fluid">
  <div class="col-md-12">
    <div class="col-md-6" style="min-height:60vh;padding:0px;">
      <div class="row text-center" style="font-size:18px;display:inline-block;width:100%;">
        <ul class="list-unstyled chap_list">
          {% for s in sectionobj %}
          <li><a href="/{{s.shortUrl}}/"><span>{{s.title}}</span></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-6" style="min-height:60vh;padding:0px;">
      {% for ft in forumData %}
      <div class="row" style="border-top:1px solid #eaecf0;border-bottom:1px solid #eaecf0;padding-bottom: 2em;">
        <div class="col-md-1 col-xs-2">
          <div style="width:60px;padding-top: 1.5em;">
            {% if ft.user.profile.displayPicture.url %}
            <img src="{{ft.user.profile.displayPicture.url}}" style="width:45px;border-radius:50%;height:45px;" />
            {% else %}
            <img src="/static/images/24tut/hom/dp.jpg" style="width:45px;border-radius:50%;height:45px;" />
            {% endif %}
          </div>
        </div>

        <div class="col-md-10 col-xs-11 text-left">
          <div class="no_pad" style="display: flex;align-items: center;">

            <div class="contentrow" style="flex: 0 1 auto;width:90%;">
              <div class="toprow" style="">
                <span style="font-size:17px;cursor:pointer;color:#3C5899">{{ft.user.username}}</span>
              </div>
              <div class="bottomrow" style="font-size: 1em;">
                <span class="" style="font-size:15px;color: #3C4556;">{{ft.txt}}
                </span>
              </div>
              {% if ft.attachment %}
              <div class="bottomrow">
                <img src="{{ft.attachment.url}}" style="width:150px;height:150px;" />
              </div>
              {% endif %}
              <div class="bottomrow" style="font-size: 1em;">
                <span class="" style="font-size:15px;color: #3C5899;">{{ ft.forumthread.all|length }} comments
                </span>
              </div>
            </div>
          </div>
          {% if request.user.is_authenticated %}
          <div class="row">
            <div class="text-center" style="padding-top:2em;margin-left:0.5em;">
              <div class="col-md-1 col-xs-2">
                <div style="width:60px;padding-top: 1.5em;">
                  {% if request.user.profile.displayPicture %}
                  <img src="{{request.user.profile.displayPicture.url}}" style="width:45px;border-radius:50%;height:45px;" />
                  {% else %}
                  <img src="/static/images/24tut/hom/dp.jpg" style="width:45px;border-radius:50%;height:45px;" />
                  {% endif %}
                </div>
              </div>
              <div class="col-md-11 col-xs-10  text-left" style="padding-top: 1.5em;">
                <form action="/saveForumDetails/" method="post">{% csrf_token %}
                  <input name="typ" type="hidden" class="form-control" value="comment">
                  <input name="parent" type="hidden" class="form-control" value="{{ft.pk}}">
                  <textarea type="textarea" placeholder='Post a Answer Here..' style='width:75%;resize: none;margin-left: 0.5em;' name="txt"></textarea>
                  <div style="width:75%;padding:0;margin-top: -2px;height:4em;text-align: right;margin-left: 0.5em;">
                    <button class="btn btn-primary" style="margin:0.7em 0 0 0;padding:0.2em 1em;border-radius:0%"  type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {% endif %}
          {% for ftc in ft.forumthread.all %}
          <div class="col-md-1 col-xs-2" ng-show="ft.clicked==1" id="id">
            <div style="width:60px;padding-top: 1.5em;">
              {% if ftc.user.profile.displayPicture %}
              <img src="{{ftc.user.profile.displayPicture.url}}" style="width:45px;border-radius:50%;height:45px;" />
              {% else %}
              <img src="/static/images/24tut/hom/dp.jpg" style="width:45px;border-radius:50%;height:45px;" />
              {% endif %}
            </div>
          </div>
          <div class="col-md-11 col-xs-10 text-left" >
            <div class="row">
              <div class="no_pad" style="border-top: 1px solid #eaecf0;display: flex;align-items: center;margin-left: 1em;">
                <div class="contentrow" style="flex: 0 1 auto;max-width:75%;">
                  <!-- <div class="toprow" style="">
                    <span style="font-size:17px;cursor:pointer;color:#3C5899">{{ftc.user.username}}</span>
                  </div> -->
                  <div class="bottomrow" style="font-size: 1em;">
                    <span class="" style="font-size:15px;color: #3C4556;">{{ftc.txt}}
                    </span>
                  </div>
                  <div class="bottomrow" style="font-size: 1em;">
                    <span class="" style="font-size:15px;color:#9E9E9E;">Posted  {{ftc.created}} by <span style="color:#3C5899;">{{ftc.user.username}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
      {% endfor %}
      {% if request.user.is_authenticated %}
      <div class="row">
        <div class="text-center" style="padding-top:2em;margin-left:0.5em;">
          <div class="col-md-1 col-xs-2">
            <div style="width:60px;padding-top: 1.5em;">
              {% if request.user.profile.displayPicture %}
              <img src="{{request.user.profile.displayPicture.url}}" style="width:45px;border-radius:50%;height:45px;" />
              {% else %}
              <img src="/static/images/24tut/hom/dp.jpg" style="width:45px;border-radius:50%;height:45px;" />
              {% endif %}
            </div>
          </div>
          <div class="col-md-11 col-xs-10  text-left" style="padding-top: 1.5em;">
            <form action="/saveForumDetails/" method="post" enctype="multipart/form-data">{% csrf_token %}
              <input name="typ" type="hidden" class="form-control" value="forum">
              <input name="page" type="hidden" class="form-control" value="{{blogname}}">
              <textarea type="textarea" placeholder='Post a Question Here..' style='width:77%;resize: none;' name="txt"></textarea>
              <div style="width:77%;padding:0;margin-top: -2px;height:4em;text-align: right">
                <span style="cursor:pointer; "><i class="fa fa-paperclip" style="font-size:1.5em;margin:0.8em;"  onclick="document.getElementById('selectedFile').click();"></i></span>
                <input type="file" name="files" style="display: none;" id="selectedFile">
                <span><button class="btn btn-primary" style="margin:-0.5em 0 0 0;padding:0.2em 1em;border-radius:0%" type="submit">Post</button> </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>



{% endblock %}
