{% extends "tutorBook.html" %}

{% block bookcontent %}


<div class="container-fluid" style="padding-top:40px;">


  <div class="col-md-12">
    <div class="col-md-10">
      <div class="row" style="margin-top:1em;">
        <div class="col-md-6 col-xs-12">
          <div style="display:inline-block;">
            <h1 class="heading_medium">{{book.title}}</h1>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:1em;">
        <div class="col-md-2 col-xs-12 rightborder">
          <table>
            <tr>
              <td><span style="color: #9E9E9E">Adden On {{book.created | date:'Y-M-d'}}</span></td>
            </tr>
          </table>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12 smdevice rightborder">
          <table>
            <tr>
              <td style="width:50%"> <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i></td>
              <td><span style="font-size:15px;"><b class="text-muted">({{book.subject.level | add:book.subject.level}} Reviews)</b></span></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6 pull-right col-xs-12" style="margin-right:1em;">
            <a href="/media/{{bookUrl}}.pdf"  target="_blank" ><button class="btn btn-success" style="white-space: normal;padding:0.5em 0.5em">Download {{book.title}} Solutions In PDF</button></a>
        </div>
        <!-- <div class="col-md-4 col-sm-12 col-xs-12 smdevice">
          <table class="alignintable">
            <tr>
              <td class="tablehead"><span> Share this course:</span></td>
              <td><i class="fa fa-facebook" aria-hidden="true"></i></td>
              <td><i class="fa fa-twitter" aria-hidden="true"></i></td>
              <td><i class="fa fa-linkedin" aria-hidden="true"></i></td>
              <td style="width:8%;"><i class="fa fa-youtube" aria-hidden="true"></i></td>
            </tr>
          </table>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Description</h3>
          <p>{{book.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 min_padd">
      <div class="text-center">
        {% if book.dp %}
        <img src="{{book.dp.url}}" class="tb_image">
        <br><br>
        <!-- <a href="/media/{{bookUrl}}.pdf" class="btn btn-success" target="_blank">Download {{book.title}} Solutions In PDF</a> -->
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color:#FCC300;min-height:10vh;  position:relative;padding-bottom: 2em;">
  {% verbatim %}
  <div class="col-md-12">
    <div class="col-md-6 clickchange">
      <span style="font-size:25px;"><b>Solutions</b></span>
    </div>
    <div class="col-md-6 clickchange forumhead">
      <span style="font-size:25px;"><b> Forum</b></span>
    </div>
  </div>
  {% endverbatim %}
</div>
<div class="container-fluid">
  <div class="col-md-12">
    <div class="col-md-6" style="min-height:60vh;padding:0px;">
      <div class="row text-center" style="font-size:18px;display:inline-block;width:100%;">
        <ul class="list-unstyled chap_list">
          {% for s in sectionobj %}
          <li><a href="/{{s.shortUrl}}/"><span>{{s.title}}</span></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-xs-12" style="min-height:60vh;padding:0px;">
      <div class="head" style="background-color:#FCC300;min-height:10vh;  position:relative;padding-bottom: 2em;padding-top: 0.1em;width: 120%;
margin-left: -2.2em;">
        {% verbatim %}
        <div>
          <div class=" clickchange ">
            <span style="font-size:25px;"><b> Forum</b></span>
          </div>
        </div>
        {% endverbatim %}
      </div>
       {% include "forum.html" %}
    </div>
  </div>
</div>



{% endblock %}
