{% block content %}

  <!-- Services Section -->
  <div class="body">
    <div class="container" style="padding-left:0px;padding-right:0px;box-shadow: 0px 30px 50px 12px #d0d5dd;padding-top:100px">
      <div class="container-fluid">
        <section style="padding-top: 20px;padding-bottom: 30px;">
          <div class="row" style="padding:20px">
            <div class="col-md-8 text-left">
              <h2 style="font-size:25px;" class="text-primary">{{book.title}}</h2>
              <h4 style="font-size:20px;">By {{book.author}}</h4>
              <label>Volume  </label> {{book.volume}} <span style="margin-left: 10px;"> | </span> <span style="margin-left: 10px;"><label>Version  </label> {{book.version}}</span><br>
              <b>Description</b>
              <p style="padding-left:25px">{{book.description}}</p>
              <div class="row" style="padding-top:15px;padding-left:15px">
                {% for s in sectionobj %}
                <!-- <div class="row"> -->
                    <a href="/{{s.shortUrl}}"><h3 style="font-size:15px;">{{s.title}}</h3></a>
                <!-- </div> -->
                {% endfor %}
              </div>

              <!-- <label>Title : </label> {{book.title}} <br>
                  <label>Subject : </label> {{book.subject.title}} <br>
                  <label>Volume : </label> {{book.volume}} <br>
                  <label>Description : </label> {{book.description}} <br>
                  <label><i class="fa fa-user"></i> Author : </label> {{book.author}} <br>
                  <label><i class="fa fa-barcode "></i> ISSN : </label> {{book.ISSN}} <br>
                  <label>version : </label> {{book.version}} <br>
                  <label>license : </label> {{book.license}} <br>

                By {{user}} <span style="margin-left: 10px;"> | </span> <span style="margin-left: 10px;">{{blogobj.created}}</span> -->
            </div>
            <div class="col-md-4">
              <div class="row">
                <img style="width: 200px;" class="img pull-right" src="{{book.dp.url}}">
              </div>
              <br>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="btn btn-primary pull-right" style="background:rgb(31, 116, 215);" target="_blank">
                  <i class="fa fa-facebook"></i>  Share
                </a>
            </div>
          </div>
        </section>
      </div>



{% endblock %}
