{% extends "tutorBase.html" %}

{% block tutorcontent %}

{% verbatim %}

<div class="container-fluid no_padding" style="background-image: linear-gradient(rgba(36, 32, 32, 0.79), rgba(32, 32, 32, 0.74)), url('/static/images/24tut/customserv.jpg');background-size:100% 193%;background-repeat:no-repeat;">
  <div class="col-md-12" style="padding-top:12%;padding-left:8%;padding-bottom:2%;">
    <span style="color:#fff;font-size:4em;font-weight:bolder;">Contact</span><br>
    <span class="u_line"></span>
    <h5 style="color:#fff;">HOME / CONTACT US</h5>
  </div>
</div>
<div class="container-fluid no_padding" style="margin:0px;">
  <div class="col-md-12 no_padding" style="margin:0px;">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=cioc&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href=""></a>
      </div>
      <style>
        .mapouter {
          text-align: right;
          height: 500px;
          width: 100%;
        }

        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 500px;
          width: 100%;
        }
      </style>
    </div>
  </div>
</div>
<div class="container-fluid" style="position:relative;padding-bottom:20px;min-height:35vh;">
  <img src="/static/images/24tut/part.png" style="position:absolute;right:0;" width="20%">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="heading_medium"> Contact Info</h1>
    <span class="u_line"></span>
    <div class="col-md-6 min_padd">
      <span class="heading_small" style="line-height:1.8">We can be approched via multiple means. Email / chat support will be the best one but still in case you need our help please visit us at the following address </span>
      <div class="min_padd">
        <span> <b>MONDAY TO FRIDAY:</b> 09:00 AM to 20:00 PM</span><br>
        <span> <b>SATURDAY & SUNDAY:</b> 09:00 AM to 18:00 PM</span><br>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <ul class="contact">
        <h4 class="text-muted"> Contact US</h4>
        <li><i class="fa fa-map-marker text-muted" aria-hidden="true"></i> <span> <b> Address:</b> </span> <span class="text-muted">4th floor, Venkatadhri Heights, Kudlu Bangalore 560068, KA, India</span> </li>
        <li> <i class="fa fa-phone text-muted" aria-hidden="true"></i><span> <b> Phone:</b> </span> <span class="text-muted"> +91 - 7840850111</span> </li>
        <li><i class="fa fa-envelope text-muted" aria-hidden="true"></i> <span> <b> Email:</b> </span> <span class="text-muted"> gethelp@24tutors.com</span> </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" style="min-height:38vh;background-color:rgba(238, 238, 238, 0.46);position:relative;">
  <!-- <img src="/static/images/24tut/orange.png" style="position:absolute;right:15px;top:25px;" >
  <img src="/static/images/24tut/liblue.png" style="position:absolute;right:0;top:25%;" > -->
  <img src="/static/images/24tut/icorner.png" style="position:absolute;left:0%;top:25px;">
  <div class="col-md-8 text-center col-md-offset-2">
    <div class="min_padd">
      <h2 class="heading_medium">Get in Touch</h2>
      <h3 class="heading_small">WE ARE ALWAYS OPEN TO YOUR IDEAS</h3>
    </div>
    <div class="min_padd col-md-6 col-md-offset-3">
      <input type="text" class="form-control iform" placeholder="Name">
      <input type="text" class="form-control iform" placeholder="Email">
      <input type="text" class="form-control iform" placeholder="Subject">
      <textarea type="text" class="form-control iform" placeholder="Message" cols="" rows="5" style="resize: none;"></textarea>
      <button type="button" class="form-control  iform btn_gradient">Send Message <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    </div>
  </div>
</div>

{% endverbatim %}
{% endblock %}
