{% extends "tutorBase.html" %}

{% block tutorcontent %}



<div class="">
  <div class="row" style="margin:0px;">
    <style>
      .nohover:hover {
      transform: scale(1);
      transition: 0;
    }
  </style>

    {% if not subPart %}
    <div class="container-fluid" ng-class='banner' style="background-image: linear-gradient(rgba(36, 32, 32, 0.79), rgba(32, 32, 32, 0.74)), url('/static/images/24tut/studentimg.jpg');background-size:cover;background-repeat:no-repeat;height:40vh;">
    </div>
    {% endif %}


    <div class="container" style="padding-bottom:4em;">
      <div class="row" style="margin-top:4em;">
        <div class="col-md-6 col-xs-12">
          <div style="margin-right:2em;display:inline-block;">
            <span style="font-size:30px;color:#000;"><b>Class {{level}} std</b></span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:2em;">
        <div class="col-md-3 col-xs-12 rightborder">
          <table>
            <tr>
              <td style="width:35%;"><img src="/static/images/BooksStack.png" class="img-responsive img-circle" style="height:70px;width:70px;" /></td>
              <td><span style="font-size:20px;"><b>{{title}}</b></span><br /><span style="color: #9E9E9E">Adden On {{created|date:"Y-M-d"}}</span></td>
            </tr>
          </table>
        </div>
        <div class="col-md-2 col-xs-5 smdevice" style="border-right:1px solid #9E9E9E">
          <table>
            <tr>
              <td style="width:25%;"><i class="fa fa-book"></i></td>
              <td><span style="font-size:20px;"><b>{{booklen}} Books</b></span></td>
            </tr>
          </table>
        </div>
        <div class="col-md-3 col-xs-7 smdevice">
          <table>
            <tr>
              <td style="width:50%"> <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i>
                <i class="fa fa-star " style="color:#f4c810" aria-hidden="true"></i></td>
              <td><span style="font-size:15px;"><b class="text-muted">({{level | add:level}} Reviews)</b></span></td>
            </tr>
          </table>
        </div>
      </div>
      <!-- <div class="row" style="margin-top:2em;">
        <div class="col-md-6">
          <table class="alignintable">
            <tr>
              <td class="tablehead"><span> Share this course:</span></td>
              <td><i class="fa fa-facebook" aria-hidden="true"></i></td>
              <td><i class="fa fa-twitter" aria-hidden="true"></i></td>
              <td><i class="fa fa-linkedin" aria-hidden="true"></i></td>
              <td style="width:8%;"><i class="fa fa-youtube" aria-hidden="true"></i></td>
              <td><i class="fa fa-comments" aria-hidden="true"></i></td>
              <td style="width:20%;"><a href="#">View Forum</a></td>
            </tr>
          </table>
        </div>

      </div> -->
    </div>

    <div class="container-fluid" style="background-color:#FCC300;min-height:10vh;  position:relative;padding-bottom: 2em;">
      <div class="container">
        <div class="col-md-4 clickchange {% if subPart == 'books' %}  arrow  {% endif %}">
          <a href="/class-{{level}}-{{title}}/books/"><b>Books</b></a>
          {% if subPart == 'books' %}
          <div class="tips hidden-xs hidden-sm"></div>
          {% endif %}
        </div>
        <!-- <div class="col-md-2 clickchange">
          <a href="/class-{{level}}-{{title}}/videoCourse/"><b>Video Course</b></a>
          <div ng-class="class2"></div>
        </div>
        <div class="col-md-2 clickchange">
          <a href="/mock-test"><b>Test Series</b></a>
          <div ng-class="class3"></div>
        </div>
        <div class="col-md-2 clickchange">
          <a href="/class-{{level}}-{{title}}/forum/"><b>Forum</b></a>
          <div ng-class="class4"></div>
        </div> -->
        <div class="col-md-4 clickchange {% if subPart == 'referenceBook' %}  arrow  {% endif %}">
          <a href="/class-{{level}}-{{title}}/referenceBook/"><b>Refernce Books ({{refbooklen}})</b></a>
          {% if subPart == 'referenceBook' %}
          <div class="tips hidden-xs hidden-sm"></div>
          {% endif %}
        </div>
        <div class="col-md-4 clickchange {% if subPart == 'notes' %}  arrow  {% endif %}">
          <a href="/class-{{level}}-{{title}}/notes/"><b>Notes ({{noteslen}})</b></a>
          {% if subPart == 'notes' %}
          <div class="tips hidden-xs hidden-sm"></div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if not subPart %}
    <div class="container-fluid" style="margin-top:20px;">
      <div class="col-md-8 col-md-offset-2">
        {% for c in courseobj %}
        <div class="col-md-3" style="display:inline-block;padding-bottom: 20px;">
          <img src="{{c.dp}}" class="courseobj_img">
          <div class="container-fluid courseobj_container">
            <h5> <b>{{c.title}}</b> </h5>
            <span>{{c.description}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if subPart == 'books' %}
    <div class="container" style="padding-bottom:15px;">
      <div class="col-md-8 col-md-offset-2">
        {% for b in bookobjs %}
        <div class="headblock">
          <span class="titlesize"><b>{{b.title}}<span style="font-size:15px;margin-left:0.5em;"></span></b></span>
          <span class="titleicon"><i class="fa fa-angle-down" style="font-size:30px;"></i></span>
        </div>
        <div class="container-fluid" style="margin-top:15px;">
          <div class="col-md-8">
            <p>{{b.description}}</p>
          </div>
          <div class="col-md-4">
            <div class="container-fluid">
              <img src="/media/{{b.dp}}" width="120px" height="170px">
            </div>
          </div>
          <div class="container-fluid" style="margin-top:20px;">
            {% for bs in b.sections.all %}
            <div class="col-md-8">
              <li> <a href="/{{bs.shortUrl}}/">{{bs.title}}</a> </li>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if subPart == 'videoCourse' %}
    <div class="container-fluid no_padding">
      <div class="col-md-12 min_padd text-center" style="background:#eee;">
        <div class="col-md-3 video_card text-center">
          <a href="/courseVideo">
            Mathematics
          </a>
        </div>
        <div class="col-md-3 video_card text-center">
          <a href="/courseVideo">
            Physics
          </a>
        </div>
        <div class="col-md-3 video_card text-center">
          <a href="/courseVideo">
            Chemistry
          </a>
        </div>
        <div class="col-md-3 video_card text-center">
          <a href="/courseVideo">
            Biology
          </a>
        </div>
      </div>
    </div>
    {% endif %}

    {% if subPart == 'forum' %}
    {% verbatim %}
    <h1>forum</h1>
    <div class="container-fluid" ng-show="forum">
      <div ng-repeat="a in forumlist" style="margin-top:3em;">
        <div class="col-md-6 col-md-offset-3 col-xs-12 no_padding">
          <div>

            <div class="col-md-1 col-xs-2">
              <div style="width:60px;padding-top: 1.5em;">
                <img src="{{a.imgsrc}}" style="width:45px;border-radius:50%;height:45px;" />
              </div>
            </div>
            <div class="col-md-11 col-xs-10 no_padding" style="">
              <div class="no_pad" style="border-bottom: 1px solid #eaecf0;display: flex;align-items: center;">

                <div class="contentrow" style="flex: 0 1 auto;" ng-click="forumview($index)">
                  <div class="toprow" style="">
                    <i class="fa fa-thumb-tack"></i>
                    <span style="font-size:17px;color: #3C4556;cursor:pointer;">{{a.title}}</span>
                  </div>
                  <div class="bottomrow" style="font-size: 1em;">
                    <span class="" style="font-size:15px;color: #3C4556;">{{a.secondtext}}</span>
                    <span class="heartsym1 centeralignn" style=""><span class="">Replies:</span>{{a.users.length}}</span>
                  </div>
                </div>
                <div class=" heartsym centeralignn" style="flex: 1 0 0;color: #949fb4;">
                  <span style="text-align: right;">Replies:{{a.users.length}}</span>
                </div>
              </div>
              <div class="childforum" style='border-bottom: 1px solid #eaecf0;' ng-show="forumlist[$index].status==true">
                <div ng-repeat="b in a.users">
                  <div class="col-md-1 no_padding">
                    <div style="width:60px;text-align: left;padding-top: 1.5em;">
                      <img src="{{b.userimg}}" style="width:45px;border-radius:50%;height:45px;" />
                    </div>
                  </div>
                  <div style="padding: 1.5em  0;{{$last?'':'border-bottom: 1px solid #eaecf0'}};display: flex;align-items: center;" class="effecton">

                    <div style="flex: 0 1 auto;width: 85%;font-size: 1em;">
                      <span>{{b.name}}</span>
                      <div style="padding-top: 1em;">
                        <span style="font-size:16px;">{{b.comment}}</span>
                      </div>
                      <div style="margin-top:1em;" ng-click="replyto($parent.$index,$index)">
                        <button class="btn btn-primary visible" type="button" ng-class="a.users[$index].status==true?'nodisplay':''"> Reply</button>
                      </div>
                      <div style="padding-top:1em;" ng-show="a.users[$index].status==true">
                        <textarea class="autoExpand comment_areaa" type="textarea" ng-model="comment" placeholder='Add  a comment Here..' style="min-width:100%;"></textarea>
                        <div class="pull-right" style="padding-top:10px;">
                          <button type="button" class="btn btn-default" ng-click="cancel($parent.$index,$index)">Cancel</button>
                          <button type="button" class="btn btn-primary">Reply</button>
                        </div>
                      </div>
                    </div>
                    <div style="flex: 1 0 0;text-align: right;">
                      <i class="fa fa-heart heartsym" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% endverbatim %}
    {% endif %}


    {% if subPart == 'referenceBook' %}
    <div class="container no_padding">
      <div class="row min_padd text-center" style="">
        {% for r in refbookobjs %}
        <div class="col-md-6 col-xs-12" style="position: relative;text-decoration:none;">
          <div class="movie-card" style="border-bottom-left-radius:0px;border-bottom-right-radius:0px;">
            <div class="colorcircle" style="background-color:{{color}}"></div>
            <div class="col-md-5 studentcard col-xs-5" style="min-height:300px;">
              <img src="/media/{{r.book.dp}}" class="imgstyle" style="border-bottom-left-radius:0px;border-bottom-right-radius:0px;">
            </div>
            <div class="col-md-7 text-left col-xs-7">
              <div style="margin-top:1em;">
                <span style="font-size:18px;color:#5B5B5B;"> <strong>{{r.book.title}}</strong> </span><br>
                <span style="color:#5B5B5B;"> <b>Volume - </b> {{r.book.volume}}</span><br>
              </div>
              <div class="container-fluid" style="height:63px;overflow-y:hidden;">
                <h6>{{r.book.description}}</h6>
              </div>
              <div class="" style="padding-top:20px;">
                <span style="font-size:18px;color:#5B5B5B;"><b>By - {{r.book.author}}</b></span><br>
                <h5> <b>Subject - </b> {{r.book.subject.title}}</h5>
                <h5> <b>Version - </b> {{r.book.version}}</h5>
                <h5> <b>License - </b> {{r.book.license}}</h5>
              </div>
              <div class="" style="padding-top:10px;">
                <span style="color:#5B5B5B;"> <b>ISSN - </b> {{r.book.ISSN}}</span>
              </div>
            </div>
            <div class="col-md-12 col-xs-12" style="background:#f9f9f9;">
              <div class="container-fluid text-left">
                {% for bs in r.book.sections.all %}
                <ul class="list-unstyled">
                  <li> <a href="/{{bs.shortUrl}}/">{{bs.title}}</a></li>
                </ul>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if subPart == 'notes' %}
    <div class="container-fluid" style="margin-top:15px;">
      <div class="col-md-10 col-md-offset-1">
        {% for n in noteobj %}
        <div class="col-md-3">
          <div class="cardstype container-fluid text-center">
            <div style="height:117px;overflow-y:hidden;margin-bottom:20px;">
              <h4 style="font-size:17px;"> <b>{{n.title}}</b> </h4>
              <h6 style="font-size:17px;">{{n.description}}</h6>
            </div>
            <a href="/{{n.urlSuffix}}/" class="btn-style1" style="border-top-left-radius: 15px;padding: 0.5em 1em;margin-top: 0em;text-decoration:none;">View</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% verbatim %}

    <div class="container-fluid" style="min-height:60vh;background-color:#F9F9F9;">
      <div class="col-md-12 min_padd text-center">
        <h1 class="heading_big">24tutors's Testimonials</h1>
        <h5 class="heading_small">WHAT STUDENTS THINK OF US</h5>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4">
          <div class="container-fluid tell_card">
            <img src="/static/images/24tut/tell1.jpeg" class="tell_abt">
            <img src="/static/images/24tut/clip.png" class="tell_abt_overlay">
            <div class="text-center tell_c_info">
              <h2 class="pro_head">Lauren Ralph</h2>
              <h5 class="text-muted">eLearny Student</h5>
              <div class="" style="padding:10px 30px;line-height:2;">
                <span class="heading_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod sed do eiusmod.</span>
                <img src="/static/images/24tut/qleft.png" class="quotes_img">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid tell_card">
            <img src="/static/images/24tut/tell2.jpeg" class="tell_abt">
            <img src="/static/images/24tut/clip.png" class="tell_abt_overlay">
            <div class="text-center  tell_c_info">
              <h2 class="pro_head">Stan Lee</h2>
              <h5 class="text-muted">Music Student</h5>
              <div class="" style="padding:10px 30px;line-height:2;">
                <span class="heading_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod sed do eiusmod.</span>
                <img src="/static/images/24tut/qleft.png" class="quotes_img">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid tell_card">
            <img src="/static/images/24tut/tell5.png" class="tell_abt">
            <img src="/static/images/24tut/clip.png" class="tell_abt_overlay">
            <div class="text-center tell_c_info">
              <h2 class="pro_head">Joseph Irvin</h2>
              <h5 class="text-muted">Programmer</h5>
              <div class="" style="padding:10px 30px;line-height:2;">
                <span class="heading_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod sed do eiusmod.</span>
                <img src="/static/images/24tut/qleft.png" class="quotes_img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endverbatim %}
  {% endblock %}
