{% extends "tutorexam.html" %}

{% block examcontent %}

<script type="text/javascript">
  var QUESID = '{{id}}';
  var USERID = '{{user}}';
</script>

{% verbatim %}
<div class="container-fluid" ng-controller="examresults">

  <h2 class="text-center"  ><b>Exam Summary</b></h2>
  <div class="row" style="padding-top: 2em;">
    <div class="col-md-offset-1 col-md-3" style="margin-top:2em;">
      <span style="font-size:18px;"><b>Total No of Questions:</b></span><span style="font-size:18px;"><b>&nbsp;{{totalques}}</b></span>
    </div>
    <div class=" col-md-2">
      <table>
        <tr>
          <td>
            <div class="answered"><span class="numberalign1"><b>{{arr.includes(attemptresult)?'0'+attemptresult:attemptresult}}</b></span></div>
          </td>
          <td style="padding: 2em 0 0 1em;"><span class="aligntotext" style="font-size:18px;"> Attempted</span> </td>
        </tr>
      </table>
    </div>
    <div class=" col-md-2">
      <table>
        <tr>
          <td>
            <div class="notanswered"><span class="numberalign1"><b>{{arr.includes(notattemptresult)?'0'+notattemptresult:notattemptresult}}</b></span></div>
          </td>
          <td style="padding: 2em 0 0 1em;"><span class="aligntotext" style="font-size:18px;">Not Attempted</span> </td>
        </tr>
      </table>
    </div>
    <div class=" col-md-2">
      <table>
        <tr>
          <td>
            <div class="reviewed"><span class="numberalign1"><b>{{arr.includes(reviewresult)?'0'+reviewresult:reviewresult}}</b></span></div>
          </td>
          <td style="padding: 1.2em 0 0 0em;"><span class="aligntotext" style="font-size:18px;">Reviewed</span> </td>
        </tr>
      </table>
    </div>
    <div class=" col-md-2">
      <table>
        <tr>
          <td>
            <div class="notview"><span class="numberalign1"><b>{{arr.includes(notviewresult)?'0'+notviewresult:notviewresult}}</b></span></div>
          </td>
          <td style="padding: 1.2em 0 0 0em;"><span class="aligntotext" style="font-size:18px;"> Not Visited</span> </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div style="margin-top:4em;text-align:center;">
        <div ng-repeat="a in subtitle" style="display:inline-block;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);border-radius: 10px;" class="adjustwidth">
          <div style="padding: 0.3em 0em;background-color:#25B5E9;border-top-left-radius: 10px;border-top-right-radius: 10px;color:#fff; text-align:left;">
            <div class="row">
              <div class="col-md-9">
                <span style="font-size:20px;padding:0.4em;text-align:left;" class="leftalign"><b>{{a.title}}</b></span>
              </div>
              <div class="col-md-3">
                <span style="font-size:20px;padding:0.4em;text-align:right;margin-right: 1em;"><b>{{a.correct?a.correct:'0'}}/{{subcount[$index].count}}</b></span>
              </div>
            </div>
          </div>
          <div style="padding: 1em;">
            <table style="width:100%">
              <tr style="font-size:17px;">
                <td style="text-align: left;">Total No Questions</td>
                <td>{{subcount[$index].count}}</td>
              </tr>
              <tr style="font-size:17px;margin-top:1em;">
                <td style="text-align: left;">Correct Answers</td>
                <td>{{a.correct?a.correct:'0'}}</td>
              </tr>
              <tr style="font-size:17px;margin-top:1em;">
                <td style="text-align: left;">Incorrect Answers</td>
                <td>{{subcount[$index].count-a.correct}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top:4em;text-align:center;">
      <div class="container text-center" style="height:500px;">
        <div ng-repeat="a in subtitle" style="display:inline-block;" class="adjustwidth">
          <span style="font-size:20px;padding:0.4em;" class="leftalign"><b>{{a.title}}</b></span>
          <canvas id="pie" class="chart chart-pie" chart-data="[a.correct?a.correct:'0',a.incorrect?a.incorrect:'0']" chart-labels="labels1" chart-colours="colors" style="margin-top:1em;">
          </canvas>
        </div>
      </div>
    </div>
  </div>


{% endverbatim %}
{% endblock %}
