<footer>
  <div class="container-fluid no_padding" style="min-height:40vh;position:relative;">
    <img src="/static/images/24tut/7.png" class="bg on_left" width="10%">
    <img src="/static/images/24tut/r_side.png" class="bg on_right" width="10%">

    <div class="col-md-6 col-md-offset-3 text-center foo_heading">
      <h1 class="heading_big">Start a Journey. Enroll Now</h1>
      <h5 class="heading_small">Learn SOMETHING WHEREEVER YOU ARE</h5>
      <div class="foot_btn">
        {% if not request.user.is_authenticated %}
        <button type="button" class="btn_gradient " ng-click="signin()">Join a Course Now</button>
        {% endif %}
        {% if request.user.is_authenticated %}
        <button type="button" class="btn_gradient " ng-click="signin(true)">Start A Session Now</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container-fluid no_padding" style="min-height:13vh;">
    <div class="col-md-12 no_padding">
      <div class="col-md-6 text-center foo_bar">
        <span style="color: #fff;font-size: 1.4em;font-weight:bold;">Go to the Forum to meet students like you and Best teachers</span><br>
      </div>
      <div class="col-md-6 text-center foo_bar">
        <div class="container-fluid no_padding social_div">
          <span style="color: #fff;font-size: 1.4em;font-weight:bold;padding-right:20px;">Follow us on</span>
          <br class="hidden-lg hidden-md">
          <a href="https://www.facebook.com/24tutorsIndia/" aria-hidden="true" class="social_links fa fa-facebook " style="background:#0b208e;border:solid 2px #0b208e;"></a>
          <a href="https://www.youtube.com/channel/UCv2rH3ci5gS06FSt6mTzLOA" aria-hidden="true" class="social_links fa fa-youtube" style="background:#ff0000;solid 2px #ff0000;"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid no_padding" style="min-height:35vh;background-image:url('/static/images/24tut/blue_waves.jpg');padding-top:15px;background-size:cover;background-repeat:no-repeat;padding-bottom:20px;">
    <div class="col-md-10 col-md-offset-1">
      <div class="nc_links col-md-3">
        <ul class="list-unstyled">
          <h4 class="text-muted"><b>NCERT Solutions</b></h4>
          <li><a href="/ncert-solutions-class-12-maths/">NCERT Class 12 Maths Solutions</a></li>
          <li><a href="/cbse-class-11-maths-ncert-solutions/">NCERT Class 11 Maths Solutions</a></li>
        </ul>
      </div>
      <div class="nc_links col-md-3">
        <ul class="list-unstyled">
          <li><a href="/ncert-solutions-class-10-maths/">NCERT Class 10 Maths Solutions</a></li>
        </ul>
      </div>
      <div class="nc_links col-md-3">
        <ul class="list-unstyled">
          <h4 class="text-muted"><b>Text Book Solutions</b></h4>
          <li><a href="/hc-verma-solutions/">HC Verma Volume 1 Solutions</a></li>
          <li><a href="/hc-verma-part-2-solutions/">HC Verma Volume 2 Solutions</a></li>
        </ul>
      </div>
    </div>
  </div>



  <div style="">
    <div class="col-md-12" style="margin-bottom:20px;border-bottom:1px solid #ddd;padding-bottom:30px;padding-left:12%;">
      <div class="col-md-4 col-sm-6 footer">
        <ul class="folist">
          <h4 class="text-muted">Links</h4>

          <!-- <li><a href="">Tutors</a></li> -->
          <!-- <li><a href="">Quiz & Tests </a></li> -->
          <li><a href="/testimonials">Our Testimonials </a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 footer">
        <ul class="folist">
          <h4 class="text-muted">Company</h4>
          <li><a href="/about">About US</a></li>
          <!-- <li><a href="">Talk To Us</a></li> -->
          <li><a href="/contact">Contact Us </a></li>
          <!-- <li><a href="">Help</a></li> -->
          <li><a href="/career">Careers</a></li>

        </ul>
      </div>
      <div class="col-md-4 col-sm-6 footer">
        <ul class="contact">
          <h4 class="text-muted"> Contact US</h4>
          <li><i class="fa fa-map-marker text-muted" aria-hidden="true"></i> <span> <b> Address:</b> </span> <span class="text-muted"> Bangalore,KA,India</span> </li>
          <li> <i class="fa fa-phone text-muted" aria-hidden="true"></i><span> <b> Phone:</b> </span> <span class="text-muted"> +9182373488</span> </li>
          <li><i class="fa fa-envelope text-muted" aria-hidden="true"></i> <span> <b> Email:</b> </span> <span class="text-muted"> info@24tutors.in</span> </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid min_padd">
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-1">
          <span class="text-muted">Copyright 2018.All Righst Reserved</span>
        </div>
        <div class="col-md-6 col-md-offset-1 copy_rights">
          <span class="text-muted" style="padding-right:20px;border-right:1px solid #aaa;"> <a href="/desclaimer"> Disclaimer and IP</a> </span>
          <span class="text-muted" style="padding-right:20px;padding-left:20px;"> <a href="/policy">Privacy Policy</a> </span>
          <span class="text-muted" style="border-right:1px solid #aaa;border-left:1px solid #aaa;padding-right:20px;padding-left:20px;"> <a href="/terms">Terms and Conditions</a> </span>
          <span class="text-muted" style="padding-left:20px;"> <a href="/refund">Refund Policy</a> </span>
        </div>
      </div>
    </div>
</footer>
