<nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: rgba(8, 19, 31, 0.5) 0px 3px 10px 0px;background-color:white;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <a class="navbar-brand" href="/" style="color:rgb(0, 133, 202);padding:0px;font-size:40px;padding-top:15px;">CIOC</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="col-md-4" >
        <div class="menuDropDown" class="dropdown">
          <button class="btn dropdown-toggle sr-only" type="button" id="" data-toggle="dropdown">
            <span class="caret"style="color:black">dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="">
            <li>drop 1</li>
          </ul>
        </div>
      </div>
      <ul class="nav navbar-nav header_nav">
        <li class="header_element">
          <a href="/" ng-mouseleave="show[0]=false" ng-mouseover="show[0]=true"> Contact</a>
          <ul ng-mouseleave="keepshow[0]=false" ng-mouseover="keepshow[0]=true" ng-show="show[0]||keepshow[0]" class="container_box">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="header_element">
          <a href="/" ng-mouseleave="show[1]=false" ng-mouseover="show[1]=true"> Contact</a>
          <ul ng-mouseleave="keepshow[1]=false" ng-mouseover="keepshow[1]=true" ng-show="show[1]||keepshow[1]" class="container_box">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="header_element">
          <a href="/" ng-mouseleave="show[2]=false" ng-mouseover="show[2]=true"> Contact</a>
          <ul ng-mouseleave="keepshow[2]=false" ng-mouseover="keepshow[2]=true" ng-show="show[2]||keepshow[2]" class="container_box">
          <li><a href="#">Page 1-1 Page 1-1</a></li>
          <li><a href="#">Page 1-2 Page 1-1</a></li>
          <li><a href="#">Page 1-3 Page 1-1</a></li>
          </ul>
        </li>
        <li class="header_element">
          <a href="/" ng-mouseleave="show[3]=false" ng-mouseover="show[3]=true"> Contact</a>
            <ul ng-mouseleave="keepshow[3]=false" ng-mouseover="keepshow[3]=true" ng-show="show[3]||keepshow[3]" class="container_box">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li>
          <button type="button" class="btn btn-warning" style="background-color:#ff6900;margin-top:10px;">
            Request Demo
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
