{% extends "tutorBook.html" %}{% load staticfiles %}


{% block bookcontent %}

<div class="container-fluid" style="padding-top:40px;margin-bottom:20px;">
  <div class="col-md-8 col-md-offset-2">
    <div class="container-fluid" style="padding-top:20px;">
      <div class="row">
        <div class="col-md-1">
          <img src="/static/images/24tut/note.svg" width="100%" class="hidden-xs hiden-sm">
        </div>
        <div class="col-md-11" style="margin-bottom:20px;">
          <h1 class="text-muted"><strong>{{noteObj.title}}</strong> </h1>
          <p>{{noteObj.description}}</p>
        </div>
      </div>
      {% if noteSection.count > 0 %}
      {% for sec in noteSection %}
      <hr>
      {% if sec.image %}
      <div class="text-center">
        <img src="{{sec.image.url}}" class="noteImage">
      </div>
      {% else %}
      {{sec.txt}}
      {% endif %}
      {% endfor %}

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block tutorjs %}
<script src="{% static 'js/app.tutor.home.main.js' %}"></script>
{% endblock %}
