{% extends "tutorBase.html" %}{% load staticfiles %}

{% block tutorcontent %}

<div class="container-fluid no_padding about_head" style="background-image: linear-gradient(rgba(36, 32, 32, 0.79), rgba(32, 32, 32, 0.74)), url('/static/images/24tut/unnamed.jpg');background-size:cover;">
  <div class="col-md-12" style="padding-top:14%;padding-left:8%;">
    <h1 style="color:#fff;font-size:4em;font-weight:bolder;">NCERT Solutions</h1>
    <span class="u_line"></span>
    <h5 style="color:#fff;">Home / NCERT Solutions</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2 min_padd text-center">
    <span style="font-size:1.2em;line-height:1.5;"="heading_small">
      Here you can download the latest version of solutions for all questions from NCERT or CBSE text book as per CBSE marking scheme pattern. 24Tutors is one stop solution. NCERT Solutions for class 10 ,
      11 & 12 can be access through the links below.</span>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-12 col_hd_12">
    <div class="row">
      <div class="col-md-4">
        <div class="container-fluid ncrt_cards">
          <div class="c_div"style="background-image: linear-gradient(to right,rgba(255,255, 255, 0), rgba(0, 6, 48, 0.61),rgb(0, 0, 38)),url('/static/images/24tut/gradua.png');">
            <span class="c_text">Class </span> <span class="c_num">12</span>
          </div>
          <div class="sub_list">
            <ul class="list-unstyled">
              <li> <img src="/static/images/24tut/number-pi.png" width="10%"> <a href="/ncert-solutions-class-12-maths/">NCERT Solution for class 12 Maths</a> </li>
              <li> <img src="/static/images/24tut/atomic.png" width="10%"> <a href="/ncert-solutions-class-12-physics/">NCERT Solution for class 12 Physics</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container-fluid ncrt_cards">
          <div class="c_div"style="background-image: linear-gradient(to right,rgba(255,255, 255, 0), rgba(0, 6, 48, 0.61),rgb(0, 0, 38)),url('/static/images/24tut/grad31.png');">
            <span class=" c_text">Class </span> <span class="c_num">11</span>
          </div>
          <div class="sub_list">
            <ul class="list-unstyled">
              <li> <img src="/static/images/24tut/number-pi.png" width="10%"> <a href="/cbse-class-11-maths-ncert-solutions/">NCERT Solution for class 11 Maths</a> </li>
              <li> <img src="/static/images/24tut/atomic.png" width="10%"> <a href="/ncert-solutions-class-11-physics/">NCERT Solution for class 11 Physics</a> </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="container-fluid ncrt_cards">
          <div class="c_div"style="background-image: linear-gradient(to right,rgba(255,255, 255, 0), rgba(0, 6, 48, 0.61),rgb(0, 0, 38)),url('/static/images/24tut/grad11.png');">
            <span class="c_text">Class </span><span class="c_num">10</span>
          </div>
          <div class="sub_list">
            <ul class="list-unstyled">
              <li> <img src="/static/images/24tut/number-pi.png" width="10%"> <a href="/ncert-solutions-class-10-maths/">NCERT Solution for class 10 Maths</a> </li>
              <li> <img src="/static/images/24tut/knowledge.png" width="10%"> <a href="/ncert-solutions-class-10-science/">NCERT Solution for class 10 Science</a> </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block tutorjs %}
<script type="text/javascript">
  { % include "app.tutor.common.js" %
  }
</script>
{% endblock %}
