{% extends "tutorBase.html" %}{% load staticfiles %}

{% block tutorcontent %}



<div class="row" style="padding-top: 6em;min-height:60vh;margin:0px;">
  <div class="col-md-6 text-center fof">
    <h1 style="padding-top: 2em;"><b>PAGE NOT FOUND !</b></h1>
    <div class="message-box">
      <h4>Sorry! That page dosen't seem to exist</h4>
      <div class="text-center">
        <div>
          <a href="/"><button class="btn_gradient " style="display:inline-block;">Go Home</button></a>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6 text-center" style="margin-top:3em;">
     <img src="/static/images/24tut/404.png" style="width:60%;"/>

  </div>

</div>


{% endblock %}

{% block tutorjs %}
<script type="text/javascript">
  {% include "app.tutor.common.js" %}
</script>
{% endblock %}
