{% extends "tutorBase.html" %}

{% block tutorcontent %}

{% verbatim %}

<div class="row" style="margin:0px;" ng-controller="testimonials">

  <div class="container-fluid no_padding about_head" style="background-image: linear-gradient(rgba(36, 32, 32, 0.79), rgba(32, 32, 32, 0.74)), url('/static/images/ress.JPG');margin:0">
    <div class="col-md-12" style="padding-top:20%;padding-left:15%;">
      <span style="color:#fff;font-size:4em;font-weight:bolder;">Students</span><br>
      <span class="u_line"></span>
      <h5 style="color:#fff;">Home / About / Students</h5>
    </div>
  </div>

  <div class="container-fluid" style="background-image:url('static/images/24tut/part.png');background-size:contain;background-position:right;background-repeat:no-repeat;margin-bottom:3em;">
    <div class="container">
      <div class="col-md-6" style="margin-top:4em;">
        <h2 class="heading_medium">The Best Self Paced Courses you can get in India</h2>
        <span class="u_line"></span>
        <div class="min_padd">
          <span class="heading_small">As we all know IIT JEE Preparation is not a sprint but a marathon which neeeds consitancy in preperation and testing. The conventional method of going for coaching class or online class might work for some of us but at the end of the you yourself have to take the lead in your studies.
          </span>
        </div>
        <button class="btn-style1" type="button" ng-click="signin()"><b>Enjoy New Era in Learning</b></button>
      </div>
      <div class="col-md-4 col-md-offset-1 text-left" style="margin-top:5em;">
        <span class="heading_small">We at 24tutors try to motivate students to opt for self paced learning strategy where they go through videos and books at a speed which they can handle afterall its your journey. So we break the studies into two sections, the learning and practice. We try our best to give you the best ever content and strategy but still if you feel that you need someone to look at the problem and guide you in a topic you can always connect us for an instant session. We get requests from all around the world every other minute and have taken care of sourcing the best teachers ever.
        </span>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="min-height:38vh;background-color:rgba(238, 238, 238, 0.46);margin:20px auto;position:relative;">
    <img src="/static/images/24tut/bg_left.png" class="bg on_left" width="10%">
    <img src="/static/images/24tut/bg_right.png" class="bg on_right" width="10%">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-3 text-center card_div">
        <div class="card_container">
          <div class="min_padd">
            <img src="/static/images/24tut/mon.png" width="20%">
          </div>
          <span class="card_title"> 1600+ Topics </span><br>
          <span class="card_breif">LEARN ANYTHING</span>
        </div>
      </div>
      <div class="col-md-3 text-center card_div">
        <div class="card_container">
          <div class="min_padd">
            <img src="/static/images/24tut/graduate.png" width="20%">
          </div>
          <span class="card_title">1900+ Students</span><br>
          <span class="card_breif">FUTURE GENIUS</span>
        </div>
      </div>
      <div class="col-md-3 text-center card_div">
        <div class="card_container">
          <div class="min_padd">
            <img src="/static/images/24tut/note.png" width="20%">
          </div>
          <span class="card_title">15900 Tests Taken</span><br>
          <span class="card_breif">THATS A LOT</span>
        </div>
      </div>
      <div class="col-md-3 text-center card_div">
        <div class="card_container">
          <div class="min_padd">
            <img src="/static/images/24tut/apple.png" width="20%">
          </div>
          <span class="card_title">250+ Instructors</span><br>
          <span class="card_breif">ALL TRAINED PROFESSIONALS</span>
        </div>
      </div>
    </div>
  </div>




    <div class="container text-center" style="margin-bottom:4em;">
      <h1 style="padding-top: 2em;color:#ooo;"><b>What students say about us</b></h1>
      <span style="font-size:20px;color:#5B5B5B;">Their Lives are Better Now</span>
      <div class="row" style="margin-top:2em;">
        <div class="col-md-6" style="position: relative;">
          <div class="movie-card">
            <div class="col-md-5 studentcard" style="min-height:300px;">
              <img src="/static/images/24tut/ravi_kumar.jpg"  class="imgstyle" />
            </div>
            <div class="circle">
              <div><b>99%</b></div>
            </div>
            <div class="colorcircle">
            </div>
            <div class="col-md-7 text-left">
              <div style="margin-top:3em;">
                <span style="font-size:18px;color:#5B5B5B;">Successfully attempted 34 mock tests</span>
              </div>
              <div class="stucardtext">
                <span style="font-size:18px;"><b>Ravi Kumar</b></span>
              </div>
              <div style="padding-bottom: 20px;">
                <span style="font-size:15px;color:#5B5B5B;padding-bottom: 20px;">B.Tech Student - NIT Trichy</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="position: relative;">
          <div class="movie-card">
            <div class="col-md-5 studentcard" style="min-height:300px;">
              <img src="/static/images/24tut/shivani_gupta.png"  class="imgstyle" />
            </div>
            <div class="circle">
              <div><b>87%</b></div>
            </div>
            <div class="colorcircle" ng-style="myObjcolor">
            </div>
            <div class="col-md-7 text-left">
              <div style="margin-top:3em;">
                <span style="font-size:18px;color:#5B5B5B;">Viewed 1,300 Videos and attempted 8 Mock tests</span>
              </div>
              <div class="stucardtext">
                <span style="font-size:18px;"><b> Shivani Gupta </b></span>
              </div>
              <div style="padding-bottom: 20px;">
                <span style="font-size:15px;color:#5B5B5B;padding-bottom: 20px;">B.Tech Student - IIT Delhi</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:2em;">
        <div class="col-md-6" style="position: relative;">
          <div class="movie-card">
            <div class="col-md-7  carddesign">
              <div style="margin-top:3em;" class="mobilepadd">
                <span style="font-size:18px;color:#5B5B5B;">Working as Software Engineer, Google</span>
              </div>
              <div class="stucardtext1">
                <span style="font-size:18px;"><b> Pawan Singh Rathod </b></span>
              </div>
              <div style="padding-bottom: 4em;">
                <span style="font-size:15px;color:#5B5B5B;margin-bottom: 20px;">B.Tech - CS - IIT Madras</span>
              </div>
            </div>
            <div class="circleright">
              <div><b>93%</b></div>
            </div>
            <div class="colorcircle1" ng-style="myObjcolor">
            </div>
            <div class="col-md-5 studentcard1" style="min-height:300px;">
              <img src="/static/images/pawan_rathod.jpg" class="imgstyle" style="margin-bottom: 20px;" />
            </div>
          </div>
        </div>
        <div class="col-md-6" style="position: relative;">
          <div class="movie-card">
            <div class="col-md-7  carddesign">
              <div style="margin-top:3em;" class="mobilepadd">
                <span style="font-size:18px;color:#5B5B5B;"> Joined University of Michigan for PhD in Mechanical Engineering</span>
              </div>
              <div class="stucardtext1">
                <span style="font-size:18px;"><b>Shubham Verma</b></span>
              </div>
              <div style="padding-bottom: 4em;">
                <span style="font-size:15px;color:#5B5B5B;">B.Tech + M.Tech - IIT Kanpur</span>
              </div>
            </div>
            <div class="circleright">
              <div><b>94%</b></div>
            </div>
            <div class="colorcircle1">
            </div>
            <div class="col-md-5 studentcard1" style="min-height:300px;">
              <img src="/static/images/shubham_verma.jpg" class="imgstyle" style="margin-bottom: 20px;" />
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endverbatim %}
{% endblock %}
