<html>
  <head>
    <meta charset="utf-8">
    <title>gelo</title>
  </head>
  <body>
    <div class="main here">
    <p>prepared solution</p>
    <p>some addres will come here</p>
    <p>prepared solution</p>
    <p>prepared solution</p>
    <p>prepared solution</p>
    <p>prepared solution</p>
    <p>prepared solution</p>

    </div>
    <div class="main">
      <h2>INVOICE</h2>
    <p>prepared solution</p>
    <p>some addres will come here</p>
    <p>prepared solution</p>
    <p>prepared solution</p>
    <p>prepared solution</p>
    <p>prepared solution</p>
    <p>prepared solution</p>
    </div>
    <div class="submain">
    <p> prepared solution</p>
    <span>Invoice Date:</span>
    <p>some addres will come here</p>
    <span>Order Date:</span>
    <p>  prepared solution</p>
    </div>
    <table>
      <tr class="table_header">
        <th>S.No</th>
        <th>Description of goods</th>
        <th>HSN</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Total</th>
        <th>GST %</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Broucher ( Qty 20 )</td>
        <td>4901</td>
        <td>10</td>
        <td>$250</td>
        <td>$54454</td>
        <td>5 %</td>
        <td>$343434</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Broucher ( Qty 20 )</td>
        <td>4901</td>
        <td>10</td>
        <td>$250</td>
        <td>$54454</td>
        <td>5 %</td>
        <td>$343434</td>
      </tr>
    </table>
    <table class="total">
      <tr>
        <td>Sybtotal</td>
        <td>54598459</td>
      </tr>
      <tr>
        <td>Sybtotal</td>
        <td>54598459</td>
      </tr>
      <tr>
        <td>Sybtotal</td>
        <td>54598459</td>
      </tr>
      <tr>
        <td>Sybtotal</td>
        <td>54598459</td>
      </tr>
      <tr>
        <th>Sybtotal</td>
        <th>54598459</td>
      </tr>
    </table>
  </body>
</html>
