{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="app" ng-controller="ecommerce.main" id="main">
  <head>
    <meta charset="utf-8">
    <title>{{data.seoDetails.title}}</title>

    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{data.seoDetails.description}}"/>
    <link rel="canonical" href="{{data.seoDetails.url}}" />
    <link rel="publisher" href="{{data.seoDetails.publisher}}"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{data.seoDetails.title}}" />
    <meta property="og:description" content="{{data.seoDetails.description}}" />
    <meta property="og:url" content="{{data.seoDetails.url}}" />
    <meta property="og:site_name" content="{{data.seoDetails.site_name}}" />
    <meta property="og:updated_time" content="2018-08-02T07:17:53+00:00" />
    <meta property="og:image" content="https://{{ request.get_host }}{{data.seoDetails.image}}" />
    <meta property="og:image:secure_url" content="https://{{ request.get_host }}{{data.seoDetails.image}}" />
    <meta property="og:image:width" content="{{data.seoDetails.width}}" />
    <meta property="og:image:height" content="{{data.seoDetails.height}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{data.seoDetails.description}}" />
    <meta name="twitter:title" content="{{data.seoDetails.title}}" />
    <meta name="twitter:site" content="{{data.seoDetails.site_name}}" />
    <meta name="twitter:image" content="https://{{ request.get_host }}{{data.seoDetails.image}}" />
    <meta name="twitter:creator" content="{{data.seoDetails.twitter_creator}}" />
    <meta property="article:author" content="{{data.seoDetails.author}}" />





    <!-- stock css libraries -->
    {% if useCDN %}
      <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" charset="utf-8">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.min.css" charset="utf-8">
    {% else %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.paper.min.css' %}" charset="utf-8">
      <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8"> -->
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/animate.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/rzslider.min.css' %}" charset="utf-8">
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/datetimepicker.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/angular-aside.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/ng-tags-input.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/anim-in-out.css' %}" charset="utf-8">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/custom/base.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/app.ecommerce.css' %}" charset="utf-8">
  </head>
  <body style="background-color:white;">
  <!-- <body style="background-image: url(/static/images/sterlingSelect_banner.jpg);"> -->
    {%  verbatim %}

    <div flash-message="4000" style="position:fixed;top:70px;right:10px;z-index:9999;min-width:300px;"></div>
    <div ng-include="headerUrl"></div>
    <div class="row" style="margin:0px;" ng-controller="ecommerce.body" >
      <div class="col-md-{{ cart.length > 0 && !$state.is('checkout') && !$state.includes('account')||!me.pk ?  '10':'12'}}" style="padding:0px;">
        <div ui-view class="anim-in-out anim-fade" data-anim-speed="600" style="min-height:95vh;"></div>
      </div>



      <div class="hidden-lg hidden-md bg-blue text-center" style="position:fixed;bottom:0px;width:100%;"  ng-click="checkout()" ng-if="cart.length>0 && !$state.is('checkout') && !$state.includes('account')">
        <h5 style="color:white;">Checkout ( <i class="fa fa-inr" ></i> {{data.total}} )</h5>
      </div>

      <div class="hidden-lg hidden-md bg-blue text-center" style="position:fixed;bottom:0px;width:100%;"  ng-click="mainPage()" ng-if="addToCart.length>0&&!me.pk">
        <h5 style="color:white;">Checkout ( <i class="fa fa-inr" ></i> {{data.totalVal.toFixed(2)}})</h5>
      </div>


      <div ng-if="cart.length >0 && !$state.is('checkout') && !$state.includes('account')" class="col-md-2 hidden-sm hidden-xs" style="border-left:solid 2px #eeeeee;min-height:100vh;padding:0px; ">

        <div class="" style="position:sticky;top:10px;">

          <img ng-if="!genericImage" src="/static/images/grain.jpg" style="width:100%;" alt="">
          <img ng-if="genericImage" src={{genericImage.cartImage}} style="width:100%;" alt="">

          <div class="row" style="margin:0px;">
            <div class="container-fluid">
              <h2>Cart</h2>
            </div>
          </div>

          <div ng-repeat="p in cart" style="border-bottom:solid 2px #eeeeee; ">
            <h5 style="margin:10px;">{{p.product.product.name}}</h5>

            <div class="row" style="margin:0px;">
              <div class="col-sm-4 text-right">
                <i class="fa fa-minus-circle fa-2x ng-scope" style="cursor:pointer" ng-if="p.qty >0" ng-click="changeQty(p.product.pk , 'decrease');"></i>
              </div>
              <div class="col-sm-4 text-center">
                {{p.qty}}
              </div>
              <div class="col-sm-4 text-left" >
                <i class="fa fa-plus-circle fa-2x" style="cursor:pointer" ng-click="changeQty(p.product.pk , 'increase');"></i>
              </div>
            </div>

            <div class="row" style="margin:0px;padding-left:20px;" >
              <i class="fa fa-inr"></i>  {{(p.product.product.discountedPrice * p.qty).toFixed(2) }}
            </div>

          </div>

          <div class="text-center bg-blue" style="padding:20px;cursor:pointer;" ng-click="checkout()">
            Checkout ( <i class="fa fa-inr" ></i> {{data.total.toFixed(2)}} )
          </div>
        </div>

      </div>


      <div ng-if="addToCart.length>0&&!me.pk" class="col-md-2 hidden-sm hidden-xs" style="border-left:solid 2px #eeeeee;min-height:100vh;padding:0px; ">

        <div class="" style="position:sticky; top:10px;">

          <img src="/static/images/grain.jpg" style="width:100%;" alt="">

          <div class="row" style="margin:0px;">
            <div class="container-fluid">
              <h2>Cart</h2>
            </div>
          </div>

          <div ng-repeat="p in addToCart" style="border-bottom:solid 2px #eeeeee; ">
            <h5 style="margin:10px;">{{p.product.product.name}}</h5>

            <div class="row" style="margin:0px;">
              <div class="col-sm-4 text-right">
                <i class="fa fa-minus-circle fa-2x ng-scope" style="cursor:pointer" ng-if="p.qty >1" ng-click="updateCookieDetail($index , 'decrease');"></i>
              </div>
              <div class="col-sm-4 text-center">
                {{p.qty}}
              </div>
              <div class="col-sm-4 text-left" >
                <i class="fa fa-plus-circle fa-2x" style="cursor:pointer" ng-click="updateCookieDetail($index , 'increase');"></i>
              </div>
            </div>

            <div class="row" style="margin:0px;padding-left:20px;" >
              <i class="fa fa-inr"></i>  {{(p.product.product.discountedPrice*p.qty).toFixed(2)}}
            </div>

          </div>

          <div class="text-center bg-blue" style="padding:20px;cursor:pointer;" ng-click="mainPage()">
            Checkout ( <i class="fa fa-inr" ></i> {{data.totalVal.toFixed(2)}} )
          </div>
        </div>

      </div>
    </div>
    <div ng-include="footerUrl"></div>

    {%  endverbatim %}
    <!-- contains very common ng templates used in the directives -->
    <!-- Stock JS libraries -->

    {% if useCDN %}
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.9/angular-sanitize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
      <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
      <script src="https://cdn.jsdelivr.net/angularjs/1.4.7/angular-animate.min.js"></script>
      <script src="https://cdn.jsdelivr.net/momentjs/2.11.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.min.js"></script>
    {% else %}
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/angular.min.js' %}"></script>
      <script src="{% static 'js/angular-ui-router.min.js' %}"></script>
      <script src="{% static 'js/angular-sanitize.min.js' %}"></script>
      <script src="{% static 'js/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
      <script src="{% static 'js/angular-animate.min.js' %}"></script>
      <script src="{% static 'js/autobahn.min.js' %}"></script>
      <script src="{% static 'js/moment.js' %}"></script>
      <script src="{% static 'js/rzslider.min.js' %}"></script>
    {% endif %}

    <script src="{% static 'js/datetimepicker.js' %}"></script>
    <script src="{% static 'js/angular-flash.js' %}"></script>
    <script src="{% static 'js/ng-tags-input.min.js' %}"></script>
    <script src="{% static 'js/anim-in-out.js' %}"></script>
    <script src="{% static 'js/angular-bootstrap-confirm.min.js' %}"></script>
    <!-- Custom JS files -->
    <script type="text/javascript">
      var wampServer = '{{wampServer}}';
      var wampBindName = "{{user.username}}";
    </script>
    <script src="{% static 'js/app.ecommerce.public.js' %}"></script>
    <script src="{% static 'js/custom/wampProcessors.js' %}"></script>
    <script src="{% static 'js/custom/nativeJS.js' %}"></script>
    <script src="{% static 'js/custom/services.js' %}"></script>
    <script src="{% static 'js/custom/directives.js' %}"></script>
    <script src="{% static 'js/custom/directive.table.js' %}"></script>
    <script src="{% static 'js/custom/directives.native.js' %}"></script>
    <script src="{% static 'js/custom/filters.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-meta/1.0.3/ngMeta.min.js"></script>

  </body>
</html>
