<html>

<head onload="submitPayuForm()">
  <script type="text/javascript">
    var hash = "{{ hashh }}";

    function submitPayuForm() {
      if (hash == '') {
        return;
      }
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
  </script>
</head>

<body>
  <h2>PayU Form</h2>
  <br/>
  <form action={{ action }} method="post" name="payuForm">
    <input type="hidden" name="key" value="{{ key }}" />
    <input type="hidden" name="hash" value="{{ hash }}" />
    <input type="hidden" name="amount" value="{{ amount|default:'' }}" />
    <input type="hidden" name="txnid" value="{{ txnid }}" />
    <input type="hidden" name="firstname" id="firstname" value="{{ firstname|default:'' }}" />
    <input type="hidden" name="email" id="email" value="{{ email|default:'' }}" />
    <input type="hidden" name="phone" value="{{ phone|default:'' }}" />
    <input type="hidden" name="productinfo" value="{{ productinfo|default:'' }}">
    <input type="hidden" name="surl" value="{{ surl }}" size="64" />
    <input type="hidden" name="furl" value="{{ furl }}" size="64" />
    <input type="submit" value="Submit" />
    </tr>
    </table>
  </form>
</body>

</html>
