<div class="col-md-4" style="padding-bottom:10px;padding-left:10px;padding-right:10px" ng-controller="businessManagement.finance.expenseClaims.item">
  <div class="card" style="padding:10px;border-radius:20px">
  <div class="row" ng-click="rowActionClicked('costCenterBrowser')" style="cursor:pointer">
    <div class="col-md-2">
      <img ng-src="{{data.head.pk | getDP}}" class="img-circle pull-right" width="40"/>
    </div>
    <div class="col-md-10">
      <div class="row">
        <span style="font-size:20px;" class="text-muted"><strong>Name : </strong> {{data.name}}</span>
      </div>
      <div class="row">
        <strong>Code : </strong> <span>{{data.code}}</span>
      </div>
      <div class="row">
        <strong>Account : </strong> <span>{{data.account.number}}</span>
      </div>
    </div>
  </div>
  <i class="fa fa-pencil fa-2x text-primary" ng-click="rowActionClicked('edit')" style="position:absolute;right:20px;bottom:10px;cursor:pointer;">
  </i>
</div>
</div>
