<div ng-controller="businessManagement.finance.inboundInvoices.form">
  <div class="container-fluid">
    <h3 ng-if="mode=='new'">Create a new PO</h3>
    <h3 ng-if="mode=='edit'">Edit PO </h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text " class="form-control" ng-model="form.name">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Responsible Person</label>
              <input type="text " class="form-control" ng-model="form.personName">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <input type="text " class="form-control" ng-model="form.address">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>PO Number</label>
              <input type="text " class="form-control" ng-model="form.poNumber">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Quotation Number</label>
              <input type="text " class="form-control" ng-model="form.quoteNumber">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Delivery Date</label>
              <div class="input-group">
                <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.deliveryDate" is-open="status.opened" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Terms & Condition</label>
              <input type="text " class="form-control" ng-model="form.terms">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row" style="padding-top:10px" ng-if="!options">
      <a class="btn" href="" ng-click="showOption()"> <i class="fa fa-arrow-down"></i> Add PO Details </a>
    </div>
    <div class="row" style="padding-top:20px"  ng-if="options">
      <div class="col-md-9">
        <!-- <div class="row" style="border-bottom:solid 2px #eeeeee;margin:5px"> -->
        <table class="invoiceTable" style=" width: 100%;">
          <tbody>
            <tr style="background-color: #eeeeee;height: 50px;">
              <th>S.No</th>
              <th >Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th></th>
            </tr>
            <tr ng-repeat="v in products track by $index">
              <td>{{$index + 1}}</td>
              <td><input type="text" class="form-control-pos text-center" ng-model="v.product" ></td>
              <td><input type="text" class="form-control-pos text-center" ng-model="v.price" ></td>
              <td><input type="text" class="form-control-pos text-center" ng-model="v.qty" ></td>
              <td><button type="button" class="btn btn-danger btn-sm" ng-click="deleteData(v.pk , $index)"> <i class="fa fa-trash"></i> </button></td>
            </tr>
            <tr  >
              <td ><button style="background-color:white;border:none;" ng-click="addTableRow($index)" ><i class="fa fa-plus" style="cursor:pointer"></i></button></td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="row" ng-if="showbutton" style="padding-top:15px">
          <div class="col-md-11">
            <button type="button" class="btn btn-success pull-right" mwl-confirm title="Confirm" message="Are you sure?" data-placement="top" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="sendForApproval()"
              confirm-button-type="default" cancel-button-type="default"> Send For Approval</button>
          </div>
        </div> -->
      </div>
    </div>

  <div class="row" style="padding-top:15px">
    <div class="col-md-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
          <button ng-if="mode=='new'" type="button" class="btn btn-default" ng-click="refresh()">Refresh</button>
      </div>
    </div>

    </div>
    <div>
      <!-- <div class="container-fluid" ng-if="mode=='edit'">
    <h3>Edit {{form.service.name}} Profile</h3>
  </div> -->
    </div>
