<div class="" style="height:93vh;position:relative;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8">
            <div class="row" style="height:40vh">
              <div class="col-md-12">
                <div class="container-fluid">
                  <canvas id="active-line-chart" height="100">
              </canvas>
                </div>
              </div>
            </div>
            <div class="row" style="height:43vh">
              <div class="col-md-12">
                <div class="container-fluid" style="margin-top:10px;">
                  <canvas id="items-bar-chart" height="120">
              </canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h3>Expenses On Project Wise</h3><br>
            </div>
            <div class="col-md-6 text-center" style="position:relative;padding-bottom:15px;height:35vh" ng-repeat="pjExp in projExpData">
              <span class="doughnut_text"> <b>{{pjExp.expPercent}}%</b> </span>
              <canvas id="expense-doughnut-chart{{$index}}" height="250" ng-click="showProjectForm(pjExp)" style="cursor:pointer"></canvas>
              <strong>Project : </strong><span>{{pjExp.title}}</span><br>
              <strong>Budget : </strong><span>{{pjExp.budget | number}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
