<div ng-controller="businessManagement.finance.inboundInvoices.explore">

  <div class="row" style="padding-top:20px">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Name : </strong>
            </div>
            <div class="col-md-6">
              <span>{{data.name}}</span>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Person Name : </strong>
            </div>
            <div class="col-md-6">
              <span>{{data.personName}}</span>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Email : </strong>
            </div>
            <div class="col-md-6">
              <span>{{data.email}}</span>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Phone : </strong>
            </div>
            <div class="col-md-6">
              <span>{{data.phone}}</span>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Address : </strong>
            </div>
            <div class="col-md-6">
              <span>{{data.address}}</span>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> GSTIN : </strong>
            </div>
            <div class="col-md-6">
              <span>{{data.gstIn}}</span>
            </div>
          </div>
          <!-- <div class = "row"  style="padding-top:10px">
            <div class="col-md-6 text-right">
                <strong> PO Number :  </strong>
            </div>
            <div class="col-md-6">
                <span>{{data.poNumber}}</span>
            </div>
          </div> -->
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Delivery Date : </strong>
            </div>
            <div class="col-md-6">
              <span>{{data.deliveryDate}}</span>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Payment Due Date : </strong>
            </div>
            <div class="col-md-6">
              <span>{{data.paymentDueDate}}</span>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Bank Name : </strong>
            </div>
            <div class="col-md-6">
              <span> {{data.invoiceTerms}}</span>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-6 text-right">
              <strong> Terms & Condition : </strong>
            </div>
            <div class="col-md-6">
              <span> {{data.invoiceTerms}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <wizard steps="projectSteps.steps" editable="false" active="data.selectedStatus" error="false"></wizard>
      </div>
      <div class="row" style="padding-top:15px">
        <table class="invoiceTable" style=" width: 100%;">
          <tbody>
            <tr style="background-color: #eeeeee;height: 50px;">
              <th>S.No</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>HSN/SAC Code</th>
              <th>Tax (%)</th>
              <th>Sub Total</th>
            </tr>
            <tr ng-repeat="v in products track by $index">
              <td>{{$index + 1}}</td>
              <td>{{v.product}}</td>
              <td>{{v.price}}</td>
              <td>{{v.receivedQty}}</td>
              <td>{{v.hsn}}</td>
              <td>{{v.tax}}</td>
              <td>{{v.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row text-right" style="padding-top:10px">
        <div class="col-md-12">
          <button class="btn btn-success" ng-click="sentEmail()"> <i class="fa fa-paper-plane" ></i> Send Email </button>
          <span ><a class="btn btn-primary" target="_blank" href="/api/finance/invoiceDownload?value={{data.pk}}&typ=inbond" style="min-width:50px"><i class="fa fa-download "></i> Download Invoice</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
