<div class="modal-header text-center" style="font-size:20px">
  <strong>Transaction details</strong>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <strong>From : </strong>{{transaction.fromAcc.number}}<span class="text-muted"> ( {{transaction.fromAcc.bank}} )</span>
    </div>
    <div class="row">
      <strong>To : </strong>{{transaction.toAcc.number}}<span class="text-muted"> ( {{transaction.toAcc.bank}} )</span>
    </div>
    <div class="row">
      <strong>Amount : </strong>{{transaction.amount | number}}
    </div>
    <div class="row">
      <strong>Transacted By : </strong>{{transaction.user | getName}}
    </div>
    <div class="row">
      <strong>Balance Left : </strong>{{transaction.balance}}
    </div>
    <div class="row" ng-if="transaction.externalReferenceID">
      <strong>External Reference : </strong>{{transaction.externalReferenceID}}
    </div>
    <div class="row" ng-if="transaction.externalConfirmationID">
      <strong>External Confirmation : </strong>{{transaction.externalConfirmationID}}
    </div>
    <div class="row" ng-if="transaction.externalConfirmationID">
      <strong>API : </strong>{{transaction.api}}
    </div>
    <div class="row" ng-if="transaction.externalConfirmationID">
      <strong>API Call Parameter : </strong>{{transaction.apiCallParams}}
    </div>
  </div>
</div>
