<div ng-controller="businessManagement.finance.purchaseOrder.form">
  <h3 ng-if="mode=='new'">Create a new PO</h3>
  <h3 ng-if="mode=='edit'">Edit PO </h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="form-group">
            <label>Company Name</label>
            <input type="text " class="form-control" ng-model="form.name">
          </div>
          <div class="form-group">
            <label>Responsible Person</label>
            <input type="text " class="form-control" ng-model="form.personName">
          </div>
          <div class="form-group">
            <label>Contact Number</label>
            <input type="text " class="form-control" ng-model="form.phone">
          </div>
          <div class="form-group">
            <label>Contact Email</label>
            <input type="text " class="form-control" ng-model="form.email">
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" rows="4" cols="80" ng-model="form.address"></textarea>
          </div>
          <div class="form-group">
            <label>Pincode</label>
            <input type="text " class="form-control" ng-model="form.pincode"  uib-typeahead="pin as pin.pincode for pin in pinSearch($viewValue)">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- <div class="form-group">
          <label>PO Number</label>
          <input type="text " class="form-control" ng-model="form.poNumber">
        </div> -->
        <div class="form-group">
          <label>Quotation Number</label>
          <input type="text " class="form-control" ng-model="form.quoteNumber">
        </div>
        <div class="form-group">
          <label>Quotation Date</label>
          <div class="input-group">
            <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.quoteDate" is-open="quote.opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="quote.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
        </div>
        <div class="form-group">
          <label>Delivery Date</label>
          <div class="input-group">
            <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.deliveryDate" is-open="status.opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
        </div>

        <div class="form-group">
          <label>Terms & Condition</label>
          <textarea class="form-control" ng-model="form.terms" rows="8" cols="80"></textarea>
        </div>
      </div>


      <div class="col-md-4">

        <div class="form-group">
          <label>Project</label>
          <input type="text" class="form-control" ng-model="form.project" uib-typeahead="project as project.title for project in projectSearch($viewValue)">
        </div>

        <br>
        <br>
        <div class="row text-center">
          <span>OR</span>
        </div>

        <div class="form-group">
          <label>Cost Center</label>
          <input type="text" class="form-control" ng-model="form.costcenter" uib-typeahead="cost as cost.name for cost in costCenterSearch($viewValue)">
        </div>

        <br>
        <br>

        <div class="row text-center">
          <span>OR</span>
        </div>

        <div class="form-group">
          <label>Business Unit</label>
          <input type="text" class="form-control" ng-model="form.bussinessunit" uib-typeahead="unit as unit.name for unit in bussinessUnit($viewValue)">
        </div>
      </div>


    </div>
    <div class="row" style="padding-top:20px" >
      <div class="col-md-8" style="padding:0px;">
        <!-- <div class="row" style="border-bottom:solid 2px #eeeeee;margin:5px"> -->
        <table class="invoiceTable" style=" width: 100%;">
          <tbody>
            <tr style="background-color: #eeeeee;height: 50px;">
              <th>S.No</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th></th>
            </tr>
            <tr ng-repeat="v in products track by $index">
              <td>{{$index + 1}}</td>
              <!-- <td><input type="text" class="form-control-pos text-center" ng-model="v.product"></td> -->
              <td><input type="text" class="form-control-pos text-center" ng-model="v.product" uib-typeahead="p as p.product for p in productSearch($viewValue)"></td>
              <td><input type="text" class="form-control-pos text-center" ng-model="v.price"></td>
              <td><input type="text" class="form-control-pos text-center" ng-model="v.qty"></td>
              <td><button type="button" class="btn btn-danger btn-sm" ng-click="deleteData(v.pk , $index)"> <i class="fa fa-trash"></i> </button></td>
            </tr>
            <tr>
              <td><button style="background-color:white;border:none;" ng-click="addTableRow($index)"><i class="fa fa-plus" style="cursor:pointer"></i></button></td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="row" ng-if="showbutton" style="padding-top:15px">
          <div class="col-md-11">
            <button type="button" class="btn btn-success pull-right" mwl-confirm title="Confirm" message="Are you sure?" data-placement="top" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="sendForApproval()"
              confirm-button-type="default" cancel-button-type="default"> Send For Approval</button>
          </div>
        </div> -->
      </div>
    </div>

    <div class="row" style="padding-top:15px">
      <div class="col-md-12">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
          <button ng-if="mode=='new'" type="button" class="btn btn-default" ng-click="refresh()">Refresh</button>
        </div>
      </div>

    </div>
    <div>
      <!-- <div class="container-fluid" ng-if="mode=='edit'">
    <h3>Edit {{form.service.name}} Profile</h3>
  </div> -->
    </div>
