<div class="col-md-4" style="padding-bottom:10px;padding-left:10px;padding-right:10px">
  <div class="card" style="padding:20px;padding-bottom:5px;border-radius:20px;border:1px solid {{data.isInvoice?'#7bf655':'#87bcf8'}}">
    <div class="row" ng-click="rowActionClicked('explore')" style="cursor:pointer">
      <div class="col-md-12">
        <span style="font-size:23px;" class="text-muted"># {{data.poNumber}}</span>
      </div>
      <div class="col-md-12">
        <span style="font-size:20px;"><i class="fa fa-building"></i> {{data.name}}</span>
      </div>
      <div class="col-md-12">
        <span style="font-size:20px;"><i class="fa fa-user"></i> {{data.personName}}</span>
      </div>
      <div class="col-md-12">
        <span style="font-size:20px;"><i class="fa fa-phone"></i> {{data.phone}}</span>
      </div>
      <div class="col-md-12">
        <span style="font-size:20px;"><i class="fa fa-envelope"></i> {{data.email}}</span>
      </div>
    </div>
    <div class="row" style="padding-right:10px">
      <i class="fa fa-pencil fa-2x text-primary pull-right" ng-click="rowActionClicked('edit')" style="cursor:pointer;">
      </i>
    </div>
  </div>
</div>
